
  <% @character_races = {0 => "Titan", 1 => "Hunter", 2 => "Warlock"} %>
  <% @character_images = {
      0 => "https://assets.tentonhammer.com/guides/attached_images/000/000/188/medium/destiny-titan-hero-image.jpg?1468380213", 
      1 => "http://oyster.ignimgs.com/mediawiki/apis.ign.com/destiny/thumb/2/2a/Hunter.jpg/468px-Hunter.jpg", 
      2 => "http://oyster.ignimgs.com/mediawiki/apis.ign.com/destiny/thumb/6/6b/Warlock.jpg/468px-Warlock.jpg"
    }
  %>
  <div class="container" style="width: 100%" >
    <section class="hero is-medium is-dark is-bold post-header-background hide-on-med-and-down">
      <div class="hero-body">
        <div class="container">
          <h1 class="title hero">
            <%= @user.display_name %>
          </h1>
          <h2 class="subtitle profile">
            Player Profile
          </h2>
        </div>
      </div>
    </section>

    <div class="row" style="margin-left: 0 !important; margin-right: 0 !important; margin-bottom: -4% !important;">
      <div class="col s12" style="padding: 0 !important; margin-bottom: -2%;">
        <ul class="tabs light-gradient">
          <li class="tab col s3 active"><a href="#profile" style="color: #363636; font-weight: 600;">Profile</a></li>
          <li class="tab col s3"><a href="#trials" style="color: #363636; font-weight: 600;">Trials of Osiris</a></li>
          <li class="tab col s3"><a href="#raids" style="color: #363636; font-weight: 600;">Raids</a></li>
          <li class="tab col s3"><a href="#pvp" style="color: #363636; font-weight: 600;">PVP</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container" style="width: 85%">
    <div id="profile">
      <%= render 'shared/profile' %>
    </div>
    <div id="trials" >
      <%= render 'shared/trials_stats' %>
    </div>
    <div id="raids" >
      <%= render 'shared/raids_stats' %>
    </div>
    <div id="pvp" >
        <%= render 'shared/pvp_stats' %>
    </div>
  </div>








      
       