
<% @character_races = {0 => "Titan", 1 => "Hunter", 2 => "Warlock"} %>
<% @character_images = {
    0 => "https://assets.tentonhammer.com/guides/attached_images/000/000/188/medium/destiny-titan-hero-image.jpg?1468380213", 
    1 => "http://oyster.ignimgs.com/mediawiki/apis.ign.com/destiny/thumb/2/2a/Hunter.jpg/468px-Hunter.jpg", 
    2 => "http://oyster.ignimgs.com/mediawiki/apis.ign.com/destiny/thumb/6/6b/Warlock.jpg/468px-Warlock.jpg"
  }
%>

<section class="hero is-dark is-bold">
  <!-- Hero header: will stick at the top -->
  <div class="hero-head"> 

  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
            <%= @user.display_name %>
          </h1>
          <h2 class="subtitle">
            Trials of Osiris
          </h2>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        
      </div>
    </nav>
  </div>
        
</section>

      
        <div id="tabs">
          <div class="tabs is-toggle is-fullwidth">
          <ul>
            <li><a href="#trials">Trials</a></li>
            <li><a href="#raids">Raids</a></li>
            <li><a href="#pvp">PVP</a></li>
            <li><a href="#profile">Profile</a></li>
          </ul>
           </div>
           <div id="profile">
            <%= render 'shared/profile' %>
          </div>
           <div id="trials">
            <%= render 'shared/trials_stats' %>
          </div>
          <div id="raids">
            <%= render 'shared/raids_stats' %>
          </div>
          <div id="pvp">
              <%= render 'shared/pvp_stats' %>
          </div>
      </div>
    <br> <br>

