<% characters = get_characters(current_user)%>

<div class="col s12">
    <ul class="tabs tabs-fixed-width post-form-tabs" style="background-color: #5085a5; width: 107%; margin: -3.5%;" >
        <li class="tab col s6"><a href="#pvp" class="post-form-tabs">PVP</a></li>
        <li class="tab col s6"><a href="#pve" class="post-form-tabs">PVE</a></li>

    </ul>
</div>
<div id="pvp">

    <div class="row">
        <%= form_for Micropost.new, :html => {:class => "col s12"}, remote: true do |f| %>

            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <label class="gametype-label" style="top: -25px;">Gametype</label>
                    <%= f.select :game_type, ["Trials of Osiris"], {}, {id: "pvp-game-select" } %>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 m6">
                    <label class="mic-label" style="top: -25px;">Have a mic?</label>
                    <%= f.select :mic_required, [["Yes", true], ["No", false] ], {}, {id: "mic_choice" } %>
                </div>
                <div class="input-field col s12 m6">
                    <label class="mic-label" style="top: -25px;">Looking for...</label>
                    <%= f.select :looking_for, ["Any", "Sherpa", "Sherpee", "Similar"], {}, {id: "looking_for" } %>
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <div class="input-field col s12 m4">
                        <label class="character-label" style="top: -25px;">Character</label>
                        <%= f.select :character_choice, characters, {}, {id: "character_choice" } %>
                    </div>
                    <div class="input-field col s12 m8">
                        <i class="material-icons prefix">mode_edit</i>
                        <%= f.text_area :content, class: "materialize-textarea no-padding", id: "icon_prefix2", placeholder: "Message...", "data-length" => '50' %>
                    </div>
                </div>
            </div>

            <%= f.submit "Post", class: "btn waves-effect waves-light" %>
        <% end %>
    </div>
    <hr>
</div>
<div id="pve">

    <div class="row">
        <%= form_for Micropost.new, :html => {:class => "col s12"}, remote: true do |f| %>
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <label class="gametype-label" style="top: -25px;">Gametype</label>
                    <%= f.select :game_type, ["Wrath of the Machine", "King's Fall", "Crota's End", "Vault of Glass", "Nightfall"], {}, {id: "pve-game-select" } %>
                </div>

                <!-- <div class="input-field col s4">
                    <div class="switch" id="difficulty">
                        <label style="color: #212144;">
                            Normal
                            <input type="checkbox" class="checkbox" value="1" name="micropost[raid_difficulty]" id="micropost_raid_difficulty"> 
                            <span class="lever"></span>
                            Hard        
                        </label>
                    </div>
                </div> -->

                <div class="input-field col s12 m6 l6" id="difficulty">
                    <label class="difficulty-label" style="top: -25px;">Difficulty</label>
                    <%= f.select :raid_difficulty, ["Normal", "Hard"], {}, {id: "difficulty" } %>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 m6">
                    <label class="mic-label" style="top: -25px;">Have a mic?</label>
                    <%= f.select :mic_required, [["Yes", true], ["No", false] ], {}, {id: "mic_choice" } %>
                </div>
                <div class="input-field col s12 m6">
                    <label class="mic-label" style="top: -25px;">Looking for...</label>
                    <%= f.select :looking_for, ["Any", "Sherpa", "Sherpee", "Similar"], {}, {id: "looking_for" } %>
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <div class="input-field col s12 m4">
                        <label class="character-label" style="top: -25px;">Character</label>
                        <%= f.select :character_choice, characters, {}, {id: "character_choice" } %>
                    </div>
                    <div class="input-field col s12 m8">
                        <i class="material-icons prefix">mode_edit</i>
                        <%= f.text_area :content, class: "materialize-textarea no-padding", id: "icon_prefix2", placeholder: "Message...", "data-length" => '50' %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="switch">
                        <label>
                            Off
                            <input type="checkbox">
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                    </div>
            </div>
            <%= f.submit "Post", class: "btn waves-effect waves-light" %>
        <% end %>
    </div>
    <hr>
</div>
