<div class="container ">
  <div class="row">
    <h1 class="center" >REPUTATION</h1>
          <div class="col s4">
            <%= image_tag( @user["profile_picture"])%>
            
          </div>
          <div class="col s8">      
            <% total = @user.votes_for + @user.votes_against %>      
            <% rep =  total != 0  ? ((@user.votes_for / total).round(1) * 100) : "0" %>
            <p>Positive votes: <%= @user.votes_for %> | Negative votes: <%= @user.votes_against %></p>
            <p>Net Ranking: <%= @user.plusminus %> | Rep Percentage: <%= rep %> % </p>
            <p>Already voted: <%= current_user.voted_for?(@user) %></p>

            <% if current_user.voted_for?(@user) %>
              <%= link_to users_upvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn disabled" do %>
                <i class="material-icons">thumb_up</i>
              <% end %>

              <%= link_to users_unvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn" do %>
                <i class="material-icons">cancel</i>
              <% end %>

              <%= link_to users_downvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn disabled" do %>
                <i class="material-icons">thumb_down</i>
              <% end %>
            <% else %>
              <%= link_to users_upvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn" do %>
                <i class="material-icons">thumb_up</i>
              <% end %>

              <%= link_to users_unvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn disabled" do %>
                <i class="material-icons">cancel</i>
              <% end %>

              <%= link_to users_downvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn" do %>
                <i class="material-icons">thumb_down</i>
              <% end %>
            <% end %>
          </div>

        </div>

</div>





