  <div class="container ">
    <div class="row">
      <h4 class="center">PLAYER REPUTATION</h4>
      <hr>
            <div class="col s12 m6">
              <%= image_tag( @user["profile_picture"])%>
              
            </div>
            <div class="col s12 m6">      
              <% total = @user.votes_for + @user.votes_against %>      
              <% rep =  total != 0  ? ((@user.votes_for / total).round(1) * 100) : "0" %>
              <p>Positive votes: <%= @user.votes_for %> | Negative votes: <%= @user.votes_against %></p>
              <p>Net Ranking: <%= @user.plusminus %> | Rep Percentage: <%= rep %> % </p>
              <% if user_signed_in? %>
              <p>Already voted for this user?: <%= current_user.voted_for?(@user) %></p>
              <%if @user != current_user %>
                  <% if current_user.voted_for?(@user) %>
                    <%= link_to users_upvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn disabled" do %>
                      <i class="material-icons">thumb_up</i>
                    <% end %>

                    <%= link_to users_unvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn" do %>
                      <i class="material-icons">cancel</i>
                    <% end %>

                    <%= link_to users_downvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn disabled" do %>
                      <i class="material-icons">thumb_down</i>
                    <% end %>
                  <% else %>
                    <%= link_to users_upvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn" do %>
                      <i class="material-icons">thumb_up</i>
                    <% end %>

                    <%= link_to users_unvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn disabled" do %>
                      <i class="material-icons">cancel</i>
                    <% end %>

                    <%= link_to users_downvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn" do %>
                      <i class="material-icons">thumb_down</i>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>

          </div>

          <div class="row">
            <div class="col s12">
              <h4>Badges:</h4>
                    <% @user.badges.each do |badge| %>                
                        <div class="chip tooltipped" style='<%= badge.custom_fields[:color] %>'data-position="top" data-delay="50" data-tooltip="<%= badge.description %>">
                          <%= badge.name %>
                          <%= badge.custom_fields[:icon].html_safe %>
                        </div>                
                    <% end %>
            </div>
          </div>
  </div>


      
