<% info = get_stats("too") %>

<% username = @user.nil? ? @team_stat.display_name : @user.display_name %>

<% if info.nil? %> 
  <div class="container">
    ERROR: n00b!  NO TRIALS STATS FOUND FOR THIS PLAYER
  </div>
<% else %> 

  <% info.each_with_index do |x, index| %>
        
  <br/>
<div ><!--OPEN FIRST CHARACTER--> 

        <div class="row white z-depth-2">

            <div class="col s12 m3 center-align">
                <div class="row" style="margin-top:15%; margin-left:6%;">
                <div class="hlighten-5 z-depth-1 hoverable center-align" style="max-height: 400px; max-width: 255px;">
                <% bg = "background-image: url(#{x["Character Items"]["Emblem Background"]});" %>
                    <div class="post-header" style="<%= bg %>">
                        <div class="row" style="overflow: hidden; max-height: 65px; ">
                            <div class="col s12 m3 left-align" style="padding: 0; height: 65px;"><%= image_tag x["Character Items"]["Emblem"]["Item Icon"], style:"max-width: calc(100% - 2.6em); min-width: 65px; position: relative; right: 3%; height: auto;" %></div>
                            <div class="col s12 m6 center-align" style="height: 65px; color: white; margin-top: 8%"><%= username %></div>
                            <div class="col s12 m3 center-align" style="height: 65px; color: white;">
                                <span style="color: gold; position: relative; top: 15%; line-height: 0.5em; font-weight: 300; font-size: 1.3em; margin-left: -70%;">✦ <%= x["Character Stats"]["Light Level"] %> </span>
                                <span style ="font-weight: 300; font-size: 0.9em; margin-left: -50%;"><%= @character_races[x["Character Type"]] %></span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            <div class="row" style="margin-top: 15%;">
                <div class="col s6 center-align" style="color: grey; font-size: 17px;"><%= x["Character Stats"]["K/D Ratio"] %> <span style="color:#cc0000;">KD</span></div>
                <div class="col s6 center-align" style="color: grey; font-size: 17px;"><%= x["Character Stats"]["ELO"] %> <span style="color:#cc0000;">ELO</span></div>
            </div>

            <div class="row"> <!--OPEN ROW-->
                        <div class="col s12 player-reputation-trials center-align" style="color: grey; margin-top: -6%;">Player Reputation</div>


                        <div class="col s12 center-align"> 
                            <% if !@user.nil? %>     
                                <% total = @user.votes_for + @user.votes_against %>      
                                <% rep =  total != 0  ? ((@user.votes_for / total).round(1) * 100) : "0" %>
                                <% if current_user.voted_for?(@user) %>
                                <%= link_to users_upvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn disabled" do %>
                                    <i class="material-icons">thumb_up</i>
                                <% end %>

                                <%= link_to users_downvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn disabled" do %>
                                    <i class="material-icons ">thumb_down</i>
                                <% end %>
                                <% else %>
                                <%= link_to users_upvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn" do %>
                                    <i class="material-icons">thumb_up</i>
                                <% end %>


                                <%= link_to users_downvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn" do %>
                                    <i class="material-icons">thumb_down</i>
                                <% end %>
                                <% end %>
                            <% end %>
                        </div><!--CLOSE COLUMN-->
                        <div class="col s12 center-align" style="color:#cc0000;"><%= x["Character Items"]["Subclass"]["Item Name"] %></div>
                    
                    </div><!--CLOSE ROW-->


                            
            </div>

            <div class="col s12 m9 center-align">
                            <div class="row">

                                    <div class="col s12 m4 center-align">

                                    <table class="bordered">
                                    <tr>
                                        <td><div class="col s4 m4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Primary Weapon"]["Item Name"] %>" src=<%= x["Character Items"]["Primary Weapon"]["Item Icon"] %> alt=""></div></td>
                                        <td style="font-size: 12px;"><%= x["Character Items"]["Primary Weapon"]["Item Name"] %></td>
                                        <td><div class="col s4 m4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Helmet"]["Item Name"] %>" src=<%= x["Character Items"]["Helmet"]["Item Icon"] %> alt=""></div></td>
                                        <td style="font-size: 12px;"><%= x["Character Items"]["Helmet"]["Item Name"] %></td>
                                    </tr>
                                    <tr>
                                       <td><div class="col s4 m4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Secondary Weapon"]["Item Name"] %>" src=<%= x["Character Items"]["Secondary Weapon"]["Item Icon"] %> alt=""></div></td>
                                        <td  style="font-size: 12px;"><%= x["Character Items"]["Secondary Weapon"]["Item Name"]%></td>
                                        <td><div class="col s4 m4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Gauntlets"]["Item Name"] %>" src=<%= x["Character Items"]["Gauntlets"]["Item Icon"] %> alt=""></div></td>
                                        <td style="font-size: 12px;"><%= x["Character Items"]["Leg Armor"]["Item Name"] %></td>
                                    </tr>
                                    <tr>
                                        <td><div class="col s4 m4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Heavy Weapon"]["Item Name"] %>" src=<%= x["Character Items"]["Heavy Weapon"]["Item Icon"] %> alt=""></div></td>
                                        <td style="font-size: 12px;"><%= x["Character Items"]["Heavy Weapon"]["Item Name"] %></td>
                                        <td><div class="col s4 m4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Chest Armor"]["Item Name"] %>" src=<%= x["Character Items"]["Chest Armor"]["Item Icon"] %> alt=""></div></td>
                                        <td style="font-size: 12px;"><%= x["Character Items"]["Chest Armor"]["Item Name"] %></td>
                                    </tr>
                                    </table>

                                            
                                            
                                            
                                            
                                 </div>           
                               

                                <div class="col s12 m4 offset-m1 center-align">
                                            <table style="color:grey;"> 
                                                <tr> 
                                                    <th></th>
                                                    <th  style="font-size: 12px; color:#cc0000;" class="center-align table-header-trials">Week<hr></th>
                                                    <th  style="font-size: 12px; color:#cc0000;" class="center-align table-header-trials">Map<hr></th>
                                                </tr>
                                                <tr> 
                                                    <th style="font-size: 12px;" class="center-align table-header-trials" style="color:#cc0000;">KD</th>
                                                    <th style="font-size: 12px;" class="trials-table-stats center-align">?</th>
                                                    <th style="font-size: 12px;" class="trials-table-stats center-align">?</th>
                                                </tr>
                                                <tr> 
                                                    <th style="font-size: 12px;" class="center-align table-header-trials" style="color:#cc0000;">KA/D</th>
                                                    <th style="font-size: 12px;" class="trials-table-stats center-align">?</th>
                                                    <th style="font-size: 12px;" class="trials-table-stats center-align">?</th>
                                                </tr>
                                                <tr> 
                                                    <th style="font-size: 12px;" class="center-align table-header-trials" style="color:#cc0000;">Wins</th>
                                                    <th style="font-size: 12px;" class="trials-table-stats center-align">?</th>
                                                    <th style="font-size: 12px;" class="trials-table-stats center-align">?</th>
                                                </tr>
                                                 <tr> 
                                                    <th style="font-size: 12px;"  class="center-align table-header-trials" style="color:#cc0000;">Losses</th>
                                                    <th style="font-size: 12px;"  class="trials-table-stats center-align">?</th>
                                                    <th style="font-size: 12px;"  class="trials-table-stats center-align">?</th>
                                                </tr>
                                            

                                                </table>

                                </div>

                                <div class="col s12 m3 center-align">

                                    <h5 style="color:grey; font-size: 13px;">Badges<hr></h5>
                                    <ul>
                                    
                                    </ul>

                                </div>


                                
                            
                            


                    </div>
                </div>
            
            
            </div>





     
    



</div><!--CLOSE FIRST CHARACTER-->
  <% end %>
<% end %> 