<% info = get_stats("too") %>

<% username = @user.nil? ? @player_stat.display_name : @user.display_name %>

<% if info.nil? %> 
  <div class="container games">
    ERROR: n00b!  NO TRIALS STATS FOUND FOR THIS PLAYER
  </div>
<% else %>  
<br/>
 
<div>
<% info.each_with_index do |x, index| %>

<br/>
<div ><!--OPEN FIRST CHARACTER--> 

        <div class="row white z-depth-2">

            <div class="col s12 m3 center-align">
                <div class="row">
                <div class="card-panel grey lighten-5 z-depth-1 hoverable center-align" style="max-height: 400px; min-width: 235px;">
                <% bg = "background-image: url(#{x["Character Items"]["Emblem Background"]});" %>
                    <div class="post-header" style="<%= bg %>">
                        <div class="row" style="overflow: hidden; max-height: 65px; ">
                            <div class="col s12 m3 left-align" style="padding: 0; height: 65px;"><%= x["Character Stats"]["Emblem Background"] %></div>
                            <div class="col s12 m6 center-align" style="height: 65px; color: white; margin-top: 10%"><%= username %></div>
                            <div class="col s12 m3 center-align" style="height: 65px; color: white;">
                                <span style="color: gold; position: relative; top: 15%; line-height: 0.5em; font-weight: 300; font-size: 0.9em; margin-left: -70%;">✦ <%= x["Character Stats"]["Light Level"] %> </span>
                                <span style ="font-weight: 300; font-size: 0.9em; margin-left: -50%;"><%= @character_races[x["Character Type"]] %></span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            <div class="row">
                <div class="col s6 center-align" style="color: grey; font-size: 17px;"><%= x["Character Stats"]["K/D Ratio"] %> <span style="color:#cc0000;">KD</span></div>
                <div class="col s6 center-align" style="color: grey; font-size: 17px;"><%= x["Character Stats"]["ELO"] %> <span style="color:#cc0000;">ELO</span></div>
            </div>

            <div class="row"> <!--OPEN ROW-->
                        <div class="col s12 player-reputation-trials center-align" style="color: grey;">Player Reputation</div>


                        <div class="col s12 center-align"> 
                            <% if !@user.nil? %>     
                                <% total = @user.votes_for + @user.votes_against %>      
                                <% rep =  total != 0  ? ((@user.votes_for / total).round(1) * 100) : "0" %>
                                <% if current_user.voted_for?(@user) %>
                                <%= link_to users_upvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn disabled" do %>
                                    <i class="material-icons">thumb_up</i>
                                <% end %>

                                <%= link_to users_downvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn disabled" do %>
                                    <i class="material-icons ">thumb_down</i>
                                <% end %>
                                <% else %>
                                <%= link_to users_upvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn" do %>
                                    <i class="material-icons">thumb_up</i>
                                <% end %>


                                <%= link_to users_downvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn" do %>
                                    <i class="material-icons">thumb_down</i>
                                <% end %>
                                <% end %>
                            <% end %>
                        </div><!--CLOSE COLUMN-->
                    
                    </div><!--CLOSE ROW-->


                            
            </div>

            <div class="col s12 m9 center-align">
                
                
                <div class="row">
                    <div class="col s12">
                            <div class="row">
                                <div class="col s12 m6 center-align">
                                            <table style="color:grey;"> 
                                                <tr> 
                                                    <th></th>
                                                    <th class="center-align table-header-trials">WK<hr></th>
                                                    <th class="center-align table-header-trials">Map<hr></th>
                                                </tr>
                                                <tr> 
                                                    <th class="center-align table-header-trials" style="color:#cc0000;">KD</th>
                                                    <th class="trials-table-stats center-align">?</th>
                                                    <th class="trials-table-stats center-align">?</th>
                                                </tr>
                                                <tr> 
                                                    <th class="center-align table-header-trials" style="color:#cc0000;">KA/D</th>
                                                    <th class="trials-table-stats center-align">?</th>
                                                    <th class="trials-table-stats center-align">?</th>
                                                </tr>
                                                <tr> 
                                                    <th class="center-align table-header-trials" style="color:#cc0000;">Kills</th>
                                                    <th class="trials-table-stats center-align">?</th>
                                                    <th class="trials-table-stats center-align">?</th>
                                                </tr>
                                                <tr> 
                                                    <th class="center-align table-header-trials" style="color:#cc0000;">Wins</th>
                                                    <th class="trials-table-stats center-align">?</th>
                                                    <th class="trials-table-stats center-align">?</th>
                                                </tr>
                                                 <tr> 
                                                    <th class="center-align table-header-trials" style="color:#cc0000;">Losses</th>
                                                    <th class="trials-table-stats center-align">?</th>
                                                    <th class="trials-table-stats center-align">?</th>
                                                </tr>
                                            

                                                </table>

                                </div>


                                <div class="col s12 m6 center-align">
                                            <div class="col s4 m4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Primary Weapon"]["Item Name"] %>" src=<%= x["Character Items"]["Primary Weapon"]["Item Icon"] %> alt=""></div>
                         <div class="col s4 m4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Secondary Weapon"]["Item Name"] %>" src=<%= x["Character Items"]["Secondary Weapon"]["Item Icon"] %> alt=""></div>
                         <div class="col s4 m4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Heavy Weapon"]["Item Name"] %>" src=<%= x["Character Items"]["Heavy Weapon"]["Item Icon"] %> alt=""></div>
                         <div class="col s4 m4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Helmet"]["Item Name"] %>" src=<%= x["Character Items"]["Helmet"]["Item Icon"] %> alt=""></div>
                         <div class="col s4 m4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Gauntlets"]["Item Name"] %>" src=<%= x["Character Items"]["Gauntlets"]["Item Icon"] %> alt=""></div>
                         <div class="col s4 m4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Chest Armor"]["Item Name"] %>" src=<%= x["Character Items"]["Chest Armor"]["Item Icon"] %> alt=""></div>
                         <div class="col s12 center-align text-white">BADGES<hr></div><!--CLOSE COLUMN-->
                         <div class="col s6 left-align flow-text">
                                
                                <div class="chip chip-trials flow-text">
                                    <img class="mini-weapon-icons truncate flow-text" src="https://vignette3.wikia.nocookie.net/destinypedia/images/5/54/Sniper_Rifle_Loader_perk_icon.png/revision/latest?cb=20160730002730" alt="Sniper">
                                    Sniper
                                </div>

                                <div class="chip chip-trials flow-text">
                                    <img class="mini-weapon-icons truncate flow-text" src="https://vignette3.wikia.nocookie.net/destinypedia/images/6/68/Hand_Cannon_Loader_icon.png/revision/latest?cb=20150909081128" alt="Contact Person">
                                    Cannon
                                </div>
                            </div><!--CLOSE BADGES COLUMN-->
                            <div class="col s6 left-align flow-text">

                                <div class="chip chip-trials flow-text">
                                    <img class="mini-weapon-icons truncate flow-text" src="https://vignette2.wikia.nocookie.net/destinypedia/images/2/22/Fastball_icon.png/revision/latest?cb=20150909081131" alt="Contact Person">
                                    Grenades
                                </div>

                                <div class="chip chip-trials flow-text">
                                    <img class="mini-weapon-icons truncate flow-text" src="https://vignette3.wikia.nocookie.net/destinypedia/images/5/54/Sniper_Rifle_Loader_perk_icon.png/revision/latest?cb=20160730002730" alt="Marksman">
                                    Marksman
                                </div>
                            

                            </div>

                                </div>
                            
                            </div>


                    </div>
                </div>
            
            
            </div>





     
        </div>

</div><!--CLOSE FIRST CHARACTER--> 



<% end %>
<% end %>

