<% info = get_stats("too") %>

<% if info.nil? %> 
  <div class="container games">
    ERROR: n00b!  NO TRIALS STATS FOUND FOR THIS PLAYER
  </div>
<% else %> 
  <div class="container">      
    <div class=stat-scroller>
      <% info.each do |x| %>


<div class="card"><!--Crucbile Card-->
    <div class="card-image waves-effect waves-block waves-light card-image">
      <img src=<%= @character_images[x["Character Type"]] %> alt="Image">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><h1 class="title stat-name-fix center"><%=  @character_races[x["Character Type"]]%></h1><span class="stat-numbers"><%= x["Character Stats"]["K/D Ratio"] %></span><i class="material-icons right">more_vert</i></span>
      <br>
      <div class="row"><!--footer columns-->
        <div class="col s4 center-align">
        <img src=<%= x["Character Items"]["Subclass"]["Item Icon"] %> alt="Image">
        </div>
        <div class="col s4 center-align">
        <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">chat_bubble_outline</i></a>
        </div>
        <div class="col s4 center-align">
        <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">view_carousel</i></a>
        </div>
      </div><!--End of Footer Columns-->
      
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Player Stats<i class="material-icons right">close</i></span>
      <p>
      <table>
        
          <tr>
              <th>Year KD</th>
              <th><%= x["Character Stats"]["K/D Ratio"] %></th>
          
          </tr>
        

        <tbody>
          <tr>
            <td>Week KD</td>
            <td>1.45</td>
            
          </tr>
          <tr>
            <td>ELO</td>
            <td><%= x["Character Stats"]["ELO"] %></td>
            
          </tr>
          <tr>
            <td>Streak</td>
            <td>+5</td>
            
          </tr>
        </tbody>
      </table>
      
      
      </p>
    </div>
  </div><!--END OF CARD-->



      <%end%>  
    </div>    
  </div>
<% end %>








<!--OLD CARD

        <div class="card">
          <div class="card-image card-image-fix">
            <figure class="image is-4by3">
              <img src=<%= @character_images[x["Character Type"]] %> alt="Image">
            </figure>
          </div>
          <div class="card-content" style="padding: 0;">
            <div class="media" style="padding: 5% 5% 0% 5%">
              <div class="columns">
                <div class="column is-2">
                  <figure class="image is-48x48 subclass-image-fix round-image center">
                    <img src=<%= x["Character Items"]["Subclass"]["Item Icon"] %> alt="Image">
                  </figure>
                </div>
                <div class="column is-7 center">
                <h1 class="title stat-name-fix center"><%=  @character_races[x["Character Type"]]%></h1>
                </div>
                <div class="column is-3 center stat-numbers">
                  <span class="stat-numbers"><%= x["Character Stats"]["K/D Ratio"] %></span>
                </div>
              </div>
            </div>
            <hr>
            
                
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                  <div class="collapsible-header active"><i class="fa fa-address-card-o" aria-hidden="true"></i>Stats</div>
                  <div class="collapsible-body"><table class="center full-width">
                      <tbody class="center">
                      <tr class="center ability-text">
                        <th class="center">ELO</th>
                        <th class="center">Week KD</th>
                        <th class="center">Flawless</th>
                        <th class="center">Streak</th>
                      </tr>   
                      <tr class="center">
                        <td class="center"><%= x["Character Stats"]["ELO"] %></td>
                        <td class="center">-</td>
                        <td class="center">-</td>
                        <td class="center">-</td>
                      </tr>
                      </tbody>
                    </table></div>
                </li>
                <li>
                  <div class="collapsible-header active"><i class="fa fa-superpowers" aria-hidden="true"></i>Abilities</div>
                  <div class="collapsible-body"><div class="columns is-mobile">
                      <div class="column">
                        <small class="ability-text">Armor</small>
                          <progress class="progress is-info" value=<%= x["Character Stats"]["Armor"] %> max="10"></progress>
                          <small class="ability-text">Agility</small>
                          <progress class="progress is-info" value=<%= x["Character Stats"]["Agility"] %> max="10"></progress>
                          <small class="ability-text">Recovery</small>
                          <progress class="progress is-info" value=<%= x["Character Stats"]["Recovery"] %> max="10"></progress>
                        </div>
                      
                      <div class="column">
                        <small class="ability-text">Discipline</small>
                        <progress class="progress is-info" value=<%= x["Character Stats"]["Discipline"] %> max="300"></progress>
                        <small class="ability-text">Strength</small>
                        <progress class="progress is-info" value=<%= x["Character Stats"]["Strength"] %> max="300"></progress>
                        <small class="ability-text">Intellect</small>
                        <progress class="progress is-info" value=<%= x["Character Stats"]["Intellect"] %> max="300"></progress>
                      </div>
                    </div></div>
                </li>
                <li>
                  <div class="collapsible-header active"><i class="fa fa-shield" aria-hidden="true"></i>Equipment</div>
                  <div class="collapsible-body"><div class="columns is-mobile">
                      <div class="column gear">
                        <figure class="image is-64x64 round-image">
                          <img src=<%= x["Character Items"]["Primary Weapon"]["Item Icon"] %>>
                        </figure>
                      </div>
                      <div class="column gear">
                        <figure class="image is-64x64 round-image">
                          <img src=<%= x["Character Items"]["Secondary Weapon"]["Item Icon"] %>>
                        </figure>
                      </div>
                      <div class="column gear">
                          <figure class="image is-64x64 round-image">
                            <img src=<%= x["Character Items"]["Heavy Weapon"]["Item Icon"] %>>
                          </figure>
                      </div>
                      <div class="column gear">
                          <figure class="image is-64x64 round-image">
                            <img src=<%= x["Character Items"]["Artifact"]["Item Icon"] %>>
                          </figure>
                      </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column gear">
                          <figure class="image is-64x64 round-image">
                            <img src=<%= x["Character Items"]["Helmet"]["Item Icon"] %>>
                          </figure>
                        </div>
                        <div class="column gear">
                          <figure class="image is-64x64 round-image">
                            <img src=<%= x["Character Items"]["Gauntlets"]["Item Icon"] %>>
                          </figure>
                        </div>
                        <div class="column gear">
                            <figure class="image is-64x64 round-image">
                              <img src=<%= x["Character Items"]["Chest Armor"]["Item Icon"] %>>
                            </figure>
                        </div>
                        <div class="column gear">
                            <figure class="image is-64x64 round-image">
                              <img src=<%= x["Character Items"]["Leg Armor"]["Item Icon"] %>>
                            </figure>
                        </div>
                      </div></div>
                </li>
              </ul>
              </div>
        </div>
        -->

        
