<% info = get_stats("too") %>
<% username = @user.nil? ? @player_stat.display_name : @user.display_name %>
<% character_races = {0 => "Titan", 1 => "Hunter", 2 => "Warlock"} %>
<% weapons = {"Auto Rifle" => "auto3.png", 
        "Pulse Rifle" => "pulse2.png", 
        "Hand Cannon" => "handcannon2.png",
        "Sniper Rifle" => "sniper2.png",
        "Shotgun" => "shotgun2.png",
        "Scout Rifle" => "scout.png",
        "Fusion Rifle" =>  "fusion2.png",
        "Sidearm" => "sidearm.png",
        "Rocket Launcher" => "heavy2.png"
        } %>
<br><br>
<% if info.nil? %> 
    <%= render 'shared/no_data' %>
<% else %>  
    <a id="expand-button" class="waves-effect waves-light btn" onClick="expandAll();"><i class="material-icons left">fullscreen</i>Open All</a>
    <a id="collapse-button" class="waves-effect waves-light btn" onClick="collapseAll();"><i class="material-icons left">fullscreen_exit</i>Close All</a>
    <hr>
<div class="row player-stats-collapse" style="margin-left: -8%; margin-right: -8%">    
        <div class="col s12" >
            <div id="stat-graphs"> 
                <ul id="test-collapse" class="collapsible popout" data-collapsible="expandable">
                    <% info.each_with_index do |character, index| %>
                        <div class="tooltip_templates">                                                      
                            <span id="diamond_elo_content">
                                <div class="row center-align">
                                    Diamond Tier
                                </div>
                                <div class="row center-align">
                                    # <%= character["character_stats"]["elo"]['rank'] %>
                                </div>
                            </span>
                            <span id="platinum_elo_content">
                                <div class="row center-align">
                                    Platinum Tier
                                </div>
                                <div class="row center-align">
                                    # <%= character["character_stats"]["elo"]['rank'] %>
                                </div>
                            </span>
                            <span id="gold_elo_content">
                                <div class="row center-align">
                                    Gold Tier
                                </div>
                                <div class="row center-align">
                                    # <%= character["character_stats"]["elo"]['rank'] %>
                                </div>
                            </span>
                            <span id="silver_elo_content">
                                <div class="row center-align">
                                    Silver Tier
                                </div>
                                <div class="row center-align">
                                    # <%= character["character_stats"]["elo"]['rank'] %>
                                </div>
                            </span>
                            <span id="bronze_elo_content">
                                <div class="row center-align">
                                    Bronze Tier
                                </div>
                                <div class="row center-align">
                                    # <%= character["character_stats"]["elo"]['rank'] %>
                                </div>
                            </span>
                        </div>
                        <li>
                            <% x = character %>
                            <% case x["Character Items"]["Subclass"]["Item Name"] 
                                when "Nightstalker", "Voidwalker", "Defender" %>
                                <% subclass =  "height: 20px; position: relative; bottom: 20px; background-image: url(#{image_path "void.png"}); background-size: cover;background-position-y: -50px;" %>
                                <% text_color =  "color: #f5f5f5; font-size: 14px; text-shadow: none;" %>
                            <% when "Sunsinger", "Gunslinger", "Sunbreaker" %>
                                <% subclass =  "height: 20px; position: relative; bottom: 20px;background-image: url(#{image_path "solar.png"}); background-size: cover;background-position-y: -50px;" %>
                                <% text_color =  "color: #3a3a3a; font-size: 14px;" %>
                            <%  when "Bladedancer", "Striker", "Stormcaller" %>
                                <% subclass =  "height: 20px; position: relative; bottom: 20px; background-image: url(#{image_path "arc.png"}); background-size: cover;background-position-y: -50px;" %>
                                <% text_color =  "color: #3a3a3a; font-size: 14px;" %>
                            <% end %>
                            <div class="collapsible-header" id="collapse-header" style="height: 104px; padding: 0;">
                                <div class="row" style="margin-right: 0; margin-left: 0; width: 100%;">
                                    <div class="col s12 m4">
                                        <% bg = "background-image: url(#{x['Character Items']['emblem_background']});" %>
                                        <div class="post-header" style='<%= "#{bg} margin: -3.3%; height: 83px; margin-top: 0;" %>'>                            
                                            <div class="row" style="overflow: hidden; max-height: 65px; margin-right: 0;">
                                                <div class="col s3 left-align" style="padding: 0; height: 65px;">
                                                    <%= image_tag x["Character Items"]["emblem"]["Item Icon"], style:"max-width: calc(100% - 2.6em); min-width: 65px; position: relative; right: 3%; height: auto;" %>
                                                </div>
                                                <div class="col s6 center-align" style="height: 65px; color: white;"><span style="font-size: 1.5em; text-overflow: ellipsis; color: #f5f5f5; position: relative; top: 25%; font-weight: 400;" ><%= username %></span></div>
                                                <div class="col s3 center-align" style="height: 65px; color: white;">
                                                    <span style="color: gold; position: relative; top: 10%; line-height: 2.4em; font-weight: 300; font-size: 1.3em;">✦ <%= x["character_stats"]["light_level"] %> </span>
                                                    <span style="font-weight: 300; font-size: 1.1em;"><%= character_races[x["character_type"]] %></span>
                                                </div>
                                            </div>
                                            <div class="post-subheader-trials" style="position: relative;height: 18px;bottom: 20px;">
                                                <div>
                                                    <div class="row hide-on-med-and-up">
                                                        <div class="col s4 center-align" style="white-space: nowrap;">
                                                            <% if x["character_stats"]["elo"]["elo"].to_i >= 1700 %>
                                                                <% elo = "<span class='tooltip' data-tooltip-content='#diamond_elo_content' style='color:#7198B7;'> <b>#{x["character_stats"]["elo"]["elo"]}</b></span> " %>
                                                            <% elsif x["character_stats"]["elo"]["elo"].to_i < 1700 && x["character_stats"]["elo"]["elo"].to_i >= 1500 %>
                                                                <% elo = "<span class='tooltip' data-tooltip-content='#platinum_elo_content' style='color:#58907E;'> <b>#{x["character_stats"]["elo"]["elo"]}</b></span> " %>
                                                            <% elsif x["character_stats"]["elo"]["elo"].to_i < 1500 && x["character_stats"]["elo"]["elo"].to_i >= 1300 %>
                                                                <% elo = "<span class='tooltip' data-tooltip-content='#gold_elo_content' style='color:#CCAE50;'> <b>#{x["character_stats"]["elo"]["elo"]}</b></span> " %>
                                                            <% elsif x["character_stats"]["elo"]["elo"].to_i < 1300 && x["character_stats"]["elo"]["elo"].to_i >= 1200 %>
                                                                <% elo = "<span class='tooltip' data-tooltip-content='#silver_elo_content'  style='color:#BFC4C2;'> <b>#{x["character_stats"]["elo"]["elo"]}</b></span> " %>
                                                            <% elsif x["character_stats"]["elo"]["elo"].to_i < 1200 %>
                                                                <% elo = "<span class='tooltip' data-tooltip-content='#bronze_elo_content' style='color:#AA885F;'> <b>#{x["character_stats"]["elo"]["elo"]}</b></span> " %>
                                                            <% end %>  
                                                            <span class="white-text" style="font-size: 13px; vertical-align: text-top;">ELO: <%= elo.html_safe %></span>
                                                        </div>
                                                        <div class="col s4 center-align" style="white-space: nowrap;">
                                                            <span class="white-text" style="font-size: 13px; vertical-align: text-top;">KD: <%= x["character_stats"]["kd_ratio"] %></span>
                                                        </div>
                                                        <div class="col s4 center-align" style="white-space: nowrap;">
                                                            <span class="white-text" style="font-size: 13px; vertical-align: text-top;">W/L: <%= x["character_stats"]["win_rate"] %>%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-subclass-header" style='<%= subclass %> center-align' >
                                                <div class="row">
                                                    <div class="col s12 m4"></div>
                                                    <div class="col s12 m4 center-align">
                                                        <span class="" style="color: white;"> <%= x["Character Items"]["Subclass"]["Item Name"]  %></span>                                                                                                                                    
                                                    </div>
                                                    <div class="col s12 m4"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m6 center-align hide-on-small-only" style="height: 103px;">
                                        <div class="row center-align" style="margin-top: 1.9%; margin-bottom: 0;"><!--OPEN GUN PICTURES ROW-->                                                                          
                                            <div class="col s3 weapon-container center-align">
                                                <img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Primary Weapon"]["Item Name"] %>" src=<%= x["Character Items"]["Primary Weapon"]["Item Icon"] %> alt=""><br>
                                                <span class="truncate" style="font-size: 0.8em;"><%= x["Character Items"]["Primary Weapon"]["Item Name"] %></span> 
                                            </div>
                                            <div class="col s3 weapon-container center-align">
                                                <img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Secondary Weapon"]["Item Name"] %>" src=<%= x["Character Items"]["Secondary Weapon"]["Item Icon"] %> alt=""><br>
                                                <span class="truncate" style="font-size: 0.8em;"><%= x["Character Items"]["Secondary Weapon"]["Item Name"] %></span> 
                                            </div>
                                            <div class="col s3 weapon-container center-align">
                                                <img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Heavy Weapon"]["Item Name"] %>" src=<%= x["Character Items"]["Heavy Weapon"]["Item Icon"] %> alt=""><br>
                                                <span class="truncate" style="font-size: 0.8em;"><%= x["Character Items"]["Heavy Weapon"]["Item Name"] %></span> 
                                            </div>
                                            <% x["Character Items"].each_with_index do |item| %>
                                                <% next if ["emblem_background", "emblem"].include?(item[0])  %>
                                                <% if item[1]["Item Tier"] == "Exotic" %>
                                                    <% if ["Chest Armor", "Gauntlets", "Helmet", "Leg Armor"].include? (item[0])  %>
                                                        <div class="col s2 weapon-container center-align">
                                                            <img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= item[1]["Item Name"] %>" src=<%= item[1]["Item Icon"] %> alt=""><br>
                                                            <span class="truncate" style="font-size: 0.8em;"><%= item[1]["Item Name"] %></span> 
                                                        </div>
                                                        <% break %>                                                                                                                     
                                                    <% end %>
                                                <% end %>
                                                <% if index == x["Character Items"].size - 1 %>                                                
                                                    <div class="col s2 weapon-container center-align"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Helmet"]["Item Name"] %>" src=<%= x["Character Items"]["Helmet"]["Item Icon"] %> alt=""></div>
                                                <% end %>
                                            <% end %>
                                        </div><!--CLOSE GUN PICTURES ROW-->
                                    </div>
                                    <div class="col s12 m2 center-align hide-on-small-only" style='<%= "#{bg} height: 104px; color: #f5f5f5;border-bottom: 1px gray solid; padding-top: 1.5%; background-repeat: no-repeat; background-size: cover; background-position-x: 17%;" %>'>
                                        <div class="col s12 m6 right-align hide-on-small-only" style="width: 65%">
                                                <% if x["character_stats"]["elo"]["elo"].to_i >= 1700 %>
                                                    <% elo = "<span class='tooltip' data-tooltip-content='#diamond_elo_content' style='color:#7198B7;'><b>#{x["character_stats"]["elo"]["elo"]}</b></span>" %>
                                                <% elsif x["character_stats"]["elo"]["elo"].to_i < 1700 && x["character_stats"]["elo"]["elo"].to_i >= 1500 %>
                                                    <% elo = "<span class='tooltip' data-tooltip-content='#platinum_elo_content' style='color:#58907E;'><b>#{x["character_stats"]["elo"]["elo"]}</b></span>" %>
                                                <% elsif x["character_stats"]["elo"]["elo"].to_i < 1500 && x["character_stats"]["elo"]["elo"].to_i >= 1300 %>
                                                    <% elo = "<span class='tooltip' data-tooltip-content='#gold_elo_content' style='color:#CCAE50;'><b>#{x["character_stats"]["elo"]["elo"]}</b></span>" %>
                                                <% elsif x["character_stats"]["elo"]["elo"].to_i < 1300 && x["character_stats"]["elo"]["elo"].to_i >= 1200 %>
                                                    <% elo = "<span class='tooltip' data-tooltip-content='#silver_elo_content'  style='color:#BFC4C2;'><b>#{x["character_stats"]["elo"]["elo"]}</b></span>" %>
                                                <% elsif x["character_stats"]["elo"]["elo"].to_i < 1200 %>
                                                    <% elo = "<span class='tooltip' data-tooltip-content='#bronze_elo_content' style='color:#AA885F;'><b>#{x["character_stats"]["elo"]["elo"]}</b></span>" %>
                                                <% end %> 
    
                                                <span  style="font-size: 16px;"><%= elo.html_safe %> ELO</span><br>
                                                <span  style="font-size: 18px;"><b><%= x["character_stats"]["kd_ratio"] %> </b>K/D</span><br>                                                                                                   
                                        </div>
                                        <div class="col s12 m6 right-align hide-on-small-only" style="width: 35%;">
                                            <span ><i id='<%= "collapse-icon-#{index}" %>'class="material-icons left more" style="color: #f5f5f5; font-size: 48px;">keyboard_arrow_down</i></span> 
                                            <span ><i id='<%= "collapse-icon-#{index}" %>'class="material-icons left less" style="color: #f5f5f5; font-size: 48px; display: none">keyboard_arrow_up</i></span>                                                            
                                        </div>
                                    </div>




                                </div>
                            </div>


                           


                            <div class="collapsible-body" style="background: #fff;">
                                    <% if x["character_stats"]["kill_stats"] == 0 %> 
                                        Sorry, no data found for this character. 
                                    <% else %>
                                        <div class="row"> 



                                    <!-- MOBILE ONLY GEAR ROW-->

                            
                                        <div class="row center-align show-on-small hide-on-med-and-up"><!--OPEN GUN PICTURES ROW--> 
                                            <div class="col s12 center-align" style="color: grey;"><h5>Player Loadout<h5></div>                                                                         
                                            <div class="col s3 weapon-container center-align">
                                                <img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Primary Weapon"]["Item Name"] %>" src=<%= x["Character Items"]["Primary Weapon"]["Item Icon"] %> alt=""><br>
                                                <span class="truncate" style="font-size: 0.8em;"><%= x["Character Items"]["Primary Weapon"]["Item Name"] %></span> 
                                            </div>
                                            <div class="col s3 weapon-container center-align">
                                                <img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Secondary Weapon"]["Item Name"] %>" src=<%= x["Character Items"]["Secondary Weapon"]["Item Icon"] %> alt=""><br>
                                                <span class="truncate" style="font-size: 0.8em;"><%= x["Character Items"]["Secondary Weapon"]["Item Name"] %></span> 
                                            </div>
                                            <div class="col s3 weapon-container center-align">
                                                <img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Heavy Weapon"]["Item Name"] %>" src=<%= x["Character Items"]["Heavy Weapon"]["Item Icon"] %> alt=""><br>
                                                <span class="truncate" style="font-size: 0.8em;"><%= x["Character Items"]["Heavy Weapon"]["Item Name"] %></span> 
                                            </div>
                                            <% x["Character Items"].each_with_index do |item| %>
                                                <% next if ["emblem_background", "emblem"].include?(item[0])  %>
                                                <% if item[1]["Item Tier"] == "Exotic" %>
                                                    <% if ["Chest Armor", "Gauntlets", "Helmet", "Leg Armor"].include? (item[0])  %>
                                                        <div class="col s2 weapon-container center-align">
                                                            <img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= item[1]["Item Name"] %>" src=<%= item[1]["Item Icon"] %> alt=""><br>
                                                            <span class="truncate" style="font-size: 0.8em;"><%= item[1]["Item Name"] %></span> 
                                                        </div>
                                                        <% break %>                                                                                                                     
                                                    <% end %>
                                                <% end %>
                                                <% if index == x["Character Items"].size - 1 %>                                                
                                                    <div class="col s2 weapon-container center-align"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Helmet"]["Item Name"] %>" src=<%= x["Character Items"]["Helmet"]["Item Icon"] %> alt=""></div>
                                                <% end %>
                                            <% end %>
                                        </div><!--CLOSE GUN PICTURES ROW-->

                                        

                                    <!--END MOBILE ONLY -->







                                            <div class="col s12 m3 center-align">                                            
                                                <div class='<%="chart-container#{index + 1}" %>' data-chart-data="<%= character.to_json %>"></div>
                                                <div><canvas id='<%= "weapon-breakdown-chart#{index + 1}" %>' style="width: 150px !important; height: 150px !important"></canvas></div>                    
                                            </div>
                                            <hr class="hide-on-med-and-up">
                                            <div class="col s12 m6 center-align">                                                                        
                                                <div><canvas id='<%= "kill-chart-breakdown#{index + 1}" %>'></canvas></div>                    
                                            </div>
                                            <hr class="hide-on-med-and-up">
                                            <div class="col s12 m3 center-align" >             
                                                    <div class="col s6" style="margin-top: 2%;">
                                                        <div style="margin-bottom: -30%;"><canvas id='<%= "ability-chart-breakdown#{index + 1}" %>' style="width: 150px !important; height: 150px !important"></canvas></div> 
                                                        <br><p class="stat-heading"><%= "#{x["character_stats"]["win_rate"]}%" %></p>       
                                                    </div>                                        
                                                    <div class="col s6" style="margin-top: 2%;">
                                                        <div style="margin-bottom: -30%;"><canvas id='<%= "revive-chart-breakdown#{index + 1}" %>' style="width: 150px !important; height: 150px !important"></canvas></div>        
                                                        <% total = x["character_stats"]["kill_stats"]["revives_performed"].to_i + x["character_stats"]["kill_stats"]["revives_received"].to_i %>
                                                        
                                                        <% res_percent =  total.to_i != 0  ? ((x["character_stats"]["kill_stats"]['Revives Performed'].to_i / total.to_i) * 100.0) : 0 %>                                                        
                                                        <br><p class="stat-heading"><b><span style="color: #3498db"><%= x["character_stats"]["kill_stats"]["revives_performed"] %></span> : <span style="color: #95a5a6"><%=  x["character_stats"]["kill_stats"]["revives_received"] %></span></b></p> 
                                                    </div>                                        
                                                    <div class="col s12">
                                                        <p class="stat-heading">PLAYER ANALYSIS</p>
                                                        <!-- TODO: add if else here -->
                                                        <%= render partial:"shared/character_badges", locals: {info: x, user: current_user} %>
                                                    </div>                                        
                                            </div>                                    
                                        </div>
                                        <hr>
                                        <div class="row" style="padding-top: 1%;margin-bottom: 0%;">
                                            <div class="col s6 m2 center-align">
                                                <p class="stat-heading">KA/D Ratio</p>
                                                <p class="stat-title"><%=x["character_stats"]["kad_ratio"] %></p>
                                            </div>
                                            <div class="col s6 m2 center-align">
                                                <p class="stat-heading">Games Played</p>
                                                <p class="stat-title"><%= (x["character_stats"]["games_won"] + x["character_stats"]["games_lost"]).round %></p>
                                            </div>
                                            <div class="col s12 m4 center-align">
                                                <p class="stat-heading">Best Weapon</p>
                                                <% if (!x["character_stats"]["kill_stats"]["best_weapon_type"].nil? &&  x["character_stats"]["kill_stats"]["best_weapon_type"] != 0) %>
                                                    <p class="stat-title tooltipped" data-position="bottom" data-delay="50" data-tooltip='<%= x["character_stats"]["kill_stats"]["best_weapon_type"] %>'><%= image_tag weapons[x["character_stats"]["kill_stats"]["best_weapon_type"]], style: "height: 35px;"  %></p>
                                                <% else %>
                                                    <p class="stat-title tooltipped" data-position="bottom" data-delay="50" data-tooltip='Rocket Launcher...Yikes.'><%= image_tag weapons["Rocket Launcher"], style: "height: 35px;" %></p>
                                                <% end %>
                                            </div>
                                            <div class="col s6 m2 center-align">
                                                <p class="stat-heading">Longest Spree</p>
                                                <p class="stat-title"><%=x["character_stats"]["kill_stats"]["longest_spree"].round %></p>
                                            </div>
                                            <div class="col s6 m2 center-align">
                                                <p class="stat-heading">Avg. Kill Distance</p>
                                                <p class="stat-title"><%=x["character_stats"]["kill_stats"]["average_kill_distance"] %></p>
                                            </div>  
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col s12">
                                                <h5>Account Badges</h5>
                                                <% if !@user.nil? %>
                                                    <% @user.badges.each do |badge| %>                
                                                        <div class="chip tooltipped" style='<%= badge.custom_fields[:color] %>'data-position="top" data-delay="50" data-tooltip="<%= badge.description %>">
                                                            <%= badge.name %>
                                                            <%= badge.custom_fields[:icon].html_safe %>
                                                        </div>                
                                                    <% end %>
                                                <% end %>
                                            </div>
                                        </div>
                                    <% end %>
                            </div>
                        </li>            
                    <% end %>
                </ul>
            </div>
        </div>

    
    </div>

<% end %>

