<% info = get_stats("too") %>

<% username = @user.nil? ? @player_stat.display_name : @user.display_name %>

<% if info.nil? %> 
  <div class="container games">
    ERROR: n00b!  NO TRIALS STATS FOUND FOR THIS PLAYER
  </div>
<% else %>  
<br/>
 
<div style="margin-right: 10%;">
<% info.each_with_index do |x, index| %>

<br/>

<% case x["Character Items"]["Subclass"]["Item Name"] 
        when "Nightstalker", "Voidwalker", "Defender" %>
        <% subclass =  "background-image: url(#{image_path "void.png"});" %>
        <% text_color =  "color: #f5f5f5; font-size: 14px; text-shadow: none;" %>
    <% when "Sunsinger", "Gunslinger", "Sunbreaker" %>
        <% subclass =  "background-image: url(#{image_path "solar.png"});" %>
        <% text_color =  "color: #3a3a3a; font-size: 14px;" %>
    <% when "Bladedancer", "Striker", "Stormcaller" %>
        <% subclass =  "background-image: url(#{image_path "arc.png"});" %>
        <% text_color =  "color: #3a3a3a; font-size: 14px;" %>
    <% end %>




<div ><!--OPEN FIRST CHARACTER--> 
<br>

<div class="row white z-depth-2" style="border-radius: 2px;"><!--OPEN FIRST ROW-->

            <div class="col s12 m4" style="padding-top: 1.5%;"><!--OPEN FIRST COLUMN-->
                <% bg = "background-image: url(#{x['Character Items']['Emblem Background']});" %>

                <div style="<%= bg %>">
                        <div class="row hoverable z-depth-2" style="overflow: hidden; max-height: 65px; ">
                            <div class="col s12 m3 left-align" style="padding: 0; height: 65px;"><%= image_tag x["Character Items"]["Emblem"]["Item Icon"], style:"max-width: calc(100% - 2.6em); min-width: 65px; position: relative; right: 3%; height: auto;" %></div>
                            <div class="col s6 center-align" style="height: 65px; color: white; margin-top: 7%;"><%= username %></div>
                            <div class="col s3 center-align" style="height: 65px; color: white;">
                                <span style="color: gold; position: relative; top: 10%; line-height: 2.5em; font-weight: 300; font-size: 0.9em;">✦ <%= x["Character Stats"]["Light Level"] %> </span>
                                <span style ="font-weight: 300; font-size: 0.9em;"><%= @character_races[x["Character Type"]] %></span>
                            </div>
                        </div>
                    </div>

                    <div class="col s12">
                                <div class="card-panel post-tabs hoverable" style='<%= subclass %>; height: 65px; border-radius: 5px;'>
                                    <div class="row">
                                        <div class="col s6 flow-text tab-card-link" style="font-size: 18px;"><span class="tab-card-link" style="<%= text_color %>"><%= x["Character Stats"]["K/D Ratio"]%></span> <span style="font-size: 12px;<%= text_color %>;">KD</span></div>
                                        <div class="col s6 flow-text tab-card-link" style="font-size: 18px;"><span class="tab-card-link" style="<%= text_color %>"><%= x["Character Stats"]["ELO"]%></span> <span style="font-size: 12px;<%= text_color %>;">ELO</span></div>
                                    </div>
                               
                                </div>

                    </div>


                    <div class="col s12 center-align">
                        <p class="center-align" style="color: grey;" >Player Reputation</p> 
                            <% if !@user.nil? %>     
                                <% total = @user.votes_for + @user.votes_against %>      
                                <% rep =  total != 0  ? ((@user.votes_for / total).round(1) * 100) : "0" %>
                                <% if current_user.voted_for?(@user) %>
                                <%= link_to users_upvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn disabled" do %>
                                    <i class="material-icons">thumb_up</i>
                                <% end %>

                                <%= link_to users_unvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn amber lighten-3" do %>
                                    <i class="material-icons">cancel</i>
                                <% end %>

                                <%= link_to users_downvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn disabled" do %>
                                    <i class="material-icons">thumb_down</i>
                                <% end %>
                                <% else %>
                                <%= link_to users_upvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn amber lighten-3" do %>
                                    <i class="material-icons">thumb_up</i>
                                <% end %>

                                <%= link_to users_unvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn disabled" do %>
                                    <i class="material-icons">cancel</i>
                                <% end %>

                                <%= link_to users_downvote_path(:voter => @user), method: :post, class: "waves-effect waves-light btn amber lighten-3" do %>
                                    <i class="material-icons">thumb_down</i>
                                <% end %>
                                <% end %>
                            <% end %>
                        </div><!--CLOSE COLUMN-->


            </div><!--CLOSE FIRST (m3) COLUMN-->





            <div class="col s12 m4" style="margin-top: 0%;"><!--OPEN SECOND COLUMN-->


                                    <div class="row">
                                    <div class="col s12">
                                        <div class="card-panel amber lighten-3" style="border-radius: 15px; margin-top: 26px;">
                                        <span class="white-text">

                                                <table style="font-size: 10px;" class="bordered"> 
                                                <tr> 
                                                    <th></th>
                                                    <th class="center-align">WK</th>
                                                    <th class="center-align">Map</th>
                                                </tr>
                                                <tr> 
                                                    <th class="center-align">KD</th>
                                                    <th class="center-align">?</th>
                                                    <th class="center-align"><%= x["Character Stats"]["K/D Ratio"] %></th>
                                                </tr>
                                                <tr> 
                                                    <th class="center-align">KA/D</th>
                                                    <th class="center-align">?</th>
                                                    <th class="center-align"><%= x["Character Stats"]["KA/D Ratio"] %></th>
                                                </tr>
                                                <tr> 
                                                    <th class="center-align">Wins</th>
                                                    <th class="center-align">?</th>
                                                    <th class="center-align"><%= x["Character Stats"]["ELO"] %></th>
                                                </tr>
                                                <tr> 
                                                    <th class="center-align">Losses</th>
                                                    <th class="center-align">?</th>
                                                    <th class="center-align"><%= x["Character Stats"]["ELO"] %></th>
                                                </tr>

                                                </table>
                                        </span>
                                        </div>
                                    </div>
                                    </div>
                                 

            </div><!--CLOSE SECOND (m5) COLUMN-->




                
            <div class="col s12 m4" style="padding-top:1.5%;"><!--OPEN THIRD COLUMN-->

                            
                                
                                                                <div class="row"><!--OPEN NESTED ROW-->
                                                                    <div class="col s4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Primary Weapon"]["Item Name"] %>" src=<%= x["Character Items"]["Primary Weapon"]["Item Icon"] %> alt=""></div>
                                                                    <div class="col s4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Secondary Weapon"]["Item Name"] %>" src=<%= x["Character Items"]["Secondary Weapon"]["Item Icon"] %> alt=""></div>
                                                                    <div class="col s4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Heavy Weapon"]["Item Name"] %>" src=<%= x["Character Items"]["Heavy Weapon"]["Item Icon"] %> alt=""></div>
                                                                    <div class="col s4 weapon-name-trials center-align gun-name-trials truncate"><%= x["Character Items"]["Primary Weapon"]["Item Name"] %></div>
                                                                    <div class="col s4 weapon-name-trials center-align gun-name-trials truncate"><%= x["Character Items"]["Secondary Weapon"]["Item Name"] %></div>
                                                                    <div class="col s4 weapon-name-trials center-align gun-name-trials truncate"><%= x["Character Items"]["Heavy Weapon"]["Item Name"] %></div>
                                                                    <div class="col s4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Helmet"]["Item Name"] %>" src=<%= x["Character Items"]["Helmet"]["Item Icon"] %> alt=""></div>
                                                                    <div class="col s4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Gauntlets"]["Item Name"] %>" src=<%= x["Character Items"]["Gauntlets"]["Item Icon"] %> alt=""></div>
                                                                    <div class="col s4 weapon-container"><img class="gun-icons-trials tooltipped" data-position="right" data-delay="50" data-tooltip="<%= x["Character Items"]["Chest Armor"]["Item Name"] %>" src=<%= x["Character Items"]["Chest Armor"]["Item Icon"] %> alt=""></div>
                                                                    <div class="col s4 weapon-name-trials center-align gun-name-trials truncate"><%= x["Character Items"]["Helmet"]["Item Name"] %></div>
                                                                    <div class="col s4 weapon-name-trials center-align gun-name-trials truncate"><%= x["Character Items"]["Gauntlets"]["Item Name"] %></div>
                                                                    <div class="col s4 weapon-name-trials center-align gun-name-trials truncate"><%= x["Character Items"]["Chest Armor"]["Item Name"] %></div>
                                                                </div><!--CLOSE NESTED ROW-->
                                                            

            </div><!--CLOSE THIRD (m5) COLUMN-->

</div><!--CLOSE FIRST ROW-->





</div><!--CLOSE FIRST CHARACTER--> 






<% end %>
<% end %>

