<% info = get_stats("too") %>

<% if info.nil? %> 
  <div class="container games">
    ERROR: n00b!  NO TRIALS STATS FOUND FOR THIS PLAYER
  </div>
<% else %>  
 
    <div class="row">  
      <% info.each do |x| %>
      <div class="col s4">
        <div class="card"><!--Crucbile Card-->
    <div class="card-image waves-effect waves-block waves-light card-image">
      <img src=<%= @character_images[x["Character Type"]] %> alt="Image">
    </div>
    <div class="card-content">
              <div class="row valign-wrapper">

                    <div class="col s2">
                    <img class="round-image" src=<%= x["Character Items"]["Subclass"]["Item Icon"] %> alt="Image">
                    </div><!--End of COL-->

                    <div class="col s8 valign-wrapper center-align">
                    <span class="card-title activator grey-text text-darken-4 valign-wrapper center-align"><h1 class="title stat-name-fix center-align"><%= @user.display_name %></h1></span>
                    </div><!--End of COL-->

                    <div class="col s2">
                    <span class="card-title activator grey-text text-darken-4 valign-wrapper"><i class="material-icons right">more_vert</i></span>
                    </div><!--End of COL-->
              
              </div><!--End of Row-->
      
      <div class="row"><!--footer columns-->
        <div class="col s4">
        <span class="stat-numbers valign-wrapper center-align"><%= x["Character Stats"]["K/D Ratio"] %></span>
    </div><!--End of COL-->
        
        <div class="col s4 center-align">
       <a class="btn tooltipped btn-floating pulse grey darken-2 modal-trigger" data-target="modal8" data-position="bottom" data-tooltip="Show Gear"><i class="material-icons">zoom_out_map</i></a>

                    <!-- Modal Structure -->
                    <div id="modal8" class="modal bottom-sheet">
                      <div class="modal-content left">

                        

                   

                    <div class="row">

                    <div class="col s12 m6">
                          <h4>Guardian Weapons</h4>
                              
                        <div class="row">
                                <div class="col s6 m3">
                                  <figure class="image is-64x64 round-image">
                                    <img class="gear-icons" src=<%= x["Character Items"]["Primary Weapon"]["Item Icon"] %>>
                                    <p><%= x["Character Items"]["Primary Weapon"]["Item Name"] %></p>
                                  </figure>
                                </div>
                                <div class="col s6 m3">
                                  <figure class="image is-64x64 round-image">
                                    <img class="gear-icons" src=<%= x["Character Items"]["Secondary Weapon"]["Item Icon"] %>>
                                    <p><%= x["Character Items"]["Secondary Weapon"]["Item Name"] %></p>
                                  </figure>
                                </div>
                                <div class="col s6 m3">
                                    <figure class="image is-64x64 round-image">
                                      <img class="gear-icons" src=<%= x["Character Items"]["Heavy Weapon"]["Item Icon"] %>>
                                      <p><%= x["Character Items"]["Heavy Weapon"]["Item Name"] %></p>
                                    </figure>
                                </div>
                                <div class="col s6 m3">
                                    <figure class="image is-64x64 round-image">
                                      <img class="gear-icons" src=<%= x["Character Items"]["Artifact"]["Item Icon"] %>>
                                      <p><%= x["Character Items"]["Artifact"]["Item Name"] %></p>
                                    </figure>
                                </div><!--END OF COLUMN-->
                        </div><!--END OF ROW-->
                    </div><!--END OF COL-->

                     <div class="col s12 m6">
                      <h4>Guardian Gear</h4>

                     <div class="row">
                      <div class="col s6 m3">
                        <figure class="image is-64x64 round-image">
                          <img class="gear-icons" src=<%= x["Character Items"]["Helmet"]["Item Icon"] %>>
                          <p class="center-align"><%= x["Character Items"]["Helmet"]["Item Name"] %></p>
                        </figure>
                        
                      </div>
                      <div class="col s6 m3">
                        <figure class="image is-64x64 round-image">
                          <img class="gear-icons" src=<%= x["Character Items"]["Chest Armor"]["Item Icon"] %>>
                          <p class="center-align"><%= x["Character Items"]["Chest Armor"]["Item Name"] %></p>
                        </figure>
                        
                      </div>
                      <div class="col s6 m3">
                          <figure class="image is-64x64 round-image">
                            <img class="gear-icons" src=<%= x["Character Items"]["Leg Armor"]["Item Icon"] %>>
                            <p class="center-align"><%= x["Character Items"]["Leg Armor"]["Item Name"] %></p>
                          </figure>
                          
                      </div>
                      <div class="col s6 m3">
                          <figure class="image is-64x64 round-image">
                            <img class="gear-icons" src=<%= x["Character Items"]["Artifact"]["Item Icon"] %>>
                            <p class="center-align"><%= x["Character Items"]["Artifact"]["Item Name"] %></p>
                          </figure>
                          
                      </div>
                    </div>


                    </div>


                    </div>
                        
                  










                        


                      </div>



                      <div class="modal-footer">
                        <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                      </div>
                    </div>








        </div>

        <div class="col s4 center-align">
        <a href="" class="btn tooltipped btn-floating pulse grey darken-2" data-position="bottom" data-tooltip="Send A Message"><i class="material-icons">chat_bubble</i></a>
        </div>
      </div><!--End of Footer Columns-->
      
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= @user.display_name %><i class="material-icons right">close</i></span>
      <p>
      <table class="bordered striped centered responsive-table">
        
          <tr class="center-align">
              <th class="center-align stat-table-headers"></th>
              <th class="center-align stat-table-headers">Week</th>
              <th class="center-align stat-table-headers">Year</th>
              <th class="center-align stat-table-headers">Map</th>
              
          
          </tr>
        

        <tbody>
          <tr>
            <td class="stat-table-headers">KD</td>
            <td>1.6</td>
            <td><%= x["Character Stats"]["K/D Ratio"] %></td>
            <td>1.6</td>
            
          </tr>
          <tr>
            <td class="stat-table-headers">ELO</td>
            <td>+45</td>
            <td><%= x["Character Stats"]["ELO"] %></td>
            <td>N/A</td>
            
          </tr>
          <tr>
            <td class="stat-table-headers">Streak</td>
            <td>+5</td>
            <td>+15</td>
            <td>+3</td>
            
          </tr>
        </tbody>
      </table>
      
      
      </p>


     <div class="row">
     <div class="col s12 m6"> 
     <table class="bordered highlight responsive-table">
     <tr>
      <td>Intellect</td>
      <td><%= x["Character Stats"]["Intellect"] %></td>
     </tr>

     <tr>
      <td>Discipline</td>
      <td><%= x["Character Stats"]["Discipline"] %></td>
     </tr>

     <tr>
      <td>Strength</td>
      <td><%= x["Character Stats"]["Strength"] %></td>
     </tr>
     </table>
     </div>


     <div class="col s12 m6"> 
     <table class="bordered highlight responsive-table">
     <tr>
      <td>Armor</td>
      <td><%= x["Character Stats"]["Armor"] %></td>
     </tr>

     <tr>
      <td>Agility</td>
      <td><%= x["Character Stats"]["Agility"] %></td>
     </tr>

     <tr>
      <td>Recovery</td>
      <td><%= x["Character Stats"]["Recovery"] %></td>
     </tr>
     </table>
     </div>


     
     </div>

            
             

    </div>
  </div><!--END OF CARD-->
      </div>


    <%end%> 
  </div> 

  <div class="parralax-4 hide-on-small-only">



</div>    

  <div class="container">
  <h2 class="center-align">Last Match</h2>
<table class="bordered">
<tr>
<th><h4>ALPHA</h4></th>
<th></th>
<th>Kills</th>
<th>Deaths</th>
<th>Ratio</th>
<tr/>
<tr>
<td style="background-color: blue;"></td>
<td style="background-color: blue;"></td>
<td style="background-color: blue;"></td>
<td style="background-color: blue;"></td>
<td style="background-color: blue;"></td>
</tr>
<tr>
<td style="width:15%;"></td>
<td style="width: 40%;"><%= @user.display_name %></td>
<td style="width: 15%;">4</td>
<td style="width: 15%;">3</td>
<td style="width: 15%;">1.33</td>
</tr>
<tr>
<td style="width:15%;"></td>
<td style="width: 40%;"><%= @user.display_name %></td>
<td style="width: 15%;">8</td>
<td style="width: 15%;">2</td>
<td style="width: 15%;">4.0</td>
</tr>
<tr>
<td style="width:15%;"></td>
<td style="width: 40%;"><%= @user.display_name %></td>
<td style="width: 15%;">6</td>
<td style="width: 15%;">7</td>
<td style="width: 15%;">0.88</td>
</tr>
</table>

<br/>

<table class="bordered">
<tr>
<th><h4>BRAVO</h4></th>
<th></th>
<th>Kills</th>
<th>Deaths</th>
<th>Ratio</th>
<tr/>
<tr>
<td style="background-color: red;"></td>
<td style="background-color: red;"></td>
<td style="background-color: red;"></td>
<td style="background-color: red;"></td>
<td style="background-color: red;"></td>
</tr>
<tr>
<td style="width:15%;"></td>
<td style="width: 40%;"><%= @user.display_name %></td>
<td style="width: 15%;">4</td>
<td style="width: 15%;">3</td>
<td style="width: 15%;">1.33</td>
</tr>
<tr>
<td style="width:15%;"></td>
<td style="width: 40%;"><%= @user.display_name %></td>
<td style="width: 15%;">8</td>
<td style="width: 15%;">2</td>
<td style="width: 15%;">4.0</td>
</tr>
<tr>
<td style="width:15%;"></td>
<td style="width: 40%;"><%= @user.display_name %></td>
<td style="width: 15%;">6</td>
<td style="width: 15%;">7</td>
<td style="width: 15%;">0.88</td>
</tr>
</table>


</div> 
</div>





 <div class="parralax-5 hide-on-small-only">





      
      <pre>
          <code><%= JSON.pretty_generate(info) %></code>
      </pre>   
    </div>
<% end %>

