<div class="container">
    <h1>Find a player</h1>

    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@player_stat,  html: {:autocomplete => "off"}) do |f| %>
        <%= render 'shared/stats_error_messages' %>
        <div class="field has-addons">
        <p class="control">
            <span class="select">
                <%= f.select :membership_type, [["Playstation", "2"], ["Xbox", "1"]]%>
            </span>
        </p>
        <p class="control">
            <%= f.text_field :display_name, class: "input", placeholder: "Gamertag"%>
        </p>
        <p class="control">
            <%= f.submit "Find player", class: "btn" %>
        </p>
        </div>

        <% end %>
    </div>
    </div>
</div>