<div class="hide-on-small-only">
    <div class="parallax-container" style="height: 350px;">
        <div class="parallax">
            <%= image_tag  "site-header.jpg" %>
        </div>


        <div class="container" style="width: 80%; padding-top: 5%;">

        </div>
    </div>

    <section>
        <div id='content-homepage'>
            <div class='container' style="width: 80%;">
                <section class='first-section-homepage'>
                    <div class="row">
                            <!-- begin single card -->
                            <div class="col s12 m6 l4">
                                <div id="465">
                                    <div class="card-panel grey lighten-5 z-depth-1 hoverable" style="max-height: 400px;">
                                        <div class="post-header" style="background-image: url(https://www.bungie.net/common/destiny2_content/icons/ecafe3e611c54e78656b85b77c8ee2f7.jpg); margin-bottom: 0px;">
                                            <div class="row" style="overflow: hidden; max-height: 65px; ">
                                                <div class="col s3 left-align" style="padding: 0; height: 65px;"><img style="max-width: calc(100% - 2.6em); min-width: 65px; position: relative; right: 3%; height: auto;"
                                                        src="https://www.bungie.net/common/destiny2_content/icons/cb30b5a9b34f7204b064570b56576562.jpg"
                                                        alt="Cb30b5a9b34f7204b064570b56576562"></div>
                                                <div class="col s6 center-align" style="height: 65px; color: white;"><a style="white-space: nowrap; font-size: 17px; text-overflow: ellipsis; color: #f5f5f5; position: relative; top: 34%; font-weight: 400;"
                                                        href="/users/2">Luminusss</a></div>
                                                <div class="col s3 center-align large-break" style="height: 65px; color: white;">
                                                    <span style="color: gold; position: relative; top: 10%; line-height: 2.5em; font-weight: 300; font-size: 0.9em;">✦ 11 </span>
                                                    <span style="font-weight: 300; font-size: 0.9em;">Titan</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="post-subheader">
                                            <div class="row" style="overflow: hidden; max-height: 30px;">
                                                <div class="container" style="padding-top: 1%; width: 80%;">
                                                    <div class="col s4 left-align "><i class="fa fa-shield tooltip tooltipstered" data-tooltip-content="#badge_content465"
                                                            style="color: #f5f5f5;"></i></div>
                                                    <div class="col s4 center-align"><i class="fa fa-circle-o tooltip tooltipstered" style="color: #f5f5f5;"></i></div>
                                                    <div class="col s4 right-align"><i class="fa fa-microphone tooltip tooltipstered" style="color: #f5f5f5;"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tooltip_templates">
                                            <span id="badge_content465">
                                                                        <hr>
                                                                        <div class="row" style="margin-bottom: -5%">
                                                                            <div class="col s2"></div>                                
                                                                            <div class="col s8 center-align">                              
                                                                                <div class="chip" style="color: #FAFAFA; background-color: #FFCC01;" data-position="bottom">
                                                                                Sponsor
                                                                                <i class="material-icons" style="float: left; font-size: 14px; line-height: 23px; padding-right: 4px; margin-left: -6px;">attach_money</i>
                                                                                </div>
                                                                            </div>  
                                                                            <div class="col s2"></div>                                      
                                                                        </div>
                                                                        <p class="center-align"><small>Donated at least $100!</small></p>
                                                                        <hr>
                                                                            
                                                                        <div class="row" style="margin-bottom: -5%">
                                                                            <div class="col s2"></div>                                
                                                                            <div class="col s8 center-align">                              
                                                                                <div class="chip" style="color: #FAFAFA; background-color: #2ecc71;" data-position="bottom">
                                                                                Donator
                                                                                <i class="material-icons" style="float: left; font-size: 14px; line-height: 23px; padding-right: 4px; margin-left: -6px;">attach_money</i>
                                                                                </div>
                                                                            </div>  
                                                                            <div class="col s2"></div>                                      
                                                                        </div>
                                                                        <p class="center-align"><small>Donated at least $5!</small></p>
                                                                        <hr>
                                                                            
                                                                        <div class="row" style="margin-bottom: -5%">
                                                                            <div class="col s2"></div>                                
                                                                            <div class="col s8 center-align">                              
                                                                                <div class="chip" style="color: #FAFAFA; background-color: #2f3337;" data-position="bottom">
                                                                                Architect
                                                                                <i class="material-icons" style="float: left; font-size: 14px; line-height: 23px; padding-right: 3px; margin-left: -8px;">developer_mode</i>
                                                                                </div>
                                                                            </div>  
                                                                            <div class="col s2"></div>                                      
                                                                        </div>
                                                                        <p class="center-align"><small>Site Developer</small></p>
                                                                        <hr>
                                                                            
                                                                    </span>
                                        </div>

                                        <div class="card-content" style="padding-top: 25px;">
                                            <br>

                                            <span>
                                                                <b>Story</b>
                                                                    <br><small>less than a minute ago</small>
                                                            </span>



                                            <br><br>
                                            <div class="row valign-wrapper">
                                                <div class="col s12" style="height: 32px; margin-top: -10px;">
                                                    <span class="black-text truncate" style="margin-left: -7%; white-space: inherit;">
                                                                        looking for 2 more message for invite
                                                                    </span>
                                                </div>
                                            </div>


                                            <div class="card-tabs">
                                                <ul class="tabs post tabs-fixed-width post-tabs" style="background-image: url(/assets/lost-a78feff6443c832315ed5d08ed71b4f1ff8abe7ed302875d1b5db3b18fa7da39.png); background-position-y: -10px;">
                                                    <li class="tab post"><a href="#465-yearly" class="tab-card-link active" style="color: #f5f5f5; font-size: 14px; text-shadow: none;">Stats</a></li>
                                                    <li class="indicator" style="right: 0px; left: 0px;"></li>
                                                </ul>
                                            </div>

                                            <div class="card-content grey lighten-4">                                            
                                                <div id="465-yearly" class="active">
                                                    <table class="table centered highlight">
                                                        <thead>
                                                            <tr>
                                                                <th>K/D</th>
                                                                <th>Suicides</th>
                                                                <th>Success Rate</th>
                                                                <th>Fastest</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr>
                                                                <td> 36.00 </td>
                                                                <td> 2 </td>
                                                                <td> 100.0 %</td>
                                                                <td> 0:14.700 </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <br>

                                            <div class="row">
                                                <div class="col s4 left-align">
                                                    <a target="_blank" href="https://account.xbox.com/en-US/SkypeMessages?gamerTag=Luminusss">
                                                                        <span class="icon">
                                                                            <i class="fa fa-envelope"></i>
                                                                        </span>
                                    </a> </div>
                                                <div class="col s4 center-align tooltipped" data-position="top" data-delay="50" data-tooltip="Player Reputation Score (43 votes)"
                                                    data-tooltip-id="5088d884-1b38-c891-7cbb-be9b65fa2fea">
                                                    89.6%
                                                </div>
                                                <div class="col s4 right-align">
                                                     </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end single card -->                    
                        <div class="col s12 m6 l8 center-align">
                            <br>
                            <br>

                            <h3 style="color: #f5f5f5;"><span style="color: #386F8B; font-weight: bold;">LFG</span> <em>The Way It Was Meant To Be</em></h3>


                            <p style="margin-left: 10%; margin-right: 10%; font-size: 18px; color: #BFC4C2;">Out are the days of not knowing exactly what you are inviting to your group. LFG through Destinder
                                automatically brings in the most relevant stats for whatever gametpe they are posting for.</p>
                            <p style="margin-left: 10%; margin-right: 10%; font-size: 18px; color: #BFC4C2;">Want someone with a specific ELO ranking? You can filter for that. Want to find people who have
                                completed the raid more than 1 time? Yeah, easy to see that as well. Our advanced statistical
                                tracking and filtering system allows you to find exactly what you are looking for.</p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col s12 m6 l8 center-align">
                            <br>

                            <h3 style="color: #f5f5f5;"><span style="color: #913C31; font-weight: bold;">Fireteam</span> Tagging in LFG Posts</h3>
                            <p style="margin-left: 10%; margin-right: 10%; font-size: 18px; color: #BFC4C2;">Ever run with another really good player that you wish your new potential fireteam member could
                                easily see as well? With LFG through Destinder, it's incredibly easy to tag a another player
                                for others to see who you are playing with, along with their stats as well!</p>
                            <p style="margin-left: 10%; margin-right: 10%; font-size: 18px; color: #BFC4C2;">Gone are the days of not knowing what the other fireteam members skill level is when you join
                                a <strong>Trials of Osiris Group</strong>. Gone are the days of people joining, just to rage
                                quit. Destinder LFG allows full transparency before you players join up.</p>
                        </div>
                        <div class="col s12 m6 l4">
                            <!-- <iframe width="284" height="500" class="z-depth-3" src="https://www.youtube.com/embed/H3JiUgrYlgc?rel=0&amp;controls=0&amp;showinfo=0&loop=1&autoplay=1&playlist=H3JiUgrYlgc"
                                frameborder="0" autoplay=1 loop=1></iframe> -->
                                <div class="scroller-test">
                                        <div>
                                                                <div class="card-panel grey lighten-5 z-depth-1 hoverable" style="max-height: 400px;">
                                                                        <div class="post-header" style="background-image: url(https://www.bungie.net/common/destiny2_content/icons/5ab8eda6fedd55da2f3adf3aea557916.jpg); margin-bottom: 0px;">
                                                                            <div class="row" style="overflow: hidden; max-height: 65px; ">
                                                                                <div class="col s3 left-align" style="padding: 0; height: 65px;"><img style="max-width: calc(100% - 2.6em); min-width: 65px; position: relative; right: 3%; height: auto;" src="https://www.bungie.net/common/destiny2_content/icons/77c833bd8498e2a25506bad10197099a.jpg" alt="77c833bd8498e2a25506bad10197099a"></div>
                                                                                    <div class="col s6 center-align" style="height: 65px; color: white;"><a style="white-space: nowrap; font-size: 17px; text-overflow: ellipsis; color: #f5f5f5; position: relative; top: 34%; font-weight: 400;" href="/users/1" tabindex="0">ii WALZ ii</a></div>
                                                                                <div class="col s3 center-align large-break" style="height: 65px; color: white;">
                                                                                    <span style="color: gold; position: relative; top: 10%; line-height: 2.5em; font-weight: 300; font-size: 0.9em;">✦ 272 </span>
                                                                                    <span style="font-weight: 300; font-size: 0.9em;">Hunter</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    
                                                                        <div class="post-subheader" style="background: #C45455;">
                                                                                <div class="row" style="overflow: hidden; max-height: 30px;">
                                                                                    <div class="container" style="padding-top: 1%; width: 80%;">
                                                                                        <div class="col s3 left-align "><i class="fa fa-shield tooltip tooltipstered" data-tooltip-content="#badge_content464" style="color: #f5f5f5;"></i></div>
                                                                                        <div class="col s3 center-align"><i class="fa fa-circle-o tooltip tooltipstered" style="color: #f5f5f5;"></i></div>
                                                                                        <div class="col s3 right-align"><i class="fa fa-microphone tooltip tooltipstered" style="color: #f5f5f5;"></i></div>
                                                                                        <div class="col s3 right-align tooltip tooltipstered" style="color: #f5f5f5; font-weight: 700;" data-tooltip-content="#more-players-464">+2</div>
                                                                                    </div>
                                                                                </div>
                                                                        </div>
                                                                        <div class="tooltip_templates">
                                                                                <span id="badge_content464">
                                                                                    <hr>
                                                                                    <div class="row" style="margin-bottom: -5%">
                                                                                        <div class="col s2"></div>                                
                                                                                        <div class="col s8 center-align">                              
                                                                                            <div class="chip" style="color: #FAFAFA; background-color: #FFCC01;" data-position="bottom">
                                                                                            Sponsor
                                                                                            <i class="material-icons" style="float: left; font-size: 14px; line-height: 23px; padding-right: 4px; margin-left: -6px;">attach_money</i>
                                                                                            </div>
                                                                                        </div>  
                                                                                        <div class="col s2"></div>                                      
                                                                                    </div>
                                                                                    <p class="center-align"><small>Donated at least $100!</small></p>
                                                                                    <hr>
                                                                                        
                                                                                    <div class="row" style="margin-bottom: -5%">
                                                                                        <div class="col s2"></div>                                
                                                                                        <div class="col s8 center-align">                              
                                                                                            <div class="chip" style="color: #FAFAFA; background-color: #2ecc71;" data-position="bottom">
                                                                                            Donator
                                                                                            <i class="material-icons" style="float: left; font-size: 14px; line-height: 23px; padding-right: 4px; margin-left: -6px;">attach_money</i>
                                                                                            </div>
                                                                                        </div>  
                                                                                        <div class="col s2"></div>                                      
                                                                                    </div>
                                                                                    <p class="center-align"><small>Donated at least $5!</small></p>
                                                                                    <hr>
                                                                                        
                                                                                    <div class="row" style="margin-bottom: -5%">
                                                                                        <div class="col s2"></div>                                
                                                                                        <div class="col s8 center-align">                              
                                                                                            <div class="chip" style="color: #FAFAFA; background-color: #2f3337;" data-position="bottom">
                                                                                            Architect
                                                                                            <i class="material-icons" style="float: left; font-size: 14px; line-height: 23px; padding-right: 3px; margin-left: -8px;">developer_mode</i>
                                                                                            </div>
                                                                                        </div>  
                                                                                        <div class="col s2"></div>                                      
                                                                                    </div>
                                                                                    <p class="center-align"><small>Site Developer</small></p>
                                                                                    <hr>
                                                                                        
                                                                                </span>
                                                                                <span id="more-players-464">
                                                                                    <p>This fireteam has 2 more player(s). </p>
                                                                                </span>
                                                                        </div>
                        
                                                                    <div class="card-content" style="padding-top: 25px;">
                                                                        <br>
                                                                        
                                                                        <span>
                                                                            <b>Crucible Playlist</b>
                                                                                <br><small>about 3 minutes ago</small>
                                                                        </span>
                                                                    
                        
                        
                                                                    <br><br>    
                                                                    <div class="row valign-wrapper">
                                                                        <div class="col s12" style="height: 32px; margin-top: -10px;">
                                                                                <span class="black-text truncate" style="margin-left: -7%; white-space: inherit;">
                                                                                    Looking for 1 more
                                                                                </span>
                                                                        </div>
                                                                    </div>
                                                                        
                        
                                                <div class="card-tabs">
                                                <ul class="tabs post tabs-fixed-width post-tabs" style="background-image: url(/assets/void-03712f4c0cbc4829d4d11297a2bcc76c6ac41129d36bf0dec5e7e75a026ebdf4.png);">
                                                    <li class="tab post"><a href="#464-yearly" class="tab-card-link active" style="color: #f5f5f5; font-size: 14px; text-shadow: none;" tabindex="0">Stats</a></li>
                                                <li class="indicator" style="right: 0px; left: 0px;"></li></ul>
                                                </div>
                        
                                                <div class="card-content grey lighten-4 tooltipped" data-position="top" data-delay="50" data-tooltip="Coming soon! We're waiting for Bungie to give us this information." data-tooltip-id="6565792c-309d-e82d-5e85-852dd1ed26c6">
                                                <div id="464-yearly" class="active">
                                                    <table class="table centered highlight">
                                                        <thead>
                                                            <tr>
                                                                <th>K/D</th>
                                                                <th># Games</th>
                                                                <th>Win Ratio</th>
                                                                <th>Avg. Life</th>
                                                            </tr>
                                                        </thead>
                                                
                                                        <tbody>
                                                            <tr>
                                                                <td> 1.20 </td>
                                                                <td> 137 </td>
                                                                <td> 94 %</td>
                                                                <td> 1m 19s </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                </div> 
                                                                    <br> 

                                                                    <div class="row">
                                                                        <div class="col s4 left-align">
                                                                                <a target="_blank" href="https://account.xbox.com/en-US/SkypeMessages?gamerTag=ii WALZ ii" tabindex="0">
                                                                                    <span class="icon">
                                                                                        <i class="fa fa-envelope"></i>
                                                                                    </span>
                                                </a>                            </div>
                                                                        <div class="col s4 center-align tooltipped" data-position="top" data-delay="50" data-tooltip="Player Reputation Score (49 votes)" data-tooltip-id="779de740-f08c-9605-1851-921d5d446ca2">                            
                                                                            97.2%
                                                                        </div>
                                                                        <div class="col s4 right-align">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                </div>
                                        </div>
                                        <div>
                                                                <div class="card-panel grey lighten-5 z-depth-1 hoverable" style="max-height: 400px;">
                                                                        <div class="post-header" style="background-image: url(https://www.bungie.net/common/destiny2_content/icons/73f5f779f40bfecb4690c395bc1941b9.jpg); margin-bottom: 0px;">
                                                                            <div class="row" style="overflow: hidden; max-height: 65px; ">
                                                                                <div class="col s3 left-align" style="padding: 0; height: 65px;"><img style="max-width: calc(100% - 2.6em); min-width: 65px; position: relative; right: 3%; height: auto;" src="https://www.bungie.net/common/destiny2_content/icons/911791e90f955fc637398ea88aba74b7.jpg" alt="911791e90f955fc637398ea88aba74b7"></div>
                                                                                    <div class="col s6 center-align" style="height: 65px; color: white;"><a style="white-space: nowrap; font-size: 15px; color: #f5f5f5; position: relative; top: 34%; font-weight: 400;" href="/users/3" tabindex="0">Putin Pudding</a></div>
                                                                                <div class="col s3 center-align large-break" style="height: 65px; color: white;">
                                                                                    <span style="color: gold; position: relative; top: 10%; line-height: 2.5em; font-weight: 300; font-size: 0.9em;">✦ 100 </span>
                                                                                    <span style="font-weight: 300; font-size: 0.9em;">Warlock</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    
                                                                        <div class="post-subheader" style="background: #C45455;">
                                                                                <div class="row" style="overflow: hidden; max-height: 30px;">
                                                                                    <div class="container" style="padding-top: 1%; width: 80%;">
                                                                                        <div class="col s3 left-align "><i class="fa fa-shield tooltip tooltipstered" data-tooltip-content="#badge_content464-0" style="color: #f5f5f5;"></i></div>
                                                                                        <div class="col s3 center-align"><i class="fa fa-circle-o tooltip tooltipstered" style="color: #f5f5f5;"></i></div>
                                                                                        <div class="col s3 right-align"><i class="fa fa-microphone tooltip tooltipstered" style="color: #f5f5f5;"></i></div>
                                                                                        <div class="col s3 right-align tooltip tooltipstered" style="color: #f5f5f5; font-weight: 700;" data-tooltip-content="#more-players-464-0">+2</div>
                                                                                    </div>
                                                                                </div>
                                                                        </div>
                                                                        <div class="tooltip_templates">
                                                                                <span id="badge_content464-0">
                                                                                    <hr>
                                                                                    <div class="row" style="margin-bottom: -5%">
                                                                                        <div class="col s2"></div>                                
                                                                                        <div class="col s8 center-align">                              
                                                                                            <div class="chip" style="color: #FAFAFA; background-color: #FF4500;" data-position="bottom">
                                                                                            Little Helper
                                                                                            <i class="fa fa-reddit-alien" style="float: left; font-size: 15px; line-height: 21px; padding-right: 7px; margin-left: -6px;"></i>
                                                                                            </div>
                                                                                        </div>  
                                                                                        <div class="col s2"></div>                                      
                                                                                    </div>
                                                                                    <p class="center-align"><small>Feedback contributor on Reddit</small></p>
                                                                                    <hr>
                                                                                        
                                                                                    <div class="row" style="margin-bottom: -5%">
                                                                                        <div class="col s2"></div>                                
                                                                                        <div class="col s8 center-align">                              
                                                                                            <div class="chip" style="color: #FAFAFA; background-color: #FF00A3;" data-position="bottom">
                                                                                            Cake Boss
                                                                                            <i class="fa fa-birthday-cake" style="float: left; font-size: 14px; line-height: 23px; padding-right: 4px; margin-left: -6px;"></i>
                                                                                            </div>
                                                                                        </div>  
                                                                                        <div class="col s2"></div>                                      
                                                                                    </div>
                                                                                    <p class="center-align"><small>Paid for half of our domain. Whoo..</small></p>
                                                                                    <hr>
                                                                                        
                                                                                    <div class="row" style="margin-bottom: -5%">
                                                                                        <div class="col s2"></div>                                
                                                                                        <div class="col s8 center-align">                              
                                                                                            <div class="chip" style="color: #FAFAFA; background-color: #026670;" data-position="bottom">
                                                                                            Veteran
                                                                                            <i class="fa fa-first-order" style="float: left; font-size: 14px; line-height: 23px; padding-right: 4px; margin-left: -6px;"></i>
                                                                                            </div>
                                                                                        </div>  
                                                                                        <div class="col s2"></div>                                      
                                                                                    </div>
                                                                                    <p class="center-align"><small>One of the first 500 users on the site!</small></p>
                                                                                    <hr>
                                                                                        
                                                                                </span>
                                                                                <span id="more-players-464-0">
                                                                                    <p>This fireteam has 2 more player(s). </p>
                                                                                </span>
                                                                        </div>
                        
                                                                    <div class="card-content" style="padding-top: 25px;">
                                                                        <br>
                                                                        
                                                                        <span>
                                                                            <b>Crucible Playlist</b>
                                                                                <br><small>about 3 minutes ago</small>
                                                                        </span>
                                                                    
                        
                        
                                                                    <br><br>    
                                                                    <div class="row valign-wrapper">
                                                                        <div class="col s12" style="height: 32px; margin-top: -10px;">
                                                                                <span class="black-text truncate" style="margin-left: -7%; white-space: inherit;">
                                                                                
                                                                                </span>
                                                                        </div>
                                                                    </div>
                                                                        
                        
                                                <div class="card-tabs">
                                                <ul class="tabs post tabs-fixed-width post-tabs" style="background-image: url(/assets/void-03712f4c0cbc4829d4d11297a2bcc76c6ac41129d36bf0dec5e7e75a026ebdf4.png);">
                                                <li class="tab post"><a href="#464-yearly" class="tab-card-link active" style="color: #f5f5f5; font-size: 14px; text-shadow: none;" tabindex="0">Stats</a></li>
                                                <li class="indicator" style="right: 0px; left: 0px;"></li></ul>
                                                </div>
                        
                                                <div class="card-content grey lighten-4 tooltipped" data-position="top" data-delay="50" data-tooltip="Coming soon! We're waiting for Bungie to give us this information." data-tooltip-id="f9d661cd-ca97-9322-b298-1da7bc936076">
                                                <div id="464-yearly">
                                                <table class="table centered highlight">
                                                <thead>
                                                <tr>
                                                    <th>K/D</th>
                                                    <th># Games</th>
                                                    <th>Win Ratio</th>
                                                    <th>Avg. Life</th>
                                                </tr>
                                                </thead>
                        
                                                <tbody>
                                                <tr>
                                                    <td> 1.04 </td>
                                                    <td> 204 </td>
                                                    <td> 64 %</td>
                                                    <td> 1m 13s </td>
                                                </tr>
                                                </tbody>
                                                </table>
                                                </div>
                                                </div> 
                                                                    <br> 
                        
                                                                    <div class="row">
                                                                        <div class="col s4 left-align">
                                                                                <a target="_blank" href="https://account.xbox.com/en-US/SkypeMessages?gamerTag=Putin Pudding" tabindex="0">
                                                                                    <span class="icon">
                                                                                        <i class="fa fa-envelope"></i>
                                                                                    </span>
                                                </a>                                        </div>
                                                                        <div class="col s4 center-align tooltipped" data-position="top" data-delay="50" data-tooltip="Player Reputation Score (27 votes)" data-tooltip-id="19bb7cce-d704-d121-60ca-251fac4d9ba1">                            
                                                                            67.7%
                                                                        </div>
                                                                        <div class="col s4 right-align">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                </div>
                        
                        
                        
                        
                        
                        
                                        </div>
                                        <div>
                                                                        <div class="card-panel grey lighten-5 z-depth-1 hoverable" style="max-height: 400px;">
                                                                                <div class="post-header" style="background-image: url(https://www.bungie.net/common/destiny2_content/icons/798f5839febe4ad28b42e2c88c94db9d.jpg); margin-bottom: 0px;">
                                                                                    <div class="row" style="overflow: hidden; max-height: 65px; ">
                                                                                        <div class="col s3 left-align" style="padding: 0; height: 65px;"><img style="max-width: calc(100% - 2.6em); min-width: 65px; position: relative; right: 3%; height: auto;" src="https://www.bungie.net/common/destiny2_content/icons/329b866699d4048e9a8ca8d8861b0277.jpg" alt="329b866699d4048e9a8ca8d8861b0277"></div>
                                                                                            <div class="col s6 center-align" style="height: 65px; color: white;"><a style="white-space: nowrap; font-size: 17px; text-overflow: ellipsis; color: #f5f5f5; position: relative; top: 34%; font-weight: 400;" href="/users/4" tabindex="0">KURTO13</a></div>
                                                                                        <div class="col s3 center-align large-break" style="height: 65px; color: white;">
                                                                                            <span style="color: gold; position: relative; top: 10%; line-height: 2.5em; font-weight: 300; font-size: 0.9em;">✦ 238 </span>
                                                                                            <span style="font-weight: 300; font-size: 0.9em;">Titan</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            
                                                                                <div class="post-subheader" style="background: #C45455;">
                                                                                        <div class="row" style="overflow: hidden; max-height: 30px;">
                                                                                            <div class="container" style="padding-top: 1%; width: 80%;">
                                                                                                <div class="col s3 left-align "><i class="fa fa-shield tooltip tooltipstered" data-tooltip-content="#badge_content464-1" style="color: #f5f5f5;"></i></div>
                                                                                                <div class="col s3 center-align"><i class="fa fa-circle-o tooltip tooltipstered" style="color: #f5f5f5;"></i></div>
                                                                                                <div class="col s3 right-align"><i class="fa fa-microphone tooltip tooltipstered" style="color: #f5f5f5;"></i></div>
                                                                                                <div class="col s3 right-align tooltip tooltipstered" style="color: #f5f5f5; font-weight: 700;" data-tooltip-content="#more-players-464-1">+2</div>
                                                                                            </div>
                                                                                        </div>
                                                                                </div>
                                                                                <div class="tooltip_templates">
                                                                                        <span id="badge_content464-1">
                                                                                            <hr>
                                                                                            <div class="row" style="margin-bottom: -5%">
                                                                                                <div class="col s2"></div>                                
                                                                                                <div class="col s8 center-align">                              
                                                                                                    <div class="chip" style="color: #FAFAFA; background-color: #1DA1F2;" data-position="bottom">
                                                                                                    Follower
                                                                                                    <i class="fa fa-users" style="float: left; font-size: 15px; line-height: 21px; padding-right: 7px; margin-left: -6px;"></i>
                                                                                                    </div>
                                                                                                </div>  
                                                                                                <div class="col s2"></div>                                      
                                                                                            </div>
                                                                                            <p class="center-align"><small>Follower of Destinder on social media</small></p>
                                                                                            <hr>
                                                                                                
                                                                                            <div class="row" style="margin-bottom: -5%">
                                                                                                <div class="col s2"></div>                                
                                                                                                <div class="col s8 center-align">                              
                                                                                                    <div class="chip" style="color: #FAFAFA; background-color: #026670;" data-position="bottom">
                                                                                                    Veteran
                                                                                                    <i class="fa fa-first-order" style="float: left; font-size: 14px; line-height: 23px; padding-right: 4px; margin-left: -6px;"></i>
                                                                                                    </div>
                                                                                                </div>  
                                                                                                <div class="col s2"></div>                                      
                                                                                            </div>
                                                                                            <p class="center-align"><small>One of the first 500 users on the site!</small></p>
                                                                                            <hr>
                                                                                                
                                                                                        </span>
                                                                                        <span id="more-players-464-1">
                                                                                            <p>This fireteam has 2 more player(s). </p>
                                                                                        </span>
                                                                                </div>
                        
                                                                            <div class="card-content" style="padding-top: 25px;">
                                                                                <br>
                                                                                
                                                                                <span>
                                                                                    <b>Crucible Playlist</b>
                                                                                        <br><small>about 3 hours ago</small>
                                                                                </span>
                                                                            
                        
                        
                                                                            <br><br>    
                                                                            <div class="row valign-wrapper">
                                                                                <div class="col s12" style="height: 32px; margin-top: -10px;">
                                                                                        <span class="black-text truncate" style="margin-left: -7%; white-space: inherit;">
                                                                                        
                                                                                        </span>
                                                                                </div>
                                                                            </div>
                                                                                
                        
                                                        <div class="card-tabs">
                                                        <ul class="tabs post tabs-fixed-width post-tabs" style="background-image: url(/assets/solar-9b9f4a0aed18703225cef73616055d3407724f3a82961366e5dfde9f8df9bbe9.png);">
                                                        <li class="tab post"><a href="#464-yearly" class="tab-card-link active" style="color: #3a3a3a; font-size: 14px;" tabindex="0">Stats</a></li>
                                                        <li class="indicator" style="right: 0px; left: 0px;"></li></ul>
                                                        </div>
                        
                                                        <div class="card-content grey lighten-4 tooltipped" data-position="top" data-delay="50" data-tooltip="Coming soon! We're waiting for Bungie to give us this information." data-tooltip-id="bead48ba-cfdd-ad3d-792c-c441cec9503e">
                                                        <div id="464-yearly">
                                                        <table class="table centered highlight">
                                                        <thead>
                                                        <tr>
                                                            <th>K/D</th>
                                                            <th># Games</th>
                                                            <th>Win Ratio</th>
                                                            <th>Avg. Life</th>
                                                        </tr>
                                                        </thead>
                        
                                                        <tbody>
                                                        <tr>
                                                            <td> 1.67 </td>
                                                            <td> 42 </td>
                                                            <td> 87 %</td>
                                                            <td> 1m 9s </td>
                                                        </tr>
                                                        </tbody>
                                                        </table>
                                                        </div>
                                                        </div> 
                                                                            <br> 
                        
                                                                            <div class="row">
                                                                                <div class="col s4 left-align">
                                                                                        <a target="_blank" href="https://account.xbox.com/en-US/SkypeMessages?gamerTag=ii WALZ ii" tabindex="0">
                                                                                            <span class="icon">
                                                                                                <i class="fa fa-envelope"></i>
                                                                                            </span>
                                                        </a>                                        </div>
                                                                                <div class="col s4 center-align tooltipped" data-position="top" data-delay="50" data-tooltip="Player Reputation Score (19 votes)" data-tooltip-id="8f341b77-7183-b9b7-f576-ec8355e054f1">                            
                                                                                    94.9%
                                                                                </div>
                                                                                <div class="col s4 right-align">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        </div>
                        
                        
                        
                        
                        
                        
                        
                                        </div>
                                    </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="https://mmoexaminer.com/wp-content/uploads/2017/08/d2_pvp_heroic_02.jpg"></div>
        </div>

        <div id="fire-test"></div>
        <div id='content-homepage'>
            <div class='container' style="width: 90%;">
                <section class='first-section-homepage'>
                    <div id="trials-stuff">
                        <div class="row center-align">
                            <h3 style="color: #f5f5f5;"><span style="color: #F9E656; font-weight: bold;">Trials of The Nine</span> at a Glance</h3>                                
                        </div>
                        <div class="row">
                            <h5 class="left-align" style="color: #f5f5f5; margin-left: 3px;">Character Badges</h5> 
                            <div class="col s12 m6 center-align">
                                    <div style="    border: solid 1px #f5f5f5; border-radius: 10px; padding: 20px; ">                                                                                                                                        

                                                                                       
                                            <div class="row">
                                                <div class="col s12 m4" style="margin-bottom: 1px;">
                                                    <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="More than 1/3 of total kills with a Sniper Rifle" style="color: #f1c40f; border: 1px #f1c40f solid; max-width: 100px;" data-tooltip-id="30435e56-6f5c-b00f-68fd-6f00d8913713">
                                                        Sniper
                                                        <i class="fa fa-crosshairs" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                                                    </div>
                                                </div>            
                                                <div class="col s12 m4" style="margin-bottom: 1px;">
                                                    <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="More than 1/3 of total kills with a Pulse Rifle" style="color: #2ecc71; border: 1px #2ecc71 solid;max-width: 100px;" data-tooltip-id="48710fb0-0a67-6a1a-9299-ee18e1465f31">
                                                        Pulse
                                                        <i class="fa fa-crosshairs" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                                                    </div>
                                                </div>            
                                                <div class="col s12 m4" style="margin-bottom: 1px;">
                                                    <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="More than 1/3 of total kills with a Scout Rifle" style="color: #9b59b6; border: 1px #9b59b6 solid; max-width: 100px;" data-tooltip-id="8f3efc3c-2180-a136-d0f5-0365b4635d54">
                                                        Scout
                                                        <i class="fa fa-crosshairs" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                                                    </div>
                                                </div>     
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col s12 m4" style="margin-bottom: 1px;">
                                                    <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="More than 1/3 of total kills with a Hand Cannon" style="color: #e74c3c; border: 1px #e74c3c solid;" data-tooltip-id="87fe13c8-6dcd-e7ee-3ce9-65986d67a389">
                                                        Hand Cannon
                                                        <i class="fa fa-crosshairs" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                                                    </div>
                                                </div>            
                                                <div class="col s12 m4" style="margin-bottom: 1px;">
                                                    <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="More than 1/3 of total kills with a Fusion Rifle" style="color: #34495e; border: 1px #34495e solid; max-width: 100px;" data-tooltip-id="5f8779c8-e883-546a-18aa-abfcbd2242d6">
                                                        Fusion
                                                        <i class="fa fa-crosshairs" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                                                    </div>
                                                </div>            
                                                <div class="col s12 m4" style="margin-bottom: 1px;">
                                                    <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="More than 1/3 of total kills with an Auto Rifle" style="color: #FA8708; border: 1px #FA8708 solid; max-width: 100px;" data-tooltip-id="f682f039-d611-f8e8-ff88-3ae5cae15de6">
                                                        Auto
                                                        <i class="fa fa-crosshairs" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                                                    </div>
                                                </div>     
                                            </div>
                                    
                                            <div class="row">
                                                <div class="col s12 m4" style="margin-bottom: 1px;">
                                                    <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="More than 1/3 of total kills with a Side Arm" style="color: #AA885F; border: 1px #AA885F solid; max-width: 100px;" data-tooltip-id="2d990b41-8546-99b0-c09c-d76d41577cd1">
                                                        Sidearm
                                                        <i class="fa fa-crosshairs" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                                                    </div>
                                                </div>            
                                                <div class="col s12 m4" style="margin-bottom: 1px;">
                                                    <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="More than 1/3 of total kills with a Shotgun" style="color: #e74c3c; border: 1px #e74c3c solid; max-width: 100px;" data-tooltip-id="97f0c005-20fa-c1ad-af67-65c0a894a6cb">
                                                        Shotgun
                                                        <i class="fa fa-crosshairs" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                                                    </div>
                                                </div>            
                                                <div class="col s12 m4" style="margin-bottom: 1px;">
                                                    <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Performed More than 2x revives than received" style="color: #FF3B3F; border: 1px #FF3B3F solid; max-width: 100px;" data-tooltip-id="78380f89-21a7-4053-f454-c4920b07f07c">
                                                        Medic
                                                        <i class="fa fa-medkit" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px; color: #f5f5f5;"></i>
                                                    </div>
                                                </div>     
                                            </div>
                                            <div class="row">
                                                <div class="col s12 m4" style="margin-bottom: 1px;">
                                                    <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="20%+ of total kills with abilities" style="color: #4484CE; border: 1px #4484CE solid; max-width: 100px;" data-tooltip-id="fc70bdec-e3b1-9478-2bf9-d313861fa04b">
                                                        Super Man
                                                        <i class="fa fa-superpowers" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                                                    </div>
                                                </div>            
                                                <div class="col s12 m4" style="margin-bottom: 1px;">
                                                    <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="More than 40% of total kills are precision kills" style="color: #f5f5f5; border: 1px #f5f5f5 solid; max-width: 100px;" data-tooltip-id="f96e4c3e-5b4b-30bf-8709-8a95abc0848d">
                                                        Marksman
                                                        <i class="fa fa-bullseye" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px; color: #FF3B3D;"></i>
                                                    </div>
                                                </div>            
                                                <div class="col s12 m4" style="margin-bottom: 1px;">
                                                    <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Kill Distance is greater than 25m" style="color: #AA885F; border: 1px #AA885F solid;max-width: 100px;" data-tooltip-id="abefc7f2-c70b-8404-2587-81bf15e3e165">
                                                        Camper
                                                        <i class="fa fa-free-code-camp" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                                                    </div>
                                                </div>     
                                            </div>
                                    
                                            <div class="row">
                                                <div class="col s12 m4" style="margin-bottom: 1px;">
                                                    <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Kill Distance is less than 20m" style="color: #FF4500; border: 1px #FF4500 solid;max-width: 100px;" data-tooltip-id="6302d6ec-d7f6-0f3d-dd14-b614590ec2d1">
                                                        Rusher
                                                        <i class="fa fa-fast-forward" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                                                    </div>
                                                </div>            
                                                <div class="col s12 m4" style="margin-bottom: 1px;">
                                    
                                                <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Killing Spree greater than 10" style="color: red; border: 1px #009EF9 solid;max-width: 113px;" data-tooltip-id="b2688874-00a9-0ff1-ecbc-1ef75cb47d35">
                                                        Fight Forever
                                                        <i class="fa fa-fire-extinguisher" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                                                    </div>
                                                    
                                                </div>            
                                                <div class="col s12 m4" style="margin-bottom: 1px;">
                                                    
                                                    <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Killing Spree greater than 15" style="color: #DFBF93; border: 1px #374730 solid;max-width: 113px;" data-tooltip-id="d7443cbf-ffde-c21f-a6bb-cf4993666176">
                                                        Army Of One
                                                        <i class="fa fa-diamond" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px; color: #5F523C;"></i>
                                                    </div>
                                                </div> 
                                    
                                                </div>
                                                
                                                <div class="row">
                                    
                                                <div class="col s12 m4" style="margin-bottom: 1px;">
                                                    
                                                    <div class="character-badge chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Killing Spree greater than 20" style="color: #00FEFC; border: 1px #009EF9 solid;max-width: 100px;" data-tooltip-id="5f3b02fc-afa9-f951-4d09-65a9a010b2eb">
                                                        Trials God
                                                        <i class="fa fa-star" style="float: left; white-space: nowrap; font-size: 12px; line-height: 21px; padding-right: 4px; margin-left: -6px;"></i>
                                                    </div>
                                                </div> 
                                    
                                            </div>
                                    </div>
                            </div>

                            <div class="col s12 m6 center-align scrollspy">
                                <p style="margin-left: 10%; margin-right: 10%; font-size: 18px; color: #BFC4C2;">Using our custom badge system, you can easily look at a player and know what their
                                    tendancies are before you start the match. Now you know whether to expect a rush or
                                    a passive team just by checking out their character badges.</p>
                                <p style="margin-left: 10%; margin-right: 10%; font-size: 18px; color: #BFC4C2;">Badges are automatically created off of the statistical data provided directly from Bungie. 
                                    For more information on how players get their specific badges, check out
                                    the "About Badges" section below.</p>
                            </div>
                        </div>
                        <div class="row center-align" style="margin-bottom: -2%; margin-top: 5%;">
                            <h3 style="color: #f5f5f5;"><span style="color: #0bd9d7; font-weight: bold;">Player Stats</span> For The Elite (Coming Soon!)</h3>                           
                            <p style="margin-left: 10%; margin-right: 10%; font-size: 18px; color: #BFC4C2;">
                                Find specific game mode stats for fireteams you're up against. Just search for one player on
                                the opposing team and find the most recent fireteam that player was paired with. You can also see all character Stats
                                for each player on the team!
                        
                            </p>
                        </div>
                        <div class="row">                            
                            <div class="col s12 m6" style="margin-top: 4%;">
                                <%= image_tag  "trials_full_team.png", style: "width: 100%;"%>
                            </div>
                            <div class="col s12 m6" style="margin-top: 4%;">
                                <%= image_tag  "trials_single_player.png", style: "width: 100%;"%>
                            </div>
                        </div>
                    <div class="row center-align" style="margin-bottom: -2%;">
                        <h3 style="color: #f5f5f5;"><span style="color: #522F65; font-weight: bold;">Account Badges</span> For The Loyal</h3>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 center-align">
                            <br>                               
                            <p style="margin-left: 10%; margin-right: 10%; font-size: 18px; color: #BFC4C2;">Account badges are separate from your "Player Analysis" badges and show more long-term accomplishments
                                as well as reflect how active you are in the Destinder community. These badges are also
                                documented in the "About Badges" section.</p>

                        </div>

                        <div class="col s12 m6" style="margin-top: 4%;">
                                <h5 style="color: #f5f5f5;">Account Badges</h5>
                                          <div class="chip tooltipped" style="color: #FAFAFA; background-color: #1DA1F2;" data-position="top" data-delay="50" data-tooltip="Follower of Destinder on social media" data-tooltip-id="eb389dde-cd64-5d3d-35e9-6819fa50003f">
                                            Follower
                                            <i class="fa fa-users" style="float: left; font-size: 15px; line-height: 21px; padding-right: 7px; margin-left: -6px;"></i>
                                          </div>                
                                          <div class="chip tooltipped" style="color: #FAFAFA; background-color: #FF4500;" data-position="top" data-delay="50" data-tooltip="Feedback contributor on Reddit" data-tooltip-id="f9303851-25b0-e3da-ed11-76786d87b2d7">
                                            Little Helper
                                            <i class="fa fa-reddit-alien" style="float: left; font-size: 15px; line-height: 21px; padding-right: 7px; margin-left: -6px;"></i>
                                          </div>                
                                          <div class="chip tooltipped" style="color: #FAFAFA; background-color: #2ecc71;" data-position="top" data-delay="50" data-tooltip="Donated at least $5!" data-tooltip-id="a2ccef7b-bc64-7f40-5978-ed2667a8a7ce">
                                            Donator
                                            <i class="material-icons" style="float: left; font-size: 14px; line-height: 23px; padding-right: 4px; margin-left: -6px;">attach_money</i>
                                          </div>                
                                          <div class="chip tooltipped" style="color: #FAFAFA; background-color: #026670;" data-position="top" data-delay="50" data-tooltip="One of the first 500 users on the site!" data-tooltip-id="17b8bb28-4db1-b9ed-e36e-dbc3753a77f1">
                                            Veteran
                                            <i class="fa fa-first-order" style="float: left; font-size: 14px; line-height: 23px; padding-right: 4px; margin-left: -6px;"></i>
                                          </div>                
                              </div>

                    </div>
                    </div>
                </section>
            </div>
        </div>

        <div id='content-homepage'>
        <div class='container' style="width: 90%;">
            <section class='first-section-homepage'>
                <div>
                        <div class="row">
                                <div class="col s12 m3">
                                    <%= link_to  "mailto:help@destinder.com" do %>
                                        <div class="card-panel home-card z-depth-2 hoverable">
                                            <span class="card-text">
                                                <center><i class="fa fa-envelope fa-4x" style="color: #88BBD6;"></i></center>
                                                <p class="center-align" style="font-size: 18px; white-space: nowrap;">CONTACT US</p> 
                                            </span>
                                        </div>
                                    <% end %>
                                </div>
                                <div class="col s12 m3">
                                    <a class="modal-trigger" href="#badge-modal">
                                        <div class="card-panel home-card z-depth-2 hoverable">
                                            <span class="card-text">
                                                <center><i class="fa fa-shield fa-4x" style="color: #88BBD6;"></i></center>
                                                <p class="center-align" style="font-size: 18px; white-space: nowrap;">BADGE INFO</p> 
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col s12 m3">
                                    <a class="modal-trigger" href="#featured-players-modal">
                                        <div class="card-panel home-card z-depth-2 hoverable">
                                            <span class="card-text">
                                                <center><i class="fa fa-star fa-4x" style="color: #88BBD6;"></i></center>
                                                <p class="center-align" style="font-size: 18px; white-space: nowrap;">FEATURED PLAYERS</p> 
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="col s12 m3">
                                    <%= link_to "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HUYFMWSSJERU2" do %>
                                        <div class="card-panel home-card z-depth-2 hoverable">
                                            <span class="card-text">
                                                <center><i class="fa fa-paypal fa-4x" style="color: #88BBD6;"></i></center>
                                                <p class="center-align" style="font-size: 18px; white-space: nowrap;">DONATE</p> 
                                            </span>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                
                </div>
            </section>
        </div>
    </div>

    </section>
</div>