<div class="hide-on-small-only">
    <div class="parallax-container" style="height: 350px;">
            <div class="parallax"><%= image_tag  "site-header.jpg" %></div>
            
        
            <div class="container" style="width: 80%; padding-top: 5%;">
                    
            </div>
        </div>
        
        <section>
            <div id='content-homepage'>
                    <div class='container' style="width: 90%;">
                        <section class='first-section-homepage'> 
                            <div class="row center-align">
                                <%= image_tag  "announce-with-title-word-white.png", style: "width: 50%;" %>                                
                            </div>
                            <hr>
                            <div class="row center-align" style="margin-bottom: -2%; margin-top: 5%;">
                                    <h3 style="color: #f5f5f5;"><span style="color: #0bd9d7; font-weight: bold;">Player Stats</span> For The Elite (Coming Soon!)</h3>                           
                                    <p style="margin-left: 10%; margin-right: 10%; font-size: 18px; color: #BFC4C2;">
                                        Find specific game mode stats for fireteams you're up against. Just search for one player on
                                        the opposing team and find the most recent fireteam that player was paired with. You can also see all character Stats
                                        for each player on the team!
                                
                                    </p>
                                </div>
                                <div class="row">                            
                                    <div class="col s12 m6" style="margin-top: 4%;">
                                        <%= image_tag  "trials_full_team.png", style: "width: 100%;"%>
                                    </div>
                                    <div class="col s12 m6" style="margin-top: 4%;">
                                        <%= image_tag  "trials_single_player.png", style: "width: 100%;"%>
                                    </div>
                                </div>
                            <hr>
                            <div class="row center-align">
                                <h4 style="color: #f5f5f5;"><span style="color: #913C31; font-weight: bold;">CLANS</span> (Coming soon!)</h4>
                                <p style="font-size: 1.3em; color: #f5f5f5;">
                                    We are currently working on integrating clan functionality. Here are some of the things you can expect to see in the near future:
                                    <div class="container" style="width: 50%;">
                                        <ul style="font-size: 1.3em; color: #f5f5f5;">
                                            <li style="list-style-type: square; text-align: left;">Clan recruitment forums</li>
                                            <li style="list-style-type: square; text-align: left;">Clan rosters</li>
                                            <li style="list-style-type: square; text-align: left;">Clan stat dashboard for multiple game modes</li>
                                        </ul>
                                    </div>
                                    
                                </p>
                            </div>

                        </section>
                    </div>
            </div>
            <div class="parallax-container">
                <div class="parallax"><img src="https://mmoexaminer.com/wp-content/uploads/2017/08/d2_pvp_heroic_02.jpg"></div>
            </div>
        
            <div id="fire-test"></div> 
            <div id='content-homepage'>
                <div class='container' style="width: 90%;">
                    <section class='first-section-homepage'>
                        <div id="trials-stuff">
                                <div class="row">
                                        <div class="col s12 m3">
                                            <%= link_to  "mailto:help@destinder.com" do %>
                                                <div class="card-panel home-card z-depth-2 hoverable">
                                                    <span class="card-text">
                                                        <center><i class="fa fa-envelope fa-4x" style="color: #88BBD6;"></i></center>
                                                        <p class="center-align" style="font-size: 18px; white-space: nowrap;">CONTACT US</p> 
                                                    </span>
                                                </div>
                                            <% end %>
                                        </div>
                                        <div class="col s12 m3">
                                            <a class="modal-trigger" href="#badge-modal">
                                                <div class="card-panel home-card z-depth-2 hoverable">
                                                    <span class="card-text">
                                                        <center><i class="fa fa-shield fa-4x" style="color: #88BBD6;"></i></center>
                                                        <p class="center-align" style="font-size: 18px; white-space: nowrap;">BADGE INFO</p> 
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col s12 m3">
                                            <a class="modal-trigger" href="#featured-players-modal">
                                                <div class="card-panel home-card z-depth-2 hoverable">
                                                    <span class="card-text">
                                                        <center><i class="fa fa-star fa-4x" style="color: #88BBD6;"></i></center>
                                                        <p class="center-align" style="font-size: 18px; white-space: nowrap;">FEATURED PLAYERS</p> 
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        
                                        <div class="col s12 m3">
                                            <%= link_to "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HUYFMWSSJERU2" do %>
                                                <div class="card-panel home-card z-depth-2 hoverable">
                                                    <span class="card-text">
                                                        <center><i class="fa fa-paypal fa-4x" style="color: #88BBD6;"></i></center>
                                                        <p class="center-align" style="font-size: 18px; white-space: nowrap;">DONATE</p> 
                                                    </span>
                                                </div>
                                            <% end %>
                                        </div>
                                    </div>
                        
                        </div>
                    </section>
                </div>
            </div>
        
        </section>
        </div>