<% info = "test" %>
<% character_races = {0 => "Titan", 1 => "Hunter", 2 => "Warlock"} %>
<% weapons = {"Auto Rifle" => "auto-rifle.png", 
              "Pulse Rifle" => "pulse-rifle.png", 
              "Hand Cannon" => "hand-cannon.png",
              "Sniper Rifle" => "sniper.png",
              "Shotgun" => "shotgun.png",
              "Scout Rifle" => "pulse-rifle.png",
        } %>
<% stuff = {"testing" => "abc", "hello_there" => "hi!"} %>


<div class="container" style="width: 85%">

       

        <%= react_component 'AdminPanel', { chartData: info }  %>
        <%= react_component 'Hello' %>
        <%= react_component 'TestingClass' %>
        <%= react_component 'Navigation' %>            


    <%= react_component 'Testing', { firstName: current_user.display_name } %>
    <div id="testing"></div>
    
    <h2 class="tooltip" title="This is my span's tooltip message!">Tooltip test</h2>
    <span class="tooltip" data-tooltip-content="#tooltip_content">This span has a tooltip with HTML when you hover over it!</span>
    
    <div id="kd-slider"></div><br><br>
    <div id="elo-slider"></div>


    
    <div class="row">
        <div class="col s12">
            <div class="card-panel" style="padding: 0px; border-radius: 4px; background-color: #424242;">
                <div class="row" style="padding: 0;margin: 0;">
                    <div class="col s1" style="padding: 0;">
                            <div class="tabs-vertical">
                                <ul class="tabs" style="border-radius: 4px 0px 0px 4px;">
                                    <li class="tab overview-icon">
                                        <a class="active" href="#overview"></a>
                                    </li>
                                    <li class="tab">
                                        <a href="#player1">
                                            <img class="trials-player-icon tooltipped" data-position="left" data-delay="50" data-tooltip="ii WALZ ii" src="https://www.bungie.net/common/destiny2_content/icons/1f5e4a3cfeaca5fd6465ffd15b81ffa6.jpg" alt="" data-tooltip-id="744837f2-e3d3-ce8f-928b-5c02dab98b7f">
                                        </a>
                                    </li>
                                    <li class="tab">
                                        <a href="#player2">
                                            <img class="trials-player-icon tooltipped" data-position="left" data-delay="50" data-tooltip="Luminusss" src="https://www.bungie.net/common/destiny2_content/icons/911791e90f955fc637398ea88aba74b7.jpg" alt="" data-tooltip-id="744837f2-e3d3-ce8f-928b-5c02dab98b7f">
                                        </a>
                                    </li>
                                    <li class="tab">
                                        <a href="#player3">
                                            <img class="trials-player-icon tooltipped" data-position="left" data-delay="50" data-tooltip="KURTO13" src="https://www.bungie.net/common/destiny2_content/icons/329b866699d4048e9a8ca8d8861b0277.jpg" alt="" data-tooltip-id="744837f2-e3d3-ce8f-928b-5c02dab98b7f">
                                        </a>
                                    </li>
                                    <li class="tab">
                                        <a href="#player4">
                                            <img class="trials-player-icon tooltipped" data-position="left" data-delay="50" data-tooltip="Putin Pudding" src="https://www.bungie.net/common/destiny2_content/icons/cb30b5a9b34f7204b064570b56576562.jpg" alt="" data-tooltip-id="744837f2-e3d3-ce8f-928b-5c02dab98b7f">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                    </div>

                    <div class="col s11" style="padding-left: 0px; padding-right: 0;">
                        <div id="overview" class="col s12" style="padding-left: 0px; padding-right: 0px;">
                            <ul class="tabs player-tabs tabs-fixed-width" style="border-radius: 0px 4px 0px 0px;">
                                <li class="tab col s3 player-tab"><a class="player-tab-link active" href="#full-team" style="color: #212121;">TEAM</a></li>
                                <li class="tab col s3 player-tab disabled"><a class="player-tab-link disabled" href="#" style="color: #212121;"></a></li>
                                <li class="tab col s3 player-tab disabled"><a class="player-tab-link disabled" href="#" style="color: #212121;"></a></li>
                                <li class="tab col s3 player-tab disabled"><a class="player-tab-link disabled" href="#" style="color: #212121;"></a></li>
                            </ul>
                            <div id="full-team">
                                <div class="row">
                                    <div class="col s3 trials-card-text" style="border-right: 1px #212121 solid;" >
                                            <!-- <div class="post-header" style="background-image: url(https://www.bungie.net/common/destiny2_content/icons/d3c2e878297ea7e1152e2895ae20cf2c.jpg); margin: 0px;">
                                                <div class="row" style="overflow: hidden; max-height: 65px; ">
                                                    <div class="col s3 left-align" style="padding: 0; height: 65px;"><img style="max-width: calc(100% - 2.6em); min-width: 65px; position: relative; right: 3%; height: auto;" src="https://www.bungie.net/common/destiny2_content/icons/1f5e4a3cfeaca5fd6465ffd15b81ffa6.jpg" alt="1f5e4a3cfeaca5fd6465ffd15b81ffa6"></div>
                                                        <div class="col s6 center-align" style="height: 65px; color: white;"><a style="white-space: nowrap; font-size: 17px; text-overflow: ellipsis; color: #f5f5f5; position: relative; top: 34%; font-weight: 400;" href="/users/1">ii WALZ ii</a></div>
                                                    <div class="col s3 center-align large-break" style="height: 65px; color: white;">
                                                        <span style="color: gold; position: relative; top: 10%; line-height: 2.5em; font-weight: 300; font-size: 0.9em;">✦ 276 </span>
                                                        <span style="font-weight: 300; font-size: 0.9em;">Hunter</span>
                                                    </div>
                                                </div>
                                            </div>     -->
                                            <div class="row">
                                                <div class="col s8"> 
                           
                                                        <span style=" position: relative; top: 10%;  font-weight: 400; font-size: 1.1em;">ii WALZ ii</span>
                                                        <br><span style="font-weight: 300; font-size: 0.9em; margin-left: -45px;">Titan</span>
                                   
                                                </div>
                                                <div class="col s4" style=" background-image: url(https://www.bungie.net/common/destiny2_content/icons/1f5e4a3cfeaca5fd6465ffd15b81ffa6.jpg); height: 50px; background-size: 50px; background-repeat: no-repeat;"></div>
                                            </div>
                                    </div>                                   
                                    
                                    <div class="col s3 trials-card-text" style="border-right: 1px #212121 solid;" >PLAYER 2 INFO</div>
                                    <div class="col s3 trials-card-text" style="border-right: 1px #212121 solid;" >PLAYER 3 INFO</div>
                                    <div class="col s3 trials-card-text" >PLAYER 4 INFO</div>
                                </div>
                            </div>

                        </div>
                        <div id="player1" class="col s12" style="padding-left: 0px; padding-right: 0px;">
                            <ul class="tabs player-tabs tabs-fixed-width" style="border-radius: 0px 4px 0px 0px;">
                                <li class="tab col s3 player-tab"><a class="player-tab-link" href="#overview1" style="color: #212121;">Overview1</a></li>
                                <li class="tab col s3 player-tab"><a class="player-tab-link active" href="#titan1" style="color: #212121;">Titan1</a></li>
                                <li class="tab col s3 player-tab"><a class="player-tab-link" href="#hunter1" style="color: #212121;">Hunter1</a></li>
                                <li class="tab col s3 player-tab"><a class="player-tab-link" href="#warlock1" style="color: #212121;">Warlock1</a></li>
                            </ul>
                            <div id="overview1" class="col s12">Overview1</div>
                            <div id="hunter1" class="col s12">Hunter1</div>
                            <div id="titan1" class="col s12">Titan1</div>
                            <div id="warlock1" class="col s12">warlock1</div>
                        </div>
                        <div id="player2" class="col s12" style="padding-left: 0px; padding-right: 0px;">
                            <ul class="tabs player-tabs tabs-fixed-width" style="border-radius: 0px 4px 0px 0px;">
                                <li class="tab col s3 player-tab"><a class="player-tab-link" href="#overview2" style="color: #212121;">Overview2</a></li>
                                <li class="tab col s3 player-tab"><a class="player-tab-link active" href="#titan2" style="color: #212121;">Titan2</a></li>
                                <li class="tab col s3 player-tab"><a class="player-tab-link" href="#hunter2" style="color: #212121;">Hunter2</a></li>
                                <li class="tab col s3 player-tab"><a class="player-tab-link" href="#warlock2" style="color: #212121;">Warlock2</a></li>
                            </ul>
                            <div id="overview2" class="col s12">Overview2</div>                            
                            <div id="hunter2" class="col s12">Hunter 2</div>
                            <div id="titan2" class="col s12">Titan 2</div>
                            <div id="warlock2" class="col s12">warlock 2</div>
                        </div>
                        <div id="player3" class="col s12" style="padding-left: 0px; padding-right: 0px;">
                            <ul class="tabs player-tabs tabs-fixed-width" style="border-radius: 0px 4px 0px 0px;">
                                <li class="tab col s3 player-tab"><a class="player-tab-link" href="#overview3" style="color: #212121;">Overview2</a></li>
                                <li class="tab col s3 player-tab"><a class="player-tab-link active" href="#titan3" style="color: #212121;">Titan2</a></li>
                                <li class="tab col s3 player-tab"><a class="player-tab-link" href="#hunter3" style="color: #212121;">Hunter2</a></li>
                                <li class="tab col s3 player-tab"><a class="player-tab-link" href="#warlock3" style="color: #212121;">Warlock2</a></li>
                            </ul>
                            <div id="overview3" class="col s12">Overview3</div>                            
                            <div id="hunter3" class="col s12">Hunter 3</div>
                            <div id="titan3" class="col s12">Titan 3</div>
                            <div id="warlock3" class="col s12">warlock 3</div>
                        </div>
                        <div id="player4" class="col s12" style="padding-left: 0px; padding-right: 0px;">
                            <ul class="tabs player-tabs tabs-fixed-width" style="border-radius: 0px 4px 0px 0px;">
                                <li class="tab col s3 player-tab"><a class="player-tab-link" href="#overview4" style="color: #212121;">Overview4</a></li>
                                <li class="tab col s3 player-tab"><a class="player-tab-link active" href="#titan4" style="color: #212121;">Titan4</a></li>
                                <li class="tab col s3 player-tab"><a class="player-tab-link" href="#hunter4" style="color: #212121;">Hunter4</a></li>
                                <li class="tab col s3 player-tab"><a class="player-tab-link" href="#warlock4" style="color: #212121;">Warlock4</a></li>
                            </ul>
                            <div id="overview4" class="col s12">Overview4</div>                            
                            <div id="hunter4" class="col s12">Hunter 4</div>
                            <div id="titan4" class="col s12">Titan 4</div>
                            <div id="warlock4" class="col s12">warlock 4</div>
                        </div>

                    </div>
                       
                                            
                    </div>
                    
                </div>
            </div>
        </div>
    </div>




