<% info = test2(current_user) %>
<% character_races = {0 => "Titan", 1 => "Hunter", 2 => "Warlock"} %>
<% weapons = {"Auto Rifle" => "auto-rifle.png", 
              "Pulse Rifle" => "pulse-rifle.png", 
              "Hand Cannon" => "hand-cannon.png",
              "Sniper Rifle" => "sniper.png",
              "Shotgun" => "shotgun.png",
              "Scout Rifle" => "pulse-rifle.png",
        } %>
<% stuff = {"testing" => "abc", "hello_there" => "hi!"} %>


<div class="container" style="width: 85%">

        <%= react_component 'AdminPanel', { chartData: info }  %>
        <%= react_component 'Hello' %>
        <%= react_component 'TestingClass' %>
        <%= react_component 'Navigation' %>            


    <%= react_component 'Testing', { firstName: current_user.display_name } %>
    <div id="testing"></div>
    
    <h2 class="tooltip" title="This is my span's tooltip message!">Tooltip test</h2>
    <span class="tooltip" data-tooltip-content="#tooltip_content">This span has a tooltip with HTML when you hover over it!</span>
    
    <div id="kd-slider"></div><br><br>
    <div id="elo-slider"></div>

    
    </div>
    


<code>
    <pre><%= JSON.pretty_generate(info) %></pre>    
</code>