<% data = {"character_type":1,"character_stats":{"kills":187,"deaths":159,"Assists":74,"kd_ratio":1.18,"kad_ratio":1.64,"Intellect":280,"Discipline":201,"Strength":207,"elo":{"elo":1332,"rank":105715},"games_won":25.0,"games_lost":8.0,"win_rate":76,"Armor":5,"Agility":7,"Recovery":4,"light_level":397,"grimoire":4305,"kill_stats":{"auto_rifle":0.0,"fusion_rifle":0.0,"hand_cannon":19.0,"machine_gun":0.0,"pulse_rifle":60.0,"rocket_launcher":2.0,"scout_rifle":0.0,"shotgun":21.0,"sniper":54.0,"Sub Machine Gun":0.0,"side_arm":0.0,"sword":0.0,"melee":4.0,"grenades":11.0,"Super":5.0,"ability":20.0,"longest_spree":9.0,"best_weapon_type":"pulse_rifle","Longest Life":"2m 31s","Orbs Dropped":"20","revives_received":"49","revives_performed":"31","precision_kills":"73","average_life_span":"1m 51s","average_kill_distance":"22.0","Average Death Distance":0.0}},"Character Items":{"emblem_background":"https://www.bungie.net/common/destiny_content/icons/f341ac82eda0ff3ed941e4b83d01b5a0.jpg","emblem":{"Item Icon":"https://www.bungie.net/common/destiny_content/icons/473071c89230e751f8e1e6d4d6bc6129.jpg","Item Name":"Vigilant Disciple","Item Tier":"Legendary","Item Type":"Emblem"},"Subclass":{"Item Icon":"https://www.bungie.net/common/destiny_content/icons/70c0ac0b590646bd50ba4a6f5c6f5631.jpg","Item Name":"Nightstalker","Item Tier":"Common","Item Type":"Hunter Subclass"},"Ship":{"Item Icon":"https://www.bungie.net/common/destiny_content/icons/89b3c0a08dc5b02fdae1f1e7ed5cb345.jpg","Item Name":"\"The Road Unraveled\"","Item Tier":"Legendary","Item Type":"Ship"},"Gauntlets":{"Item Icon":"https://www.bungie.net/common/destiny_content/icons/cbb1ac2e8be3b16ff9b49766fa653a55.jpg","Item Name":"Winged Sun Sleeves","Item Tier":"Legendary","Item Type":"Gauntlets"},"Sparrow":{"Item Icon":"https://www.bungie.net/common/destiny_content/icons/3c347340cf0861d0f9564419d987e1ed.jpg","Item Name":"EV-40 Snowscream","Item Tier":"Legendary","Item Type":"Vehicle"},"Helmet":{"Item Icon":"https://www.bungie.net/common/destiny_content/icons/b8884c519be18376217e3f22d3564f54.jpg","Item Name":"Graviton Forfeit","Item Tier":"Exotic","Item Type":"Helmet"},"Leg Armor":{"Item Icon":"https://www.bungie.net/common/destiny_content/icons/6aa7847190cd1348f5161cd8e06315a3.jpg","Item Name":"Lion's Vigil Strides","Item Tier":"Legendary","Item Type":"Leg Armor"},"Horn":{"Item Icon":"https://www.bungie.net/common/destiny_content/icons/6ee7c393111090a5f95d8a4a256aa681.jpg","Item Name":"Happy Horn","Item Tier":"Legendary","Item Type":"Horn"},"Chest Armor":{"Item Icon":"https://www.bungie.net/common/destiny_content/icons/d90f72a6bf1d879b84dbd3a3fa3038e8.jpg","Item Name":"Lion's Vigil Vest","Item Tier":"Legendary","Item Type":"Chest Armor"},"Shader":{"Item Icon":"https://www.bungie.net/common/destiny_content/icons/2ab920f8c8a071217227a821dfe9d0ea.jpg","Item Name":"Default Shader","Item Tier":"Common","Item Type":"Restore Defaults"},"Emote":{"Item Icon":"https://www.bungie.net/common/destiny_content/icons/76407a43823a9663285af513283a14d0.jpg","Item Name":"Sorrow","Item Tier":"Rare","Item Type":"Emote"},"Artifact":{"Item Icon":"https://www.bungie.net/common/destiny_content/icons/02a95fefb1fa4d63a0e5d5667e68973f.jpg","Item Name":"Memory of Silimar","Item Tier":"Legendary","Item Type":"Artifact"},"Class Item":{"Item Icon":"https://www.bungie.net/common/destiny_content/icons/d8bcc1a6246b73715fe3f9a59c254189.jpg","Item Name":"Lion's Vigil Cloak","Item Tier":"Legendary","Item Type":"Hunter Cloak"},"Heavy Weapon":{"Item Icon":"https://www.bungie.net/common/destiny_content/icons/e250828d946bf4e248914f7450547b54.jpg","Item Name":"Iron Gjallarhorn","Item Tier":"Exotic","Item Type":"rocket_launcher"},"Ghost":{"Item Icon":"https://www.bungie.net/common/destiny_content/icons/c476a7240352cd8a0f5419fd95b3a251.jpg","Item Name":"Sugary Shell","Item Tier":"Legendary","Item Type":"Ghost Shell"},"Secondary Weapon":{"Item Icon":"https://www.bungie.net/common/destiny_content/icons/1dcec566a7842f606cef6b327a9f1450.jpg","Item Name":"Y-09 Longbow Synthesis","Item Tier":"Legendary","Item Type":"Sniper Rifle"},"Primary Weapon":{"Item Icon":"https://www.bungie.net/common/destiny_content/icons/ba90cc208f95a84c7df6f62ef4a43dc3.jpg","Item Name":"Eyasluna","Item Tier":"Legendary","Item Type":"hand_cannon"}},"recent_games":[{"kills":3.0,"deaths":4.0,"kd_ratio":"0.75","kad_ratio":"0.88","standing":0.0,"game_date":"2017-01-07T06:57:05Z"},{"kills":9.0,"deaths":6.0,"kd_ratio":"1.50","kad_ratio":"1.58","standing":0.0,"game_date":"2017-01-07T06:46:14Z"},{"kills":5.0,"deaths":8.0,"kd_ratio":"0.63","kad_ratio":"0.75","standing":1.0,"game_date":"2017-01-07T06:33:44Z"},{"kills":13.0,"deaths":2.0,"kd_ratio":"6.50","kad_ratio":"8.00","standing":0.0,"game_date":"2017-01-07T06:17:35Z"},{"kills":2.0,"deaths":6.0,"kd_ratio":"0.33","kad_ratio":"0.67","standing":0.0,"game_date":"2017-01-07T05:56:04Z"},{"kills":6.0,"deaths":3.0,"kd_ratio":"2.00","kad_ratio":"2.67","standing":0.0,"game_date":"2016-12-31T22:30:27Z"},{"kills":5.0,"deaths":7.0,"kd_ratio":"0.71","kad_ratio":"1.00","standing":0.0,"game_date":"2016-12-31T22:18:54Z"},{"kills":10.0,"deaths":5.0,"kd_ratio":"2.00","kad_ratio":"2.40","standing":0.0,"game_date":"2016-12-31T21:53:43Z"},{"kills":9.0,"deaths":1.0,"kd_ratio":"9.00","kad_ratio":"10.50","standing":0.0,"game_date":"2016-12-31T21:43:16Z"},{"kills":9.0,"deaths":3.0,"kd_ratio":"3.00","kad_ratio":"3.50","standing":0.0,"game_date":"2016-12-31T21:32:25Z"},{"kills":4.0,"deaths":4.0,"kd_ratio":"1.00","kad_ratio":"1.00","standing":1.0,"game_date":"2016-12-31T21:26:19Z"},{"kills":0.0,"deaths":0.0,"kd_ratio":"0.00","kad_ratio":"0.00","standing":0.0,"game_date":"2016-12-31T21:20:44Z"},{"kills":7.0,"deaths":5.0,"kd_ratio":"1.40","kad_ratio":"1.70","standing":0.0,"game_date":"2016-12-31T21:08:48Z"},{"kills":7.0,"deaths":6.0,"kd_ratio":"1.17","kad_ratio":"1.50","standing":0.0,"game_date":"2016-12-31T20:54:46Z"},{"kills":8.0,"deaths":8.0,"kd_ratio":"1.00","kad_ratio":"1.13","standing":0.0,"game_date":"2016-12-31T07:32:41Z"}]} %>

<% info = @stats %>

<div class="container">
    <code>
        <pre>
            <%= JSON.pretty_generate(info) %>
        </pre>
    </code>
</div>

<% character_races = {0 => "Titan", 1 => "Hunter", 2 => "Warlock"} %>
<% @weapons = {
    "Auto Rifle" => "auto3.png", 
    "Pulse Rifle" => "pulse2.png", 
    "Hand Cannon" => "handcannon2.png",
    "Sniper Rifle" => "sniper2.png",
    "Shotgun" => "shotgun2.png",
    "Scout Rifle" => "scout.png",
    "Fusion Rifle" =>  "fusion2.png",
    "Sidearm" => "sidearm.png",
    "Rocket Launcher" => "heavy2.png"
} %>
<% stuff = {"testing" => "abc", "hello_there" => "hi!"} %>


<div class="container" style="width: 85%">

       

        <%= react_component 'AdminPanel', { chartData: info }  %>
        <%= react_component 'Hello' %>
        <%= react_component 'TestingClass' %>
        <%= react_component 'Navigation' %>            


    
    <div id="testing"></div>
    
    <h2 class="tooltip" title="This is my span's tooltip message!">Tooltip test</h2>
    <span class="tooltip" data-tooltip-content="#tooltip_content">This span has a tooltip with HTML when you hover over it!</span>
    
    <div id="kd-slider"></div><br><br>
    <div id="elo-slider"></div>


    
    <div class="row" style="width: 110%; margin-left: -5%;">
        <div class="col s12">
            <div class="card-panel" style="padding: 0px; border-radius: 6px; background-color: #424242; min-height: 600px;">
                <div class="row" style="padding: 0;margin: 0;">
                    <div class="col s1" style="padding: 0;">
                            <div class="tabs-vertical">
                                <ul class="tabs" style="border-radius: 6px 0px 0px 6px;">
                                    <li class="tab overview-icon">
                                        <a class="active" href="#overview"></a>
                                    </li>
                                    <li class="tab">
                                        <a href="#player1">
                                            <img class="trials-player-icon tooltipped" data-position="left" data-delay="50" data-tooltip="ii WALZ ii" src='<%= info[0]["character_stats"]["emblem"]%>' alt="" data-tooltip-id="744837f2-e3d3-ce8f-928b-5c02dab98b7f">
                                        </a>
                                    </li>
                                    <li class="tab">
                                        <a href="#player2">
                                            <img class="trials-player-icon tooltipped" data-position="left" data-delay="50" data-tooltip="KURTO13" src="https://www.bungie.net/common/destiny2_content/icons/329b866699d4048e9a8ca8d8861b0277.jpg" alt="" data-tooltip-id="744837f2-e3d3-ce8f-928b-5c02dab98b7f">
                                        </a>
                                    </li>
                                    <li class="tab">
                                            <a href="#player3">
                                                <img class="trials-player-icon tooltipped" data-position="left" data-delay="50" data-tooltip="Luminusss" src="https://bungie.net//common/destiny2_content/icons/9a74b99143d97a7ccd01b958592b96cb.jpg" alt="" data-tooltip-id="744837f2-e3d3-ce8f-928b-5c02dab98b7f">
                                            </a>
                                        </li>
                                    <li class="tab">
                                        <a href="#player4">
                                            <img class="trials-player-icon tooltipped" data-position="left" data-delay="50" data-tooltip="Putin Pudding" src="https://www.bungie.net/common/destiny2_content/icons/0a8dfa6d28e2c49068f445613e27a5d5.jpg" alt="" data-tooltip-id="744837f2-e3d3-ce8f-928b-5c02dab98b7f">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                    </div>

                    <div class="col s11" style="padding-left: 0px; padding-right: 0;">
                        <div id="overview" class="col s12" style="padding-left: 0px; padding-right: 0px;">
                            <ul class="tabs player-tabs tabs-fixed-width" style="border-radius: 0px 6px 0px 0px; margin-bottom: 2%;">
                                <li class="tab col s3 player-tab"><a class="player-tab-link active" href="#full-team" style="color: #212121;">FIRETEAM</a></li>
                                <li class="tab col s3 player-tab disabled"><a class="player-tab-link disabled" href="#" style="color: #212121;"></a></li>
                                <li class="tab col s3 player-tab disabled"><a class="player-tab-link disabled" href="#" style="color: #212121;"></a></li>
                                <li class="tab col s3 player-tab disabled"><a class="player-tab-link disabled" href="#" style="color: #212121;"></a></li>
                            </ul>
                            <div id="full-team">
                                <div class="row">
                                                                               
                                    <div class="col s3 trials-card-text" style="" >
                                        <div class="card-panel" style="padding: 0px; border-radius: 6px; background-color: rgb(33, 33, 33);; min-height: 529px;"> 
                                            <div class="row">
                                                <div class="trials-player-header" style="background-image: url(https://www.bungie.net/common/destiny2_content/icons/d3c2e878297ea7e1152e2895ae20cf2c.jpg);">
                                                    <div class="row" style="overflow: hidden; max-height: 55px; margin-bottom: 0;">
                                                        <div class="col s3 left-align"></div>
                                                        <div class="col s6 center-align" style="padding: 0;">                         
                                                            <span class="trials-player-name">ii WALZ ii</span>
                                                        </div>
                                                        <div class="col s3 center-align" style="height: 55px; color: white; padding: 0;">
                                                            <span class="trials-player-light">✦ 303 </span>
                                                            <span class="trials-player-subclass">Arcstrider</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-bottom: 0;">
                                                <div class="col s6 center-align">
                                                    <p class="trials-stat-title tooltipped" style="font-size: 2rem; color: #7198B7" data-position="bottom" data-delay="50" data-tooltip="#7,456" data-tooltip-id="b58821a3-5235-7d4d-dd8d-8a3d27d8e8b5">1738</p>
                                                    <p class="trials-stat-heading" >ELO</p>
                                                </div>
                                                <div class="col s6 center-align">
                                                    <p class="trials-stat-title tooltipped" style="font-size: 2rem; color: #f5f5f5" data-position="bottom" data-delay="50" data-tooltip="#7,456" data-tooltip-id="b58821a3-5235-7d4d-dd8d-8a3d27d8e8b5">59x</p>
                                                    <p class="trials-stat-heading" >FLAWLESS</p>
                                                </div>
                                            </div>
                                            <div class="row" style="min-height: 39vh; margin-bottom: 18%;">
                                                <div class="col s6 equip">
                                                        <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="Judgement" src="https://bungie.net//common/destiny2_content/icons/e44d6ab2906bb2365993581761991ac3.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                        <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">JUDGEMENT</span>                                                    
                                                        <span style="font-weight: 300; font-size: 0.7em;">HAND CANNON</span> 
                                                </div>
                                                <div class="col s6 equip">
                                                        <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="Prosecutor" src="https://bungie.net//common/destiny2_content/icons/fe5c4ef13af20ed4c89a3e40085526c5.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                        <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">PROSECUTOR</span>                                                    
                                                        <span style="font-weight: 300; font-size: 0.7em;">AUTO RIFLE</span> 
                                                </div>
                                                <div class="col s6 equip">
                                                        <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="Pentatonic-48" src="https://bungie.net//common/destiny2_content/icons/c453e9d723e52cffb94c00742c51c6f8.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                        <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">PENTATONIC-48</span>                                                    
                                                        <span style="font-weight: 300; font-size: 0.7em;">SNIPER RIFLE</span> 
                                                </div>
                                                <div class="col s6 equip">
                                                        <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="Foetracer" src="https://bungie.net//common/destiny2_content/icons/5e995f3d538bbfdc83f887b11a1f747c.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                        <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">FOETRACER</span>                                                    
                                                        <span style="font-weight: 300; font-size: 0.7em;">HELMET</span> 
                                                </div>
                                            </div>

                                            <div class="row" style="margin-left: 0;">
                                                <div class="col s4 center-align" style="border-right: solid 1px #767676;">                                                
                                                    <p class="trials-stat-title" style="color: #f5f5f5;">1.26</p>
                                                    <p class="trials-stat-heading">K/D</p>
                                                </div>
                                                <div class="col s4 center-align" style="border-right: solid 1px #767676;">                                                
                                                    <p class="trials-stat-title" style="color: #f5f5f5;" >1.84</p>
                                                    <p class="trials-stat-heading">K/AD</p>
                                                </div>
                                                <div class="col s4 center-align">                                                
                                                    <p class="trials-stat-title" style="color: #f5f5f5">68.5</p>
                                                    <p class="trials-stat-heading">WIN %</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                                                       

                                    <div class="col s3 trials-card-text" style="" >
                                        <div class="card-panel" style="padding: 0px; border-radius: 6px; background-color: rgb(33, 33, 33);; min-height: 529px;"> 
                                                    
                                            <div class="row">
                                                    <div class="trials-player-header" style="background-image: url(https://www.bungie.net/common/destiny2_content/icons/798f5839febe4ad28b42e2c88c94db9d.jpg);">
                                                        <div class="row" style="overflow: hidden; max-height: 55px; margin-bottom: 0;">
                                                            <div class="col s3 left-align"></div>
                                                            <div class="col s6 center-align" style="padding: 0;">                         
                                                                <span class="trials-player-name">KURTO13</span>
                                                            </div>
                                                            <div class="col s3 center-align" style="height: 55px; color: white; padding: 0;">
                                                                <span class="trials-player-light" >✦ 297 </span>
                                                                <span class="trials-player-subclass">Sentinel</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="row" style="margin-bottom: 0;">
                                                <div class="col s6 center-align">
                                                    <p class="trials-stat-title tooltipped" style="font-size: 2rem; color: #AA885F;" data-position="bottom" data-delay="50" data-tooltip="#7,456" data-tooltip-id="b58821a3-5235-7d4d-dd8d-8a3d27d8e8b5">1157</p>
                                                    <p class="trials-stat-heading" >ELO</p>
                                                </div>
                                                <div class="col s6 center-align">
                                                    <p class="trials-stat-title tooltipped" style="font-size: 2rem; color: #f5f5f5" data-position="bottom" data-delay="50" data-tooltip="#7,456" data-tooltip-id="b58821a3-5235-7d4d-dd8d-8a3d27d8e8b5">0x</p>
                                                    <p class="trials-stat-heading" >FLAWLESS</p>
                                                </div>
                                            </div>
                                            <div class="row" style="min-height: 39vh; margin-bottom: 18%;">
                                                <div class="col s6 equip">
                                                        <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="ROS Lysis II" src="https://www.bungie.net/common/destiny2_content/icons/c33714a69ec2b8b06e4848aa8341ef83.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                        <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">ROS LYSIS II</span>                                                    
                                                        <span style="font-weight: 300; font-size: 0.7em;">AUTO RIFLE</span> 
                                                </div>
                                                <div class="col s6 equip">
                                                        <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="The Last Dance" src="https://www.bungie.net/common/destiny2_content/icons/2b85cf0c8f471a7ea679c210c19407b0.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                        <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">THE LAST DANCE</span>                                                    
                                                        <span style="font-weight: 300; font-size: 0.7em;">SIDEARM</span> 
                                                </div>
                                                <div class="col s6 equip">
                                                        <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="Tongeren-LR3" src="https://www.bungie.net/common/destiny2_content/icons/4e01fe72996711168af633f8fc02f583.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                        <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">TONGEREN-LR3</span>                                                    
                                                        <span style="font-weight: 300; font-size: 0.7em;">SNIPER RIFLE</span> 
                                                </div>
                                                <div class="col s6 equip">
                                                        <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="Kerak Type 2" src="https://www.bungie.net/common/destiny2_content/icons/fe3c4ab116b1d9f8e45382ca51d405e7.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                        <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">KERAK TYPE 2</span>                                                    
                                                        <span style="font-weight: 300; font-size: 0.7em;">HELMET</span> 
                                                </div>
                                            </div>                                        
                                            <div class="row" style="margin-left: 0;">
                                                <div class="col s4 center-align" style="border-right: solid 1px #767676;">                                                
                                                    <p class="trials-stat-title" style="color: #f5f5f5;">0.82</p>
                                                    <p class="trials-stat-heading">K/D</p>
                                                </div>
                                                <div class="col s4 center-align" style="border-right: solid 1px #767676;">                                                
                                                    <p class="trials-stat-title" style="color: #f5f5f5;" >1.20</p>
                                                    <p class="trials-stat-heading">K/AD</p>
                                                </div>
                                                <div class="col s4 center-align">                                                
                                                    <p class="trials-stat-title" style="color: #f5f5f5;">52.3</p>
                                                    <p class="trials-stat-heading">WIN %</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col s3 trials-card-text" style="" >
                                        <div class="card-panel" style="padding: 0px; border-radius: 6px; background-color: rgb(33, 33, 33);; min-height: 529px;"> 
                                                
                                            <div class="row">
                                                <div class="trials-player-header" style="background-image: url(https://www.bungie.net/common/destiny2_content/icons/dacfa513281d101aa4dd276a0aacfc0f.jpg);">
                                                    <div class="row" style="overflow: hidden; max-height: 55px; margin-bottom: 0;">
                                                        <div class="col s3 left-align"></div>
                                                        <div class="col s6 center-align" style="padding: 0;">                         
                                                            <span class="trials-player-name">Luminusss</span>
                                                        </div>
                                                        <div class="col s3 center-align" style="height: 55px; color: white; padding: 0;">
                                                            <span class="trials-player-light" >✦ 301 </span>
                                                            <span class="trials-player-subclass">Voidwalker</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-bottom: 0;">
                                                <div class="col s6 center-align">
                                                    <p class="trials-stat-title tooltipped" style="font-size: 2rem; color: #58907E;" data-position="bottom" data-delay="50" data-tooltip="#7,456" data-tooltip-id="b58821a3-5235-7d4d-dd8d-8a3d27d8e8b5">1565</p>
                                                    <p class="trials-stat-heading" >ELO</p>
                                                </div>
                                                <div class="col s6 center-align">
                                                    <p class="trials-stat-title tooltipped" style="font-size: 2rem; color: #f5f5f5" data-position="bottom" data-delay="50" data-tooltip="#7,456" data-tooltip-id="b58821a3-5235-7d4d-dd8d-8a3d27d8e8b5">27x</p>
                                                    <p class="trials-stat-heading" >FLAWLESS</p>
                                                </div>
                                            </div>
                                            <div class="row" style="min-height: 39vh; margin-bottom: 18%;">
                                                <div class="col s6 equip">
                                                        <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="MIDA Multi-Tool" src="https://bungie.net//common/destiny2_content/icons/077e9577fb39cb521b49048db236e39d.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                        <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">MIDA MULTI-TOOL</span>                                                    
                                                        <span style="font-weight: 300; font-size: 0.7em;">SCOUT RIFLE</span> 
                                                </div>
                                                <div class="col s6 equip">
                                                        <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="Prosecutor" src="https://bungie.net//common/destiny2_content/icons/fe5c4ef13af20ed4c89a3e40085526c5.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                        <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">PROSECUTOR</span>                                                    
                                                        <span style="font-weight: 300; font-size: 0.7em;">AUTO RIFLE</span> 
                                                </div>
                                                <div class="col s6 equip">
                                                        <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="The Long Walk" src="https://bungie.net//common/destiny2_content/icons/45892619a8917d8bd44684547f0b1e6f.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                        <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">THE LONG WALK</span>                                                    
                                                        <span style="font-weight: 300; font-size: 0.7em;">SNIPER RIFLE</span> 
                                                </div>
                                                <div class="col s6 equip">
                                                        <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="Transversive Steps" src="https://bungie.net//common/destiny2_content/icons/78874c268891725a68bdcc35432fec9e.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                        <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">TRANSVERSIVE STEPS</span>                                                    
                                                        <span style="font-weight: 300; font-size: 0.7em;">LEGS</span> 
                                                </div>
                                            </div>
                                        
                                            <div class="row" style="margin-left: 0;">
                                                <div class="col s4 center-align" style="border-right: solid 1px #767676;">                                                
                                                    <p class="trials-stat-title" style="color: #f5f5f5;">1.26</p>
                                                    <p class="trials-stat-heading">K/D</p>
                                                </div>
                                                <div class="col s4 center-align" style="border-right: solid 1px #767676;">                                                
                                                    <p class="trials-stat-title" style="color: #f5f5f5;" >1.84</p>
                                                    <p class="trials-stat-heading">K/AD</p>
                                                </div>
                                                <div class="col s4 center-align">                                                
                                                    <p class="trials-stat-title" style="color: #f5f5f5">68.5</p>
                                                    <p class="trials-stat-heading">WIN %</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col s3 trials-card-text" >
                                        <div class="card-panel" style="padding: 0px; border-radius: 6px; background-color: rgb(33, 33, 33);; min-height: 529px;"> 
                                                    
                                            <div class="row">
                                                    <div class="trials-player-header" style="background-image: url(https://www.bungie.net/common/destiny2_content/icons/a0dd3e3444de2012b554ea4c8b655da9.jpg);">
                                                        <div class="row" style="overflow: hidden; max-height: 55px; margin-bottom: 0;">
                                                            <div class="col s3 left-align"></div>
                                                            <div class="col s6 center-align" style="padding: 0;">                         
                                                                <span class="trials-player-name">Putin Pudding</span>
                                                            </div>
                                                            <div class="col s3 center-align" style="height: 55px; color: white; padding: 0;">
                                                                <span class="trials-player-light">✦ 299 </span>
                                                                <span class="trials-player-subclass">Defender</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="row" style="margin-bottom: 0;">
                                                <div class="col s6 center-align">
                                                    <p class="trials-stat-title tooltipped" style="font-size: 2rem; color: #CCAE50;" data-position="bottom" data-delay="50" data-tooltip="#7,456" data-tooltip-id="b58821a3-5235-7d4d-dd8d-8a3d27d8e8b5">1370</p>
                                                    <p class="trials-stat-heading" >ELO</p>
                                                </div>
                                                <div class="col s6 center-align">
                                                    <p class="trials-stat-title tooltipped" style="font-size: 2rem; color: #f5f5f5" data-position="bottom" data-delay="50" data-tooltip="#7,456" data-tooltip-id="b58821a3-5235-7d4d-dd8d-8a3d27d8e8b5">9x</p>
                                                    <p class="trials-stat-heading" >FLAWLESS</p>
                                                </div>
                                            </div>
                                            <div class="row" style="min-height: 39vh; margin-bottom: 18%;">
                                                <div class="col s6 equip">
                                                        <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="Nightshade" src="https://bungie.net//common/destiny2_content/icons/fe0a4a1d2d0f2a152b1f7ac63445ab54.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                        <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">NIGHTSHADE</span>                                                    
                                                        <span style="font-weight: 300; font-size: 0.7em;">SCOUT RIFLE</span> 
                                                </div>
                                                <div class="col s6 equip">
                                                        <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="Drang" src="https://bungie.net//common/destiny2_content/icons/81a592981429e73e0649d912241f1395.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                        <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">DRANG</span>                                                    
                                                        <span style="font-weight: 300; font-size: 0.7em;">SIDEARM</span> 
                                                </div>
                                                <div class="col s6 equip">
                                                        <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="Merciless" src="https://bungie.net//common/destiny2_content/icons/67fa7a1a1535515ccc482da4d30a08c9.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                        <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">MERCILESS</span>                                                    
                                                        <span style="font-weight: 300; font-size: 0.7em;">FUSION RIFLE</span> 
                                                </div>
                                                <div class="col s6 equip">
                                                        <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="Actium War Rig" src="https://bungie.net//common/destiny2_content/icons/957eae3f0e2e00ee7f8dba4b1f03c1e7.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                        <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">ACTIUM WAR RIG</span>                                                    
                                                        <span style="font-weight: 300; font-size: 0.7em;">CHEST</span> 
                                                </div>
                                            </div>
                                            
                                            <div class="row" style="margin-left: 0;">
                                                <div class="col s4 center-align" style="border-right: solid 1px #767676;">                                                
                                                    <p class="trials-stat-title" style="color: #f5f5f5;">0.99</p>
                                                    <p class="trials-stat-heading">K/D</p>
                                                </div>
                                                <div class="col s4 center-align" style="border-right: solid 1px #767676;">                                                
                                                    <p class="trials-stat-title" style="color: #f5f5f5;" >1.36</p>
                                                    <p class="trials-stat-heading">K/AD</p>
                                                </div>
                                                <div class="col s4 center-align">                                                
                                                    <p class="trials-stat-title" style="color: #f5f5f5">54.2</p>
                                                    <p class="trials-stat-heading">WIN %</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="player1" class="col s12" style="padding-left: 0px; padding-right: 0px;">
                            <% begin %>
                                <ul class="tabs player-tabs tabs-fixed-width" style="border-radius: 0px 6px 0px 0px;">
                                    <!-- <li class="tab col s3 player-tab"><a class="player-tab-link" href="#full-team" style="color: #212121;">Overview1</a></li> -->
                                    <% info.each do |character| %>
                                        <li class="tab col s3 player-tab"><a class="player-tab-link" href='<%= "##{character_races[character["character_type"]].downcase}1" %>' style="color: #212121;"><%=character_races[character["character_type"]] %></a></li>
                                    <% end %>                            
                                </ul>
                                <% info.each_with_index do |character, index| %>
                                <div class="tooltip_templates">                                                      
                                        <span id="diamond_elo_content">
                                            <div class="row center-align">
                                                Diamond Tier
                                            </div>
                                            <div class="row center-align">
                                                # <%= character["character_stats"]['elo']['rank'] %>
                                            </div>
                                        </span>
                                        <span id="platinum_elo_content">
                                            <div class="row center-align">
                                                Platinum Tier
                                            </div>
                                            <div class="row center-align">
                                                # <%= character["character_stats"]['elo']['rank'] %>
                                            </div>
                                        </span>
                                        <span id="gold_elo_content">
                                            <div class="row center-align">
                                                Gold Tier
                                            </div>
                                            <div class="row center-align">
                                                # <%= character["character_stats"]['elo']['rank'] %>
                                            </div>
                                        </span>
                                        <span id="silver_elo_content">
                                            <div class="row center-align">
                                                Silver Tier
                                            </div>
                                            <div class="row center-align">
                                                # <%= character["character_stats"]['elo']['rank'] %>
                                            </div>
                                        </span>
                                        <span id="bronze_elo_content">
                                            <div class="row center-align">
                                                Bronze Tier
                                            </div>
                                            <div class="row center-align">
                                                # <%= character["character_stats"]['elo']['rank'] %>
                                            </div>
                                        </span>
                                    </div>
                                    <% if character["character_stats"]["elo"]["elo"].to_i >= 1700 %>
                                        <% elo = "<span class='tooltip' data-tooltip-content='#diamond_elo_content' style='color:#7198B7;'> <b>#{character["character_stats"]['elo']['elo']}</b></span> " %>
                                    <% elsif character["character_stats"]["elo"]["elo"].to_i < 1700 && character["character_stats"]["elo"]["elo"].to_i >= 1500 %>
                                        <% elo = "<span class='tooltip' data-tooltip-content='#platinum_elo_content' style='color:#58907E;'> <b>#{character["character_stats"]['elo']['elo']}</b></span> " %>
                                    <% elsif character["character_stats"]["elo"]["elo"].to_i < 1500 && character["character_stats"]["elo"]["elo"].to_i >= 1300 %>
                                        <% elo = "<span class='tooltip' data-tooltip-content='#gold_elo_content' style='color:#CCAE50;'> <b>#{character["character_stats"]['elo']['elo']}</b></span> " %>
                                    <% elsif character["character_stats"]["elo"]["elo"].to_i < 1300 && character["character_stats"]["elo"]["elo"].to_i >= 1200 %>
                                        <% elo = "<span class='tooltip' data-tooltip-content='#silver_elo_content'  style='color:#BFC4C2;'> <b>#{character["character_stats"]['elo']['elo']}</b></span> " %>
                                    <% elsif character["character_stats"]["elo"]["elo"].to_i < 1200 %>
                                        <% elo = "<span class='tooltip' data-tooltip-content='#bronze_elo_content' style='color:#AA885F;'> <b>#{character["character_stats"]['elo']['elo']}</b></span> " %>
                                    <% end %>  
                                    <div id='<%= "#{character_races[character["character_type"]].downcase}1" %>'class="col s12" style="max-height: 555px;">
                                        
                                        <div class="row">
                                            <div class="col s4 trials-card-text">
                                                <div class="card-panel" style="padding: 0px; border-radius: 6px; background-color: rgb(33, 33, 33); min-height: 570px;"> 
                                                            
                                                    <div class="row">
                                                        <% emblem_background = character["character_stats"]["background"] %>
                                                        <div class="trials-player-header" style='<%= "background-image: url(#{emblem_background});" %>'>
                                                            <div class="row" style="overflow: hidden; max-height: 55px; margin-bottom: 0;">
                                                                <div class="col s3 left-align"></div>
                                                                <div class="col s6 center-align" style="padding: 0;">                         
                                                                    <span class="trials-player-name">ii WALZ ii</span>
                                                                </div>
                                                                <div class="col s3 center-align" style="height: 55px; color: white; padding: 0;">
                                                                    <span class="trials-player-light">✦ <%= character["character_stats"]["light_level"] %> </span>
                                                                    <span class="trials-player-subclass"><%= character["character_items"]["subclass"]["item_name"] %></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-bottom: 0;">
                                                        <div class="col s6 center-align">
                                                            <p class="trials-stat-title" style="font-size: 1.7rem; color: #7198B7" ><%= elo.html_safe %></p>
                                                            <p class="trials-stat-heading" >ELO</p>
                                                        </div>
                                                        <div class="col s6 center-align">
                                                            <p class="trials-stat-title tooltipped" style="font-size: 1.7rem; color: #f5f5f5" data-position="bottom" data-delay="50" data-tooltip="We're working on a better way to find this. Stay tuned!">-x</p>
                                                            <p class="trials-stat-heading" >FLAWLESS</p>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="min-height: 39vh; margin-bottom: 0;">
                                                        <div class="col s6 equip">
                                                            <img class="gun-icons-trials-d2 tooltipped" data-position="left" data-delay="50" data-tooltip='<%= character["character_items"]["primary_weapon_1"]["item_name"] %>' src='<%= character["character_items"]["primary_weapon_1"]["item_icon"] %>' alt="" style=" width: 60px; height: 60px;">
                                                            <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;  text-transform:uppercase;"><%= character["character_items"]["primary_weapon_1"]["item_name"] %></span>                                                    
                                                            <span style="font-weight: 300; font-size: 0.7em;  text-transform:uppercase;"><%= character["character_items"]["primary_weapon_1"]["item_type"] %></span> 
                                                        </div>
                                                        <div class="col s6 equip">
                                                            <% puts character["character_items"]["primary_weapon_2"]["item_name"] %>
                                                            <% puts character["character_items"]["primary_weapon_2"]["item_type"] %>
                                                            <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip='<%= character["character_items"]["primary_weapon_2"]["item_name"] %>'  src='<%= character["character_items"]["primary_weapon_2"]["item_icon"] %>' alt=""  style=" width: 60px; height: 60px;">
                                                            <span class="truncate" style="  text-transform:uppercase; position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;"><%= character["character_items"]["primary_weapon_2"]["item_name"] %></span>                                                    
                                                            <span style="font-weight: 300; font-size: 0.7em;  text-transform:uppercase;"><%= character["character_items"]["primary_weapon_2"]["item_type"] %></span> 
                                                        </div>
                                                        <div class="col s6 equip">
                                                            <img class="gun-icons-trials-d2 tooltipped" data-position="left" data-delay="50" data-tooltip='<%= character["character_items"]["power_weapon"]["item_name"] %>' src='<%= character["character_items"]["power_weapon"]["item_icon"] %>' alt="" style=" width: 60px; height: 60px;">
                                                            <span class="truncate" style=" text-transform:uppercase; position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;"><%= character["character_items"]["power_weapon"]["item_name"] %></span>                                                    
                                                            <span style="font-weight: 300; font-size: 0.7em; text-transform:uppercase;"><%= character["character_items"]["power_weapon"]["item_type"] %></span> 
                                                        </div>
                                                        <div class="col s6 equip">
                                                      
                                                            <% exotic = false %>
                                                            <% character["character_items"].each_with_index do |item| %>
                                                                
                                                                <% next if ["emblem_background", "emblem"].include?(item[0])  %>
                                                                
                                                                <% if item[1]["item_tier"] == "Exotic" %>
                                                                    <% if ["chest_armor", "gauntlets", "helmet", "leg_armor"].include? (item[1]['item_type'])  %>                                                                        
                                                                        <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip=<%= item[1]["item_name"] %> src=<%= item[1]["item_icon"] %> style=" width: 60px; height: 60px;">
                                                                        <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;  text-transform:uppercase;"><%= item[1][item_name] %></span>                                                    
                                                                        <span style="font-weight: 300; font-size: 0.7em;  text-transform:uppercase;"><%= item[1][item_type] %></span> 
                                                                        <% exotic = true %>
                                                                        <% break %>                                                                                                                     
                                                                    <% end %>
                                                                <% end %>  
                                                                
                                                            <% end %>
                                                            <% if !exotic %>
                                                                <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip='<%= character["character_items"]["helmet"]["item_name"] %>' src='<%= character["character_items"]["helmet"]["item_icon"] %>' style=" width: 60px; height: 60px;">
                                                                <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em; text-transform:uppercase;"><%= character["character_items"]["helmet"]["item_name"] %></span>                                                    
                                                                <span style="font-weight: 300; font-size: 0.7em; text-transform:uppercase;"><%= character["character_items"]["helmet"]["item_type"] %></span> 
                                                            <% end %>
                                                                    
                                                        </div>
                                                    </div>
        
                                                    <div class="row" style="margin-left: 0; margin-bottom: 4%;">
                                                        <div class="col s4 center-align" style="border-right: solid 1px #767676;">                                                
                                                            <p class="trials-stat-title" style="color: #f5f5f5;"><%= character["character_stats"]["kd_ratio"] %></p>
                                                            <p class="trials-stat-heading">K/D</p>
                                                        </div>
                                                        <div class="col s4 center-align" style="border-right: solid 1px #767676;">                                                
                                                            <p class="trials-stat-title" style="color: #f5f5f5;" ><%= character["character_stats"]["kad_ratio"] %></p>
                                                            <p class="trials-stat-heading">K/AD</p>
                                                        </div>
                                                        <div class="col s4 center-align">                                                
                                                            <p class="trials-stat-title" style="color: #f5f5f5"><%= character["character_stats"]["win_rate"] %></p>
                                                            <p class="trials-stat-heading">WIN %</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <p class="trials-stat-heading">ACCOUNT BADGES</p>
                                                            <% user_id = 1 %> <!-- TODO: CHANGE ME! -->
                                                            <% if !user_id.nil? %>
                                                                <% user_profile = User.find_by(id: user_id) %>  
                                                                <% user_profile.badges.each do |badge| %>                
                                                                    <div class="chip tooltipped" style='<%= badge.custom_fields[:color] %>'data-position="top" data-delay="50" data-tooltip="<%= badge.description %>">
                                                                        <%= badge.name %>
                                                                        <%= badge.custom_fields[:icon].html_safe %>
                                                                    </div>                
                                                                <% end %>
                                                            <% end %>                                                                                                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="col s8">
                                                <!-- weapon breakdown -->
                                                <div class="row">
                                                    <div class="col s6">
                                                        <!-- best weapon and precision kills -->
                                                        <h5 style="position: relative; top: 15px; font-size: 1.2rem;color: #f5f5f5;font-weight: 300;">KILL STATS</h5>
                                                        <div class="row" style="margin-top: 9%;">
                                                            <div class="col s12 center-align">                                                                
                                                                <p class="trials-stat-heading" >BEST WEAPON</p>  
                                                                <% if (!character["character_stats"]["kill_stats"]["best_weapon_type"].nil? &&  character["character_stats"]["kill_stats"]["best_weapon_type"] != 0) %>
                                                                    <p class="stat-title tooltipped" style="margin-bottom: 0;" data-position="top" data-delay="50" data-tooltip='<%= character["character_stats"]["kill_stats"]["best_weapon_type"] %>'><%= image_tag @weapons[character["character_stats"]["kill_stats"]["best_weapon_type"]], style: "height: 40px;"  %></p>
                                                                <% else %>
                                                                    <p class="stat-title tooltipped" style="margin-bottom: 0;" data-position="top" data-delay="50" data-tooltip='Rocket Launcher...Yikes.'><%= image_tag @weapons["Rocket Launcher"], style: "height: 40px;" %></p>
                                                                <% end %>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-bottom: 0;">
                                                            <div class="col s4 center-align">                                                
                                                                <!-- <p class="stat-title tooltipped" data-position="bottom" data-delay="50" data-tooltip="pulse_rifle" data-tooltip-id="3f3028e0-1828-10c2-c50a-79cf6b0c4763"><img style="height: 35px;" src="/assets/pulse2-8bae320e7e8a5368b2e082d4f23f41b020ab2785424d513f239bb8cdf435f176.png" alt="Pulse2"></p>
                                                                <p class="trials-stat-heading">Best Weapon</p>                                                                                                     -->
                                                                <p class="trials-stat-title tooltipped"  data-position="top" data-delay="50" data-tooltip='<%= "#{character["character_stats"]["kill_stats"]["precision_kills"]} / #{character["character_stats"]["kills"]} total kills" %>' style="font-size: 1.4rem; color: #f5f5f5"><%= ((character["character_stats"]["kill_stats"]["precision_kills"].to_f  /  character["character_stats"]["kills"].to_f) * 100).round(1) %>%</p>
                                                                <p class="trials-stat-heading" >PRECISION KILLS</p>  
                                                            </div>
                                                            <div class="col s4 center-align">                                                
                                                                <!-- <p class="stat-title tooltipped" data-position="bottom" data-delay="50" data-tooltip="pulse_rifle" data-tooltip-id="3f3028e0-1828-10c2-c50a-79cf6b0c4763"><img style="height: 35px;" src="/assets/pulse2-8bae320e7e8a5368b2e082d4f23f41b020ab2785424d513f239bb8cdf435f176.png" alt="Pulse2"></p>
                                                                <p class="trials-stat-heading">Best Weapon</p>                                                                                                     -->
                                                                <p class="trials-stat-title" style="font-size: 1.4rem; color: #f5f5f5"><%= character["character_stats"]["kill_stats"]["longest_spree"] %></p>
                                                                <p class="trials-stat-heading" >LONGEST SPREE</p>  
                                                            </div>
                                                        
                                                            <div class="col s4 center-align">
                                                                <div class="row" style="margin-bottom: 0;">                                                    
                                                                    <p class="trials-stat-title " style="font-size: 1.4rem; color: #f5f5f5"><%= character["character_stats"]["kill_stats"]["average_kill_distance"] %></p>
                                                                    <p class="trials-stat-heading">KILL DISTANCE</p>                                                    
                                                                </div>
                                                            </div>
                                                        </div>  
                                            
                                                            
                                                    </div>    
                                                    <div class="col s12 m6 center-align">
                                                        <div class='<%="chart-container1" %>' data-chart-data="<%= info[index].to_json %>"></div>
                                                        <div><canvas id='<%= "weapon-breakdown-chart1" %>' style="max-width: 300px !important; max-height: 200px !important; padding-left: 75px; margin-top: 8%;"></canvas></div>                                                                
                                                    </div>
                                                </div> 
                                                <hr>                                    
                                                <!-- badges -->
                                                
                                                <div class="row" style="margin-bottom: 2%;">
                                                    <div class="col s6 float-left"><h5 style="font-size: 1.2rem;color: #f5f5f5;font-weight: 300;">PLAYER ANALYSIS</h5></div>
                                                    <div class="col s6 float-right" style="margin-top: 5px;">
                                                        <div class="col s4"><h5 style=" font-size: 1.0rem; color: #f5f5f5;">REPUTATION:</h5> </div>  
                                                        <% if user_id.nil? %>
                                                            <div class="col s4 center-align" style="height: 38px;"><span style=" color: #2ecc71; font-weight: 800; position: relative; top: 25%;">N/A</span></div>                                                                                                                                                      
                                                        <% else %>
                                                            <% user_profile = User.find_by(id: 10) %>  <!-- TODO: CHANGE ME! -->  
                                                            <% total = user_profile.votes_for + user_profile.votes_against %>      
                                                            <% rep =  total != 0  ? ((user_profile.votes_for / total).round(1) * 100) : 0 %>
                                                            <% rep_color = rep > 0.70 ? "#2ecc71" : "#E74C3C" %>
                                                            <div class="col s4 center-align" style="height: 38px;"><span style='<%= " color: #{rep_color}; font-weight: 800; position: relative; top: 25%;" %>'><%= rep %>%</span></div> 
                                                            <%if user_profile != current_user  && !current_user.nil?%>    
                                                                <% if current_user.voted_for?(user_profile) %>
                                                                    <div class="col s4">                                                                    
                                                                        <%= link_to users_unvote_path(:voter => user_profile), method: :post, class: "waves-effect waves-light btn" do %>
                                                                            <i class="material-icons">cancel</i>
                                                                        <% end %>
                                                                    </div>                                                                                             
                                                                <% else %>
                                                                    <div class="col s2">
                                                                        <%= link_to users_upvote_path(:voter => user_profile), method: :post, class: "btn", style: "background-color: transparent; box-shadow: none; color: #01d4d4; padding: 0;" do %>
                                                                            <i class="material-icons">thumb_up</i>
                                                                        <% end %>
                                                                    </div>
                                                                        
                                                                    <div class="col s2">
                                                                        <%= link_to users_downvote_path(:voter => user_profile), method: :post, class: "btn", style: "background-color: transparent; box-shadow: none; color: #01d4d4; padding: 0;" do %>
                                                                            <i class="material-icons" >thumb_down</i>
                                                                        <% end %>
                                                                    </div>
                                                                <% end %>
                                                            <% end %>
                                                        <% end %>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col s12">
                                                        <%= render partial:"shared/character_badges", locals: {info: character, user: current_user} %> <!-- TODO: CHANGE ME! -->
                                                    </div>
                                                    
                                                </div>
                                                <hr>
                                                <!-- recent games -->
                                                <div class="col s6 float-left"><h5 style="font-size: 1.2rem;color: #f5f5f5;font-weight: 300; margin-bottom: -20px;">RECENT MATCHES</h5></div>                                        
                                                <div class="row">
                                                        <div><canvas id='<%= "kill-chart-breakdown1" %>' style="max-height: 180px !important; width: auto; padding: 0 125px;"></canvas></div>                    
                                                </div>
                                            </div>
                                        </div>
        
                                    </div>
                                <% end %>  
                            <% rescue StandardError => e %>
                                NO DATA HERE YET!
                                <% puts e%>                                    
                                <% puts e.backtrace %>                                    
                                                                   
                            <% end %>
                            <!-- <div id="overview1" class="col s12">Overview1</div> -->
                            
                        </div>
                        <div id="player2" class="col s12" style="padding-left: 0px; padding-right: 0px;">
                            <ul class="tabs player-tabs tabs-fixed-width" style="border-radius: 0px 6px 0px 0px;">
                                <!-- <li class="tab col s3 player-tab"><a class="player-tab-link" href="#full-team" style="color: #212121;">Overview2</a></li> -->
                                <li class="tab col s3 player-tab"><a class="player-tab-link active" href="#titan2" style="color: #212121;">Titan</a></li>
                                <li class="tab col s3 player-tab"><a class="player-tab-link" href="#warlock2" style="color: #212121;">Warlock</a></li>
                                <li class="tab col s3 player-tab"><a class="player-tab-link" href="#hunter2" style="color: #212121;">Hunter</a></li>
                                
                            </ul>
                            <!-- <div id="overview2" class="col s12">Overview2</div>                             -->
                            <div id="hunter2" class="col s12">Hunter 2</div>
                            <div id="warlock2" class="col s12">Titan 2</div>
                            <div id="titan2" class="col s12">
                                <div class="row">
                                    <div class="col s3 trials-card-text" style="border-right: 1px #212121 solid;" >
                                        <div class="row">
                                                <div class="trials-player-header" style="background-image: url(https://www.bungie.net/common/destiny2_content/icons/798f5839febe4ad28b42e2c88c94db9d.jpg);">
                                                    <div class="row" style="overflow: hidden; max-height: 55px; margin-bottom: 0;">
                                                        <div class="col s3 left-align"></div>
                                                        <div class="col s6 center-align" style="padding: 0;">                         
                                                            <span class="trials-player-name">KURTO13</span>
                                                        </div>
                                                        <div class="col s3 center-align" style="height: 55px; color: white; padding: 0;">
                                                            <span class="trials-player-light" >✦ 297 </span>
                                                            <span class="trials-player-subclass">Sentinel</span>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 0;">
                                            <div class="col s6 center-align">
                                                <p class="trials-stat-title tooltipped" style="font-size: 2rem; color: #AA885F;" data-position="bottom" data-delay="50" data-tooltip="#7,456" data-tooltip-id="b58821a3-5235-7d4d-dd8d-8a3d27d8e8b5">1157</p>
                                                <p class="trials-stat-heading" >ELO</p>
                                            </div>
                                            <div class="col s6 center-align">
                                                <p class="trials-stat-title tooltipped" style="font-size: 2rem; color: #f5f5f5" data-position="bottom" data-delay="50" data-tooltip="#7,456" data-tooltip-id="b58821a3-5235-7d4d-dd8d-8a3d27d8e8b5">0x</p>
                                                <p class="trials-stat-heading" >FLAWLESS</p>
                                            </div>
                                        </div>
                                        <div class="row" style="min-height: 39vh; margin-bottom: 18%;">
                                            <div class="col s6 equip">
                                                    <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="ROS Lysis II" src="https://www.bungie.net/common/destiny2_content/icons/c33714a69ec2b8b06e4848aa8341ef83.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                    <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">ROS LYSIS II</span>                                                    
                                                    <span style="font-weight: 300; font-size: 0.7em;">AUTO RIFLE</span> 
                                            </div>
                                            <div class="col s6 equip">
                                                    <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="The Last Dance" src="https://www.bungie.net/common/destiny2_content/icons/2b85cf0c8f471a7ea679c210c19407b0.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                    <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">THE LAST DANCE</span>                                                    
                                                    <span style="font-weight: 300; font-size: 0.7em;">SIDEARM</span> 
                                            </div>
                                            <div class="col s6 equip">
                                                    <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="Tongeren-LR3" src="https://www.bungie.net/common/destiny2_content/icons/4e01fe72996711168af633f8fc02f583.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                    <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">TONGEREN-LR3</span>                                                    
                                                    <span style="font-weight: 300; font-size: 0.7em;">SNIPER RIFLE</span> 
                                            </div>
                                            <div class="col s6 equip">
                                                    <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="Kerak Type 2" src="https://www.bungie.net/common/destiny2_content/icons/fe3c4ab116b1d9f8e45382ca51d405e7.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                    <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">KERAK TYPE 2</span>                                                    
                                                    <span style="font-weight: 300; font-size: 0.7em;">HELMET</span> 
                                            </div>
                                        </div>                                        
                                        <div class="row" style="margin-left: 0;">
                                            <div class="col s4 center-align" style="border-right: solid 1px #767676;">                                                
                                                <p class="trials-stat-title" style="color: #f5f5f5;">0.82</p>
                                                <p class="trials-stat-heading">K/D</p>
                                            </div>
                                            <div class="col s4 center-align" style="border-right: solid 1px #767676;">                                                
                                                <p class="trials-stat-title" style="color: #f5f5f5;" >1.20</p>
                                                <p class="trials-stat-heading">K/AD</p>
                                            </div>
                                            <div class="col s4 center-align">                                                
                                                <p class="trials-stat-title" style="color: #f5f5f5;">52.3</p>
                                                <p class="trials-stat-heading">WIN %</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="player3" class="col s12" style="padding-left: 0px; padding-right: 0px;">
                            <ul class="tabs player-tabs tabs-fixed-width" style="border-radius: 0px 6px 0px 0px;">
                                <!-- <li class="tab col s3 player-tab"><a class="player-tab-link" href="#full-team" style="color: #212121;">Overview2</a></li> -->
                                <li class="tab col s3 player-tab"><a class="player-tab-link active" href="#warlock3" style="color: #212121;">Warlock</a></li>                                
                                <li class="tab col s3 player-tab"><a class="player-tab-link" href="#titan3" style="color: #212121;">Titan</a></li>
                                <li class="tab col s3 player-tab"><a class="player-tab-link" href="#hunter3" style="color: #212121;">Hunter</a></li>
                            </ul>
                            <!-- <div id="overview3" class="col s12">Overview3</div>                             -->
                            <div id="hunter3" class="col s12">Hunter 3</div>
                            <div id="warlock3" class="col s12">
                                <div class="row">
                                    <div class="col s3 trials-card-text" style="border-right: 1px #212121 solid;" >
                                        <div class="row">
                                            <div class="trials-player-header" style="background-image: url(https://www.bungie.net/common/destiny2_content/icons/dacfa513281d101aa4dd276a0aacfc0f.jpg);">
                                                <div class="row" style="overflow: hidden; max-height: 55px; margin-bottom: 0;">
                                                    <div class="col s3 left-align"></div>
                                                    <div class="col s6 center-align" style="padding: 0;">                         
                                                        <span class="trials-player-name">Luminusss</span>
                                                    </div>
                                                    <div class="col s3 center-align" style="height: 55px; color: white; padding: 0;">
                                                        <span class="trials-player-light" >✦ 301 </span>
                                                        <span class="trials-player-subclass">Voidwalker</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 0;">
                                            <div class="col s6 center-align">
                                                <p class="trials-stat-title tooltipped" style="font-size: 2rem; color: #58907E;" data-position="bottom" data-delay="50" data-tooltip="#7,456" data-tooltip-id="b58821a3-5235-7d4d-dd8d-8a3d27d8e8b5">1565</p>
                                                <p class="trials-stat-heading" >ELO</p>
                                            </div>
                                            <div class="col s6 center-align">
                                                <p class="trials-stat-title tooltipped" style="font-size: 2rem; color: #f5f5f5" data-position="bottom" data-delay="50" data-tooltip="#7,456" data-tooltip-id="b58821a3-5235-7d4d-dd8d-8a3d27d8e8b5">27x</p>
                                                <p class="trials-stat-heading" >FLAWLESS</p>
                                            </div>
                                        </div>
                                        <div class="row" style="min-height: 39vh; margin-bottom: 18%;">
                                            <div class="col s6 equip">
                                                    <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="MIDA Multi-Tool" src="https://bungie.net//common/destiny2_content/icons/077e9577fb39cb521b49048db236e39d.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                    <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">MIDA MULTI-TOOL</span>                                                    
                                                    <span style="font-weight: 300; font-size: 0.7em;">SCOUT RIFLE</span> 
                                            </div>
                                            <div class="col s6 equip">
                                                    <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="Prosecutor" src="https://bungie.net//common/destiny2_content/icons/fe5c4ef13af20ed4c89a3e40085526c5.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                    <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">PROSECUTOR</span>                                                    
                                                    <span style="font-weight: 300; font-size: 0.7em;">AUTO RIFLE</span> 
                                            </div>
                                            <div class="col s6 equip">
                                                    <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="The Long Walk" src="https://bungie.net//common/destiny2_content/icons/45892619a8917d8bd44684547f0b1e6f.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                    <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">THE LONG WALK</span>                                                    
                                                    <span style="font-weight: 300; font-size: 0.7em;">SNIPER RIFLE</span> 
                                            </div>
                                            <div class="col s6 equip">
                                                    <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="Transversive Steps" src="https://bungie.net//common/destiny2_content/icons/78874c268891725a68bdcc35432fec9e.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                    <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">TRANSVERSIVE STEPS</span>                                                    
                                                    <span style="font-weight: 300; font-size: 0.7em;">LEGS</span> 
                                            </div>
                                        </div>
                                        
                                        <div class="row" style="margin-left: 0;">
                                            <div class="col s4 center-align" style="border-right: solid 1px #767676;">                                                
                                                <p class="trials-stat-title" style="color: #f5f5f5;">1.26</p>
                                                <p class="trials-stat-heading">K/D</p>
                                            </div>
                                            <div class="col s4 center-align" style="border-right: solid 1px #767676;">                                                
                                                <p class="trials-stat-title" style="color: #f5f5f5;" >1.84</p>
                                                <p class="trials-stat-heading">K/AD</p>
                                            </div>
                                            <div class="col s4 center-align">                                                
                                                <p class="trials-stat-title" style="color: #f5f5f5">68.5</p>
                                                <p class="trials-stat-heading">WIN %</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="titan3" class="col s12">titan 3</div>
                        </div>
                        <div id="player4" class="col s12" style="padding-left: 0px; padding-right: 0px;">
                            <ul class="tabs player-tabs tabs-fixed-width" style="border-radius: 0px 6px 0px 0px;">
                                <!-- <li class="tab col s3 player-tab"><a class="player-tab-link" href="#full-team" style="color: #212121;">Overview4</a></li> -->
                                <li class="tab col s3 player-tab"><a class="player-tab-link active" href="#titan4" style="color: #212121;">Titan1</a></li>
                                <li class="tab col s3 player-tab"><a class="player-tab-link" href="#hunter4" style="color: #212121;">Hunter1</a></li>
                                <li class="tab col s3 player-tab"><a class="player-tab-link" href="#warlock4" style="color: #212121;">Warlock</a></li>
                            </ul>
                            <!-- <div id="overview4" class="col s12">Overview4</div>                             -->
                            <div id="hunter4" class="col s12">Hunter 4</div>
                            <div id="titan4" class="col s12">
                                <div class="col s3 trials-card-text" style="border-right: 1px #212121 solid;">
                                    <div class="row">
                                            <div class="trials-player-header" style="background-image: url(https://www.bungie.net/common/destiny2_content/icons/a0dd3e3444de2012b554ea4c8b655da9.jpg);">
                                                <div class="row" style="overflow: hidden; max-height: 55px; margin-bottom: 0;">
                                                    <div class="col s3 left-align"></div>
                                                    <div class="col s6 center-align" style="padding: 0;">                         
                                                        <span class="trials-player-name">Putin Pudding</span>
                                                    </div>
                                                    <div class="col s3 center-align" style="height: 55px; color: white; padding: 0;">
                                                        <span class="trials-player-light">✦ 299 </span>
                                                        <span class="trials-player-subclass">Defender</span>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 0;">
                                        <div class="col s6 center-align">
                                            <p class="trials-stat-title tooltipped" style="font-size: 2rem; color: #CCAE50;" data-position="bottom" data-delay="50" data-tooltip="#7,456" data-tooltip-id="b58821a3-5235-7d4d-dd8d-8a3d27d8e8b5">1370</p>
                                            <p class="trials-stat-heading" >ELO</p>
                                        </div>
                                        <div class="col s6 center-align">
                                            <p class="trials-stat-title tooltipped" style="font-size: 2rem; color: #f5f5f5" data-position="bottom" data-delay="50" data-tooltip="#7,456" data-tooltip-id="b58821a3-5235-7d4d-dd8d-8a3d27d8e8b5">9x</p>
                                            <p class="trials-stat-heading" >FLAWLESS</p>
                                        </div>
                                    </div>
                                    <div class="row" style="min-height: 39vh; margin-bottom: 18%;">
                                        <div class="col s6 equip">
                                                <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="Nightshade" src="https://bungie.net//common/destiny2_content/icons/fe0a4a1d2d0f2a152b1f7ac63445ab54.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">NIGHTSHADE</span>                                                    
                                                <span style="font-weight: 300; font-size: 0.7em;">SCOUT RIFLE</span> 
                                        </div>
                                        <div class="col s6 equip">
                                                <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="Drang" src="https://bungie.net//common/destiny2_content/icons/81a592981429e73e0649d912241f1395.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">DRANG</span>                                                    
                                                <span style="font-weight: 300; font-size: 0.7em;">SIDEARM</span> 
                                        </div>
                                        <div class="col s6 equip">
                                                <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="Merciless" src="https://bungie.net//common/destiny2_content/icons/67fa7a1a1535515ccc482da4d30a08c9.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">MERCILESS</span>                                                    
                                                <span style="font-weight: 300; font-size: 0.7em;">FUSION RIFLE</span> 
                                        </div>
                                        <div class="col s6 equip">
                                                <img class="gun-icons-trials-d2 tooltipped" data-position="right" data-delay="50" data-tooltip="Actium War Rig" src="https://bungie.net//common/destiny2_content/icons/957eae3f0e2e00ee7f8dba4b1f03c1e7.jpg" alt="" data-tooltip-id="e0644b98-c841-6ea0-7c5a-0e04b86fa877">
                                                <span class="truncate" style=" position: relative; top: 10%;  font-weight: 400; font-size: 0.7em;">ACTIUM WAR RIG</span>                                                    
                                                <span style="font-weight: 300; font-size: 0.7em;">CHEST</span> 
                                        </div>
                                    </div>
                                    
                                    <div class="row" style="margin-left: 0;">
                                        <div class="col s4 center-align" style="border-right: solid 1px #767676;">                                                
                                            <p class="trials-stat-title" style="color: #f5f5f5;">0.99</p>
                                            <p class="trials-stat-heading">K/D</p>
                                        </div>
                                        <div class="col s4 center-align" style="border-right: solid 1px #767676;">                                                
                                            <p class="trials-stat-title" style="color: #f5f5f5;" >1.36</p>
                                            <p class="trials-stat-heading">K/AD</p>
                                        </div>
                                        <div class="col s4 center-align">                                                
                                            <p class="trials-stat-title" style="color: #f5f5f5">54.2</p>
                                            <p class="trials-stat-heading">WIN %</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="warlock4" class="col s12">warlock 4</div>
                        </div>

                    </div>
                       
                                            
                    </div>
                    
                </div>
            </div>
        </div>
    </div>



