<body>
<% if !current_user %>
    <%= link_to "Sign in with Bungie", user_bungie_omniauth_authorize_path %>
<% else %>
    <div class="content">
        <h1 class="title gamertag center"> Welcome,
            <% if !current_user["xbox_display_name"].nil? %>
                <strong><%= current_user["xbox_display_name"] %></strong>!
                <% elsif !current_user["psn_display_name"].nil? %>
                    <%= current_user["psn_display_name"] %>
                        <% end %>

        </h1>
    </div>
    <div class="columns is-mobile is-hidden-mobile is-hidden-touch">
        <div class="column is-half is-offset-one-quarter ">
            <hr/>
        </div>
    </div>

    <section class="hero is-primary center">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Destiny PVP</h1>
                <h2 class="subtitle">Crucible Playlists Stats</h2>
            </div>
        </div>

    </section>
    <br/>

    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/608110_bf3ab3890d6f80ee23ca8373ac6dd400.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Trials of Osiris</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
                        <p>ELO:</p>

                        <p>Week KD:</p>
                        <p>Year KD:</p>
                        <p>Flawless Victories:</p>


                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/608060_90735357125467ced4bf92050b837bdb.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Skirmish</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
                        <p>Week KD:</p>
                        <p>Year KD:</p>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/608040_0345930d810aad789428e1db40b76607.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Clash</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">

                        <p>Week KD:</p>
                        <p>Year KD:</p>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/608030_4fc0099ad9cb09c370cac6f2c23e70e5.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Control</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
                        <p>Zones Controlled</p>
                        <p>Zones Defended</p>
                        <p>Week KD:</p>
                        <p>Year KD:</p>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
        </div>
    </div>



    <br/>
    <br/>




    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/608050_53b8fe302c37c0cae8547365808eefbc.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Rumble</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
                        <p>ELO:</p>

                        <p>Week KD:</p>
                        <p>Year KD:</p>
                        <p>Flawless Victories:</p>


                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/608070_5d63e19efa4de0eec7fe04d33fcec26c.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Salvage</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
                        <p>Week KD:</p>
                        <p>Year KD:</p>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/701670_70682eb13abe4d6ef559d8fdf57938cb.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Rift</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">

                        <p>Week KD:</p>
                        <p>Year KD:</p>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/609012_9be94f7df388334196c5710cbfa381ef.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Doubles</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
                        <p>Zones Controlled</p>
                        <p>Zones Defended</p>
                        <p>Week KD:</p>
                        <p>Year KD:</p>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
        </div>
    </div>

    <br/>
    <br/>




    <section class="hero is-primary center">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Destiny Raids</h1>
                <h2 class="subtitle">Raid Playlists Stats</h2>
            </div>
        </div>

    </section>
    <br/>



    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603020_48f6873d1f28fe3ff5cd4456cbfa4317.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603010_882a18b213fd28804f5637349b57323a.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Vault of Glass</p>
                            <p class="subtitle is-6">Raid</p>
                        </div>
                    </div>

                    <div class="content">

                        <br/>
                        <p>Hunter Progress:</p>
                        <p>Warlock Progress:</p>
                        <p>Titan Progress:</p>


                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603035_fb80c081ae7a6e6896dd16e4ae4b36a6.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603010_882a18b213fd28804f5637349b57323a.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Crota's End</p>
                            <p class="subtitle is-6">Raid</p>
                        </div>
                    </div>

                    <div class="content">
                        <br/>
                        <p>Hunter Progress:</p>
                        <p>Warlock Progress:</p>
                        <p>Titan Progress:</p>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/701660_fa0208b0ee741963365484a9cf4b3923.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603010_882a18b213fd28804f5637349b57323a.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">King's Fall</p>
                            <p class="subtitle is-6">Raid</p>
                        </div>
                    </div>

                    <div class="content">
                        <br/>
                        <p>Hunter Progress:</p>
                        <p>Warlock Progress:</p>
                        <p>Titan Progress:</p>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>




                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>




                </footer>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/800443_93a4a02f080f47e680c2b0a5fc1aba6f.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603010_882a18b213fd28804f5637349b57323a.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Wrath of the Machine</p>
                            <p class="subtitle is-6">Raid</p>
                        </div>
                    </div>

                    <div class="content">
                        <br/>
                        <p>Hunter Progress:</p>
                        <p>Warlock Progress:</p>
                        <p>Titan Progress:</p>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>


                </footer>
            </div>
        </div>
    </div>


    <!-- Trigger/Open The Modal -->
    <!-- Trigger/Open The Modal -->

    <script>
        var modals = document.getElementsByClassName('modal');
        // Get the button that opens the modal
        var btns = document.getElementsByClassName("openmodal");
        var spans = document.getElementsByClassName("close");
        for (let i = 0; i < btns.length; i++) {
            btns[i].onclick = function () {
                modals[i].style.display = "block";
            }
        }
        for (let i = 0; i < spans.length; i++) {
            spans[i].onclick = function () {
                modals[i].style.display = "none";
            }
        }
    </script>


    </div>







<div class="columns center is-hidden-desktop is-hidden-tablet-only">


  <div class="column">
    Destiny PVP
  </div>
  <div class="column">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/608110_bf3ab3890d6f80ee23ca8373ac6dd400.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Trials of Osiris</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
                        <p>ELO:</p>

                        <p>Week KD:</p>
                        <p>Year KD:</p>
                        <p>Flawless Victories:</p>


                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
    </div>

    <div class="item">
      <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/608060_90735357125467ced4bf92050b837bdb.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Skirmish</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
                        <p>Week KD:</p>
                        <p>Year KD:</p>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
    </div>

    <div class="item">
      <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/608040_0345930d810aad789428e1db40b76607.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Clash</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">

                        <p>Week KD:</p>
                        <p>Year KD:</p>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
    </div>


    <div class="item">
      <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/608030_4fc0099ad9cb09c370cac6f2c23e70e5.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Control</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
                        <p>Zones Controlled</p>
                        <p>Zones Defended</p>
                        <p>Week KD:</p>
                        <p>Year KD:</p>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
    </div>

    <div class="item">
      <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/608050_53b8fe302c37c0cae8547365808eefbc.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Rumble</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
                        <p>ELO:</p>

                        <p>Week KD:</p>
                        <p>Year KD:</p>
                        <p>Flawless Victories:</p>


                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
    </div>

    <div class="item">
      <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/608070_5d63e19efa4de0eec7fe04d33fcec26c.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Salvage</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
                        <p>Week KD:</p>
                        <p>Year KD:</p>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
    </div>


<div class="item">
      <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/701670_70682eb13abe4d6ef559d8fdf57938cb.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Rift</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">

                        <p>Week KD:</p>
                        <p>Year KD:</p>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
    </div>

    <div class="item">
      <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/609012_9be94f7df388334196c5710cbfa381ef.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Doubles</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
                        <p>Zones Controlled</p>
                        <p>Zones Defended</p>
                        <p>Week KD:</p>
                        <p>Year KD:</p>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
    </div>




  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  </div>




















  <div class="column">
    Destiny Raids
  </div>
  <div class="column">
    <div id="myCarousel2" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel2" data-slide-to="1"></li>
    <li data-target="#myCarousel2" data-slide-to="2"></li>
  </ol>






  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603020_48f6873d1f28fe3ff5cd4456cbfa4317.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603010_882a18b213fd28804f5637349b57323a.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Vault of Glass</p>
                            <p class="subtitle is-6">Raid</p>
                        </div>
                    </div>

                    <div class="content">

                        <br/>
                        <p>Hunter Progress:</p>
                        <p>Warlock Progress:</p>
                        <p>Titan Progress:</p>


                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
    </div>





    <div class="item">
      <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603035_fb80c081ae7a6e6896dd16e4ae4b36a6.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603010_882a18b213fd28804f5637349b57323a.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Crota's End</p>
                            <p class="subtitle is-6">Raid</p>
                        </div>
                    </div>

                    <div class="content">
                        <br/>
                        <p>Hunter Progress:</p>
                        <p>Warlock Progress:</p>
                        <p>Titan Progress:</p>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
    </div>





    <div class="item">
      <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/701660_fa0208b0ee741963365484a9cf4b3923.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603010_882a18b213fd28804f5637349b57323a.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">King's Fall</p>
                            <p class="subtitle is-6">Raid</p>
                        </div>
                    </div>

                    <div class="content">
                        <br/>
                        <p>Hunter Progress:</p>
                        <p>Warlock Progress:</p>
                        <p>Titan Progress:</p>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>




                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>




                </footer>
            </div>
    </div>




<div class="item">
      <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/800443_93a4a02f080f47e680c2b0a5fc1aba6f.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603010_882a18b213fd28804f5637349b57323a.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Wrath of the Machine</p>
                            <p class="subtitle is-6">Raid</p>
                        </div>
                    </div>

                    <div class="content">
                        <br/>
                        <p>Hunter Progress:</p>
                        <p>Warlock Progress:</p>
                        <p>Titan Progress:</p>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <button class="openmodal myBtn card-footer-item">Post to LFG</button>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>


                </footer>
            </div>
    </div>




  </div>







  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel2" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  </div>










</div>

<% end %>