<% content_for :head do %>
<meta charset="UTF-8">
<meta name="description" content="Kota was here">
<% end %>

<body>
<% if !current_user %>
<%= link_to "Sign in with Bungie", user_bungie_omniauth_authorize_path %>
<% else %>
<body data-gr-c-s-loaded="true">



<div class="row">


      <div class="col s6"><div class="carousel"><!--PVP PLAYLIST CAROUSEL-->

<!--Card item 1  -->
<div class="carousel-item">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag 'crucible_trialsofosiris.png', class:"activator" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Trials of Osiris<i class="material-icons right">more_vert</i></span>
          <div class="row">
            <!--footer columns-->
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="LFG POST"><i class="material-icons">search</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">chat_bubble_outline</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">view_carousel</i></a>
            </div>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Player Stats<i class="material-icons right">close</i></span>
          <table>
            <tr>
              <th>Year KD</th>
              <th>1.9</th>
            </tr>

            <tbody>
              <tr>
                <td>Week KD</td>
                <td>1.45</td>

              </tr>
              <tr>
                <td>ELO</td>
                <td>1750</td>

              </tr>
              <tr>
                <td>Streak</td>
                <td>+5</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
<!--End card item 1  -->

<!--Card item 2  -->
<div class="carousel-item">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag 'crucible_clash.png', class:"activator" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Clash<i class="material-icons right">more_vert</i></span>
          <div class="row">
            <!--footer columns-->
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="LFG POST"><i class="material-icons">search</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">chat_bubble_outline</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">view_carousel</i></a>
            </div>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Player Stats<i class="material-icons right">close</i></span>
          <table>
            <tr>
              <th>Year KD</th>
              <th>1.9</th>
            </tr>

            <tbody>
              <tr>
                <td>Week KD</td>
                <td>1.45</td>

              </tr>
              <tr>
                <td>ELO</td>
                <td>1750</td>

              </tr>
              <tr>
                <td>Streak</td>
                <td>+5</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
<!--End card item 2  -->

<!--Card item 3  -->
<div class="carousel-item">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag 'crucible_control.png', class:"activator" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Control<i class="material-icons right">more_vert</i></span>
          <div class="row">
            <!--footer columns-->
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="LFG POST"><i class="material-icons">search</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">chat_bubble_outline</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">view_carousel</i></a>
            </div>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Player Stats<i class="material-icons right">close</i></span>
          <table>
            <tr>
              <th>Year KD</th>
              <th>1.9</th>
            </tr>

            <tbody>
              <tr>
                <td>Week KD</td>
                <td>1.45</td>

              </tr>
              <tr>
                <td>ELO</td>
                <td>1750</td>

              </tr>
              <tr>
                <td>Streak</td>
                <td>+5</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
<!--End card item 3  -->

<!--Card item 4  -->
<div class="carousel-item">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag 'crucible_elimination.png', class:"activator" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Elimination<i class="material-icons right">more_vert</i></span>
          <div class="row">
            <!--footer columns-->
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="LFG POST"><i class="material-icons">search</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">chat_bubble_outline</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">view_carousel</i></a>
            </div>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Player Stats<i class="material-icons right">close</i></span>
          <table>
            <tr>
              <th>Year KD</th>
              <th>1.9</th>
            </tr>

            <tbody>
              <tr>
                <td>Week KD</td>
                <td>1.45</td>

              </tr>
              <tr>
                <td>ELO</td>
                <td>1750</td>

              </tr>
              <tr>
                <td>Streak</td>
                <td>+5</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
<!--End card item 4  -->

<!--Card item 5  -->
<div class="carousel-item">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag 'crucible_rift.png', class:"activator" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Rift<i class="material-icons right">more_vert</i></span>
          <div class="row">
            <!--footer columns-->
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="LFG POST"><i class="material-icons">search</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">chat_bubble_outline</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">view_carousel</i></a>
            </div>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Player Stats<i class="material-icons right">close</i></span>
          <table>
            <tr>
              <th>Year KD</th>
              <th>1.9</th>
            </tr>

            <tbody>
              <tr>
                <td>Week KD</td>
                <td>1.45</td>

              </tr>
              <tr>
                <td>ELO</td>
                <td>1750</td>

              </tr>
              <tr>
                <td>Streak</td>
                <td>+5</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
<!--End card item 5  -->

<!--Card item 6  -->
<div class="carousel-item">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag 'crucible_salvage.png', class:"activator" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Salvage<i class="material-icons right">more_vert</i></span>
          <div class="row">
            <!--footer columns-->
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="LFG POST"><i class="material-icons">search</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">chat_bubble_outline</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">view_carousel</i></a>
            </div>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Player Stats<i class="material-icons right">close</i></span>
          <table>
            <tr>
              <th>Year KD</th>
              <th>1.9</th>
            </tr>

            <tbody>
              <tr>
                <td>Week KD</td>
                <td>1.45</td>

              </tr>
              <tr>
                <td>ELO</td>
                <td>1750</td>

              </tr>
              <tr>
                <td>Streak</td>
                <td>+5</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
<!--End card item 6  -->

<!--Card item 7  -->
<div class="carousel-item">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag 'crucible_skirmish.png', class:"activator" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Skirmish<i class="material-icons right">more_vert</i></span>
          <div class="row">
            <!--footer columns-->
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="LFG POST"><i class="material-icons">search</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">chat_bubble_outline</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">view_carousel</i></a>
            </div>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Player Stats<i class="material-icons right">close</i></span>
          <table>
            <tr>
              <th>Year KD</th>
              <th>1.9</th>
            </tr>

            <tbody>
              <tr>
                <td>Week KD</td>
                <td>1.45</td>

              </tr>
              <tr>
                <td>ELO</td>
                <td>1750</td>

              </tr>
              <tr>
                <td>Streak</td>
                <td>+5</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
<!--End card item 7  -->

<!--Card item 8  -->
<div class="carousel-item">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag 'crucible_rumble.png', class:"activator" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Rumble<i class="material-icons right">more_vert</i></span>
          <div class="row">
            <!--footer columns-->
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="LFG POST"><i class="material-icons">search</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">chat_bubble_outline</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse red" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">view_carousel</i></a>
            </div>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Player Stats<i class="material-icons right">close</i></span>
          <table>
            <tr>
              <th>Year KD</th>
              <th>1.9</th>
            </tr>

            <tbody>
              <tr>
                <td>Week KD</td>
                <td>1.45</td>

              </tr>
              <tr>
                <td>ELO</td>
                <td>1750</td>

              </tr>
              <tr>
                <td>Streak</td>
                <td>+5</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
<!--End card item 8  -->


</div><!--PVP PLAYLIST CAROUSEL END-->

</div>


      <div class="col s6"><div class="carousel"><!--RAID PLAYLIST CAROUSEL START-->

<!--Card item 1  -->
<div class="carousel-item">
    <div class="card">
        <div class="card-image2 waves-effect waves-block waves-light">
            <%= image_tag 'Raid_Emblem.png', class:"activator" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Vault of Glass<i class="material-icons right">more_vert</i></span>
          <div class="row">
            <!--footer columns-->
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse blue darken-4" data-position="bottom" data-tooltip="LFG POST"><i class="material-icons">search</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse blue darken-4" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">chat_bubble_outline</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse blue darken-4" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">view_carousel</i></a>
            </div>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Player Stats<i class="material-icons right">close</i></span>
          <table>
            <tr>
              <th>Year KD</th>
              <th>1.9</th>
            </tr>

            <tbody>
              <tr>
                <td>Week KD</td>
                <td>1.45</td>

              </tr>
              <tr>
                <td>ELO</td>
                <td>1750</td>

              </tr>
              <tr>
                <td>Streak</td>
                <td>+5</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
<!--End card item 1  -->

<!--Card item 2  -->
<div class="carousel-item">
    <div class="card">
        <div class="card-image2 waves-effect waves-block waves-light">
          <%= image_tag 'Raid_Emblem.png', class:"activator" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Clash<i class="material-icons right">more_vert</i></span>
          <div class="row">
            <!--footer columns-->
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse blue darken-4" data-position="bottom" data-tooltip="LFG POST"><i class="material-icons">search</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse blue darken-4" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">chat_bubble_outline</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse blue darken-4" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">view_carousel</i></a>
            </div>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Player Stats<i class="material-icons right">close</i></span>
          <table>
            <tr>
              <th>Year KD</th>
              <th>1.9</th>
            </tr>

            <tbody>
              <tr>
                <td>Week KD</td>
                <td>1.45</td>

              </tr>
              <tr>
                <td>ELO</td>
                <td>1750</td>

              </tr>
              <tr>
                <td>Streak</td>
                <td>+5</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
<!--End card item 2  -->

<!--Card item 3  -->
<div class="carousel-item">
    <div class="card">
        <div class="card-image2 waves-effect waves-block waves-light">
          <%= image_tag 'Raid_Emblem.png', class:"activator" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Control<i class="material-icons right">more_vert</i></span>
          <div class="row">
            <!--footer columns-->
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse blue darken-4" data-position="bottom" data-tooltip="LFG POST"><i class="material-icons">search</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse blue darken-4" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">chat_bubble_outline</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse blue darken-4" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">view_carousel</i></a>
            </div>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Player Stats<i class="material-icons right">close</i></span>
          <table>
            <tr>
              <th>Year KD</th>
              <th>1.9</th>
            </tr>

            <tbody>
              <tr>
                <td>Week KD</td>
                <td>1.45</td>

              </tr>
              <tr>
                <td>ELO</td>
                <td>1750</td>

              </tr>
              <tr>
                <td>Streak</td>
                <td>+5</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
<!--End card item 3  -->

<!--Card item 4  -->
<div class="carousel-item">
    <div class="card">
        <div class="card-image2 waves-effect waves-block waves-light">
            <%= image_tag 'Raid_Emblem.png', class:"activator" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Elimination<i class="material-icons right">more_vert</i></span>
          <div class="row">
            <!--footer columns-->
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse blue darken-4" data-position="bottom" data-tooltip="LFG POST"><i class="material-icons">search</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse blue darken-4" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">chat_bubble_outline</i></a>
            </div>
            <div class="col s4 center-align">
              <a href="" class="btn tooltipped btn-floating pulse blue darken-4" data-position="bottom" data-tooltip="Some Other Crap"><i class="material-icons">view_carousel</i></a>
            </div>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Player Stats<i class="material-icons right">close</i></span>
          <table>
            <tr>
              <th>Year KD</th>
              <th>1.9</th>
            </tr>

            <tbody>
              <tr>
                <td>Week KD</td>
                <td>1.45</td>

              </tr>
              <tr>
                <td>ELO</td>
                <td>1750</td>

              </tr>
              <tr>
                <td>Streak</td>
                <td>+5</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
<!--End card item 4  -->


</div>
</div><!--RAID PLAYLIST CAROUSEL END-->
    </div><!--End of Row 1  -->



<div class="row"><!--START OF SECOND ROW-->
      
      <div class="col s6 offset-s3">

<!--Featured Videos Section-->
<ul class="collection with-header align-center center-align transparent">
        <li class="collection-header transparent"><h4>Featured Videos</h4></li>


        <li class="collection-item transparent"><!--First Featured Video Start-->
        
               
                        <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn blue darken-4 pulse" href="#modal1">Wave ༄ A Destiny Montage</a>

                        <!-- Modal Structure -->
                        <div id="modal1" class="modal">
                            <div class="modal-content">

                            <div class="video-container">
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/CavtlFdMNog" frameborder="0" allowfullscreen></iframe>
                            </div>
                            
                            </div>
                            <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                            </div>
                        </div>
                                
                                    
                                

                    
                  
        
        </li> <!--First Featured Video End-->


       <li class="collection-item transparent"><!--Second Featured Video Start-->
        
               <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn blue darken-4 pulse" href="#modal2">Skyfall ༄ A Destiny Montage</a>

                        <!-- Modal Structure -->
                        <div id="modal2" class="modal">
                            <div class="modal-content">

                            <div class="video-container">
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/Opz9KXwwUdE" frameborder="0" allowfullscreen></iframe>
                            </div>
                            
                            </div>
                            <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                            </div>
                        </div>
        
        </li> <!--Second Featured Video End-->


        <li class="collection-item transparent"><!--Third Featured Video Start-->
        
                <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn blue darken-4 pulse" href="#modal3">LIES II - Destiny PvP Montage</a>

                        <!-- Modal Structure -->
                        <div id="modal3" class="modal">
                            <div class="modal-content">

                            <div class="video-container">
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/Hg1DDUxRQAc" frameborder="0" allowfullscreen></iframe>
                            </div>
                            
                            </div>
                            <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                            </div>
                        </div>
        
        </li> <!--Third Featured Video End-->


        <li class="collection-item transparent"><!--Fourth Featured Video Start-->
        
                <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn blue darken-4 pulse" href="#modal4">Say it (A Destiny Montage)</a>

                        <!-- Modal Structure -->
                        <div id="modal4" class="modal">
                            <div class="modal-content">

                            <div class="video-container">
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/OHHkOK5TnQM" frameborder="0" allowfullscreen></iframe>
                            </div>
                            
                            </div>
                            <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                            </div>
                        </div>
        
        </li> <!--Fourth Featured Video End-->
      </ul><!--END OF FEATURED VIDEOS-->

      
      </div><!--END OF COLUMN-->
      
       </div> <!--END OF SECOND ROW>


    







<% end %>