<div class="home-header-text">
    <h1 class="center-align" id="home-header" style="font-weight: 500;">DESTINDER</h1>
    <h4 class="center-align" style="font-weight: 300;">LFG for the <span id="home-subtitle" style="font-weight: 200;">elite</span></h4>
</div>



<div class="parallax-container">
    <div class="parallax"><img src="http://download.gamezone.com/uploads/image/data/1219500/destiny2-gameplay.jpg"></div>


    <div class="container" style="width: 80%; padding-top: 5%;">
        <br>
        <br>
        <div class="row">
            <div class="col s12 m3">
                <%= link_to microposts_path do %>
                    <div class="card-panel z-depth-2 hoverable">
                        <span class="black-text">
                  <center><i class="medium material-icons" style="color: #88BBD6;">message</i></center>
                  <p class="center-align" style="font-size: 18px; white-space: nowrap;">LFG</p> 
              </span>
                    </div>
                    <% end %>
            </div>
            <div class="col s12 m3">
                <a class="modal-trigger" href="#team-search-modal">
                    <div class="card-panel z-depth-2 hoverable">
                        <span class="black-text">
                <center><i class="medium material-icons" style="color: #88BBD6;">people</i></center>
                <p class="center-align" style="font-size: 18px; white-space: nowrap;">TEAM LOOKUP</p> 
            </span>
                    </div>
                </a>
            </div>
            <div class="col s12 m3">
                <%= link_to new_player_stat_path do %>
                    <div class="card-panel z-depth-2 hoverable">
                        <span class="black-text">
                  <center><i class="medium material-icons" style="color: #88BBD6;">accessibility</i></center>
                  <p class="center-align" style="font-size: 18px; white-space: nowrap;">PLAYER LOOKUP</p> 
              </span>
                    </div>
                    <% end %>
            </div>
            <div class="col s12 m3">
                <%= link_to profile_path do %>
                    <div class="card-panel z-depth-2 hoverable">
                        <span class="black-text">
                  <center><i class="medium material-icons" style="color: #88BBD6;">person</i></center>
                  <p class="center-align" style="font-size: 18px; white-space: nowrap;">PROFILE</p> 
              </span>
                    </div>
                    <% end %>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>

<section>
    <br>

    <div class="row">
        <div class="col s12 m6 center-align">
            <%= image_tag "card-image.jpg", class: "card-image z-depth-3 center-align" %>
        </div>
        <div class="col s12 m6 center-align">
            <br>
            <br>

            <h3><span style="color: #386F8B; font-weight: bold;" ;>LFG</span> <em>The Way It Was Meant To Be</em></h3>





            <p style="margin-left: 10%; margin-right: 10%; font-size: 18px; color: grey;">Out are the days of not knowing exactly what you are inviting to your group. LFG through Destinder automatically brings in the most relevant stats for whatever gametpe they are posting for.</p>
            <p style="margin-left: 10%; margin-right: 10%; font-size: 18px; color: grey;">Wnat someone with a specific ELO ranking? You can filter for that. Want to find people who have beaten the raid more than 1 time? Yeah easy to see that as well. Our advanced statistical tracking and filtering system allows you to find exactly
                what you are looking for.</p>
        </div>
    </div>
    <div class="row ">
        <div class="col s12 m6 center-align">
            <br>

            <h3><span style="color: #913C31; font-weight: bold;">Fireteam</span> Tagging in LFG Posts</h3>
            <p style="margin-left: 10%; margin-right: 10%; font-size: 18px; color: grey;">Ever run with another really good player that you wish your new potential fireteam member could easily see as well? With LFG through Destinder, it's incredibly easy to tag a another player for others to see who you are playing with, along
                with their stats as well!</p>
            <p style="margin-left: 10%; margin-right: 10%; font-size: 18px; color: grey;">Gone are the days of not knowing what the other fireteam members skill level is when you join a <strong>Trials of Osiris Group</strong>. Gone are the days of people joining, just to rage quit. Destinder LFG allows full transparency before
                you players join up.</p>
        </div>
        <div class="col s12 m6 center-align">
            <iframe width="284" height="500" class="z-depth-3" src="https://www.youtube.com/embed/H3JiUgrYlgc?rel=0&amp;controls=0&amp;showinfo=0&loop=1&autoplay=1&playlist=H3JiUgrYlgc" frameborder="0" autoplay=1 loop=1></iframe>
        </div>

    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="https://mmoexaminer.com/wp-content/uploads/2017/08/d2_pvp_heroic_02.jpg"></div>
    </div>






    <div class="row">
        <br>
        <br>
        <div class="col s12 m6 center-align">
            <%= image_tag "badges.jpg", class: "card-image-badges z-depth-3 center-align" %>
        </div>
        <div class="col s12 m6 center-align">


            <h3><span style="color: #F9E656; font-weight: bold;">Trials of The Nine</span> At A Glance</h3>





            <p style="margin-left: 10%; margin-right: 10%; font-size: 18px; color: grey;">Using our custom built badge system, you can easily look at a player and know what their tendancies are before you start the match. Now you know whether to expect a push, or more of a passive team just by checking out their character badges.</p>
            <p style="margin-left: 10%; margin-right: 10%; font-size: 18px; color: grey;">Badges are automatically created off of the statistical data provided directly from Bungie themselves. For more information on how players get their specific badges, check out the "About Badges" section in the slide-out navigation bar.</p>
        </div>
    </div>
    <div class="row ">
        <div class="col s12 m6 center-align">
            <br>

            <h3><span style="color: #522F65; font-weight: bold;">Account Badges</span> For The Loyal</h3>
            <p style="margin-left: 10%; margin-right: 10%; font-size: 18px; color: grey;">Account badges are separate from your "Player Analysis" badges and show more long-term accomplishments as well as reflect how active you are in the Destinder community. These badges are also documented in the "About Badges" section.</p>

        </div>
        <div class="col s12 m6 center-align">
            <br>
            <br>
            <br>
            <br>
            <%= image_tag "account-badges.jpg", class: "card-image z-depth-3 center-align" %>
        </div>

    </div>




</section>

<div class="parallax-container">
    <div class="parallax"><img src="https://images4.alphacoders.com/843/843847.jpg"></div>
</div>



<div class="container" style="width: 80%; padding-top: 5%;">
    <div class="row">
        <div class="col s12 center-align">
            <h1 class="center-align" id="home-header" style="font-weight: 500;">Social Media</h1>
            <hr>
            <br>

        </div>
        <!--Close Col-->
        <br>

        <div class="col s12 m6"><a class="twitter-timeline" data-height="760" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/Destinderdotcom">Tweets by Destinderdotcom</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col s12 m6">
            <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
                <div style="padding:8px;">
                    <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;">
                        <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div>
                    </div>
                    <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BY8RxR3AX_D/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Introducing fire team tagging! Now you can include the stats of other members in your fire team with your posts. Your team must have a destinder.com account in order to be included. Check it out now! #destiny #destiny2 #destinyhype</a></p>
                    <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Destinder LFG (@destinderdotcom) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-09-12T12:59:25+00:00">Sep 12, 2017 at 5:59am PDT</time></p>
                </div>
            </blockquote>
            <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
        </div>
    </div>
    <!--Close Row-->
</div>
<!--Close Container-->




<div class="parallax-container">
    <div class="parallax"><img src="https://cdn4.twinfinite.net/wp-content/uploads/2017/07/05_Preview.jpg"></div>
</div>






</div>




<div class="fixed-action-btn hide-on-small-only">
    <a class="btn-floating btn-large modal-trigger pulse" href="#home-modal">
        <i class="large material-icons hide-on-small-only" style="border-radius: 100%;">info</i>
    </a>
</div>

<div id="home-modal" class="modal">
    <div class="modal-content" style="color: black;">
        <h2 class="center-align">Welcome to Destinder</h2>
        <br>
        <p>Destinder was started as a fun way for a couple friends to learn how to Code. We, like many of you, used the popular websites to check stats and find groups but always became frustrated with the gap between them. Using one website to check stats
            and another website to find groups seemed silly. That's where the idea for Destinder was born. Why not build a site that utilizes the best parts of both?</p>
        <br>
        <h4 style="color: #88BBD6;">LFG</h4>
        <hr>
        <p>Our LFG is completely unigue. Insead of needing to find your stats and paste them into your LFG post, your stats are automatically brought in. The goal was "One Click Posting" and we feel we got as close as possible. The other advantage to this
            is that you never need to worry if people are lying about their stats. Everything is pulled straight from Bungie.
            <p>
                <br>
                <h4 style="color: #88BBD6;">Team Stats</h4>
                <hr>
                <p>Again, our flare on what we feel is important to the players. A quick overview of the opposing team when wanted and expandable, excess stats when needed. In addition to the typical content of loadouts and player stats, we introduced an
                    Account Badge system and a Player Analysis Badge system</p>
    </div>
</div>