<body>
<% if !current_user %>
    <%= link_to "Sign in with Bungie", user_bungie_omniauth_authorize_path %>

    
<% else %>
    <body data-gr-c-s-loaded="true">





<div class="container profile center">

    <div class="section profile-heading">
      <div class="columns">
        <div class="column is-2">
          <div class="image is-128x128 avatar">
         
            <%= image_tag( current_user["profile_picture"])%>
            
          </div>
        </div>
        <div class="column is-4 name white-text">
          <p>
            <span class="title is-bold">
            <% if !current_user["xbox_display_name"].nil? %>
                <strong><%= current_user["xbox_display_name"] %></strong>
                <% elsif !current_user["psn_display_name"].nil? %>
                    <%= current_user["psn_display_name"] %>
                        <% end %>
                        </span>
            <span class="button is-primary is-outlined follow"><% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-item is-tab'  %>
    <% end %></span>
          </p>
          <hr/>
          <br/>
          <div class="columns">
  <div class="column center white-text">
    Gun Game<br/>
    <span class="tag is-primary">Sniper</span><br/>
            <span class="tag is-info">Marksman</span> <br/>
            
  </div>
  <div class="column center white-text">
    Play Style<br/>
            <span class="tag is-primary">Camper</span><br/>
            <span class="tag is-info">Sticky Nades</span> <br/>
            <span class="tag is-success">Clutch</span><br/>
            
  </div>
  <div class="column center white-text">
    Trials<br/>
            <span class="tag is-primary"> Sherpa </span><br/>
            <span class="tag is-success">Card Resets</span><br/>
            <span class="tag is-warning"> Top 100 </span>
  </div>

  <div class="column center white-text">
    Raids<br/>
            <span class="tag is-primary">Experienced</span><br/>
            <span class="tag is-success">Sherpa</span><br/>
            
  </div>
</div>
        </div>
        <div class="column is-2 followers has-text-centered white-text">
          <p class="stat-val">129</p>
          <p class="stat-key">followers</p>
        </div>
        <div class="column is-2 following has-text-centered white-text">
          <p class="stat-val">17</p>
          <p class="stat-key">following</p>
        </div>
        <hr/>
        <div class="column is-2 likes has-text-centered white-text">
          <p class="stat-val">
          
          </p>
          <p class="stat-key"></p>
        </div>
      </div>
    </div>
    <div class="profile-options">
      <div class="tabs is-fullwidth white-text">
        <ul>
          <li class="link is-active"><%= link_to "Home",    root_path, class: "nav-item is-tab" %></li>
          <li class="link"><%= link_to "Trials Team Look-up",    new_player_stat_path, class: "nav-item is-tab" %></li>
          <li class="link"><%= link_to "LFG",    microposts_path, class: "nav-item is-tab" %></li>
          
          

          
        </ul>
      </div>
    </div>










  

<div class="columns">
  <div class="column min-card-size">
      <br/>
<br/>
      
      <div class="card">
  <div class="card-image card-image-fix">
    <figure class="image is-4by3">
      <img src="http://cdn.images.express.co.uk/img/dynamic/143/590x/Destiny-Update-637995.jpg" alt="Image">
    </figure>
  </div>
  <div class="card-content">
   
      
      

    <div class="content">
      <div class="box box-fix">
      <strong>Quick PVP LFG Post</strong>
      <!-- Main container -->
      <nav class="level">
        <!-- Left side -->
        <div class="level-left">
          <div class="level-item">
            <p class="subtitle is-5">
              
            </p>
          </div>
          <div class="level-item">
            
    <div class="block">
      <div class="field has-addons">
        <p class="control">
          <span class="select">
            <select>
              <option>Hunter</option>
              <option>Warlock</option>
              <option>Titan</option>
            </select>
          </span>
        </p>
        <p class="control">
          <input type="text" class="input" placeholder="Looking for...">
        </p>
        <p class="control">
          <a href="" class="button is-primary">Post</a>
        </p>
      </div>
      </div>
      </div>
      </div>
      </div>

      <div class="box box-fix">
      <strong>Quick Guardian Lookup</strong>
      <div class="level-left">
          <div class="level-item">
            <p class="subtitle is-5">
              
            </p>
          </div>
          <div class="level-item">
            <div class="block">
                <%= form_for(PlayerStat.new) do |f| %>
                    <div class="field has-addons">
                    <p class="control">
                        <span class="select">
                            <%= f.select :membership_type, [["PS4", "2"], ["XB1", "1"]]%>
                        </span>
                    </p>
                    <p class="control">
                        <%= f.text_field :display_name, class: "input", placeholder: "Gamertag" %>
                    </p>
                    <p class="control">
                        <%= f.submit "Search", class: "button is-primary" %>
                    </p>
                    </div>
                <% end %>
            </div>
        </div>
        </div
        </div>
        </div>
    












    </div>
  </div>
</div>
    
  </div>

<br/>
<br/>
<br/>



    <div class="column is-two-thirds">

    <br/>
<br/>

    
<div class="scroller">
  <div><div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/608110_bf3ab3890d6f80ee23ca8373ac6dd400.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Trials of Osiris</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
                        <small>ELO:<progress class="progress is-primary" value="30" max="100">30%</progress></small>
      <small>Week K/D: <progress class="progress is-warning" value="75" max="100">75%</progress></small>
      <small>Year K/D: <progress class="progress is-info" value="45" max="100">45%</progress></small>


                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
            </div>
  <div><div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/608060_90735357125467ced4bf92050b837bdb.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Skirmish</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
                        <small>ELO: <progress class="progress is-primary" value="30" max="100">30%</progress></small>
      <small>Week K/D: <progress class="progress is-warning" value="75" max="100">75%</progress></small>
      <small>Year K/D: <progress class="progress is-info" value="45" max="100">45%</progress></small>


                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div></div>
  <div><div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/608040_0345930d810aad789428e1db40b76607.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Clash</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">

                        <small>ELO: <progress class="progress is-primary" value="30" max="100">30%</progress></small>
      <small>Week K/D: <progress class="progress is-warning" value="75" max="100">75%</progress></small>
      <small>Year K/D: <progress class="progress is-info" value="45" max="100">45%</progress></small>


                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div></div>
  <div><div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/608030_4fc0099ad9cb09c370cac6f2c23e70e5.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Control</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
                        <small>ELO: <progress class="progress is-primary" value="30" max="100">30%</progress></small>
      <small>Week K/D: <progress class="progress is-warning" value="75" max="100">75%</progress></small>
      <small>Year K/D: <progress class="progress is-info" value="45" max="100">45%</progress></small>


                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div></div>
  <div><div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/608050_53b8fe302c37c0cae8547365808eefbc.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Rumble</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">

                        <small>ELO: <progress class="progress is-primary" value="30" max="100">30%</progress></small>
      <small>Week K/D: <progress class="progress is-warning" value="75" max="100">75%</progress></small>
      <small>Year K/D: <progress class="progress is-info" value="45" max="100">45%</progress></small>


                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
            </div>
  <div><div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/608070_5d63e19efa4de0eec7fe04d33fcec26c.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Salvage</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
                        <small>ELO: <progress class="progress is-primary" value="30" max="100">30%</progress></small>
      <small>Week K/D: <progress class="progress is-warning" value="75" max="100">75%</progress></small>
      <small>Year K/D: <progress class="progress is-info" value="45" max="100">45%</progress></small>


                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div></div>
  <div><div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/701670_70682eb13abe4d6ef559d8fdf57938cb.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Rift</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
<small>ELO: <progress class="progress is-primary" value="30" max="100">30%</progress></small>
      <small>Week K/D: <progress class="progress is-warning" value="75" max="100">75%</progress></small>
      <small>Year K/D: <progress class="progress is-info" value="45" max="100">45%</progress></small>


                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div></div>
  <div><div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/609012_9be94f7df388334196c5710cbfa381ef.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Doubles</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
                        <small>ELO: <progress class="progress is-primary" value="30" max="100">30%</progress></small>
      <small>Week K/D: <progress class="progress is-warning" value="75" max="100">75%</progress></small>
      <small>Year K/D: <progress class="progress is-info" value="45" max="100">45%</progress></small>


                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div></div>
</div>  


  </div>
</div>







<hr/>
<br/>





<div class="columns">
  <div class="column min-card-size">
      <br/>
<br/>
      
      <div class="card">
  <div class="card-image card-image-fix">
    <figure class="image is-4by3">
      <img src="http://cdn.ipetitions.com/user-images/petitions/destiny-matchmaking-for-raids/DdZIbBi2TnqN0tgj4qMP_destiny___raid_icon_by_overwatchgraphics-d7og5cu-1024x1024.png" alt="Image">
    </figure>
  </div>
  <div class="card-content">
   
      
      

    <div class="content">
      <div class="box box-fix">
      <strong>Quick Raid LFG Post</strong>
      <!-- Main container -->
      <nav class="level">
        <!-- Left side -->
        <div class="level-left">
          <div class="level-item">
            <p class="subtitle is-5">
              
            </p>
          </div>
          <div class="level-item">
            
    <div class="block">
      <div class="field has-addons">
        <p class="control">
          <span class="select">
            <select>
              <option>Hunter</option>
              <option>Warlock</option>
              <option>Titan</option>
            </select>
          </span>
        </p>
        <p class="control">
          <input type="text" class="input" placeholder="Looking for...">
        </p>
        <p class="control">
          <a href="" class="button is-primary">Post</a>
        </p>
      </div>
      </div>
      </div>
      </div>
      </div>

      <div class="box box-fix">
      <strong>Quick Guardian Lookup</strong>
      <div class="level-left">
          <div class="level-item">
            <p class="subtitle is-5">
              
            </p>
          </div>
          <div class="level-item">
            <div class="block">
                <%= form_for(PlayerStat.new) do |f| %>
                    <div class="field has-addons">
                    <p class="control">
                        <span class="select">
                            <%= f.select :membership_type, [["PS4", "2"], ["XB1", "1"]]%>
                        </span>
                    </p>
                    <p class="control">
                        <%= f.text_field :display_name, class: "input", placeholder: "Gamertag" %>
                    </p>
                    <p class="control">
                        <%= f.submit "Search", class: "button is-primary" %>
                    </p>
                    </div>
                <% end %>
            </div>
        </div>
        </div
        </div>
        </div>
    












    </div>
  </div>
</div>
    
  </div>

<br/>
<br/>
<br/>



    <div class="column is-two-thirds">

    <br/>
<br/>

    
<div class="scroller">
  <div><div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603020_48f6873d1f28fe3ff5cd4456cbfa4317.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603010_882a18b213fd28804f5637349b57323a.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Vault of Glass</p>
                            <p class="subtitle is-6">Raid</p>
                        </div>
                    </div>

                    <div class="content">
                        <small>Hunter: <progress class="progress is-primary" value="30" max="100">30%</progress></small>
      <small>Warlock: <progress class="progress is-warning" value="75" max="100">75%</progress></small>
      <small>Titan: <progress class="progress is-info" value="45" max="100">45%</progress></small>


                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div></div>
  <div><div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603035_fb80c081ae7a6e6896dd16e4ae4b36a6.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603010_882a18b213fd28804f5637349b57323a.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Crota's End</p>
                            <p class="subtitle is-6">Raid</p>
                        </div>
                    </div>

                    <div class="content">
                        <small>Hunter: <progress class="progress is-primary" value="30" max="100">30%</progress></small>
      <small>Warlock: <progress class="progress is-warning" value="75" max="100">75%</progress></small>
      <small>Titan: <progress class="progress is-info" value="45" max="100">45%</progress></small>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div></div>
  <div><div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/701660_fa0208b0ee741963365484a9cf4b3923.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603010_882a18b213fd28804f5637349b57323a.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">King's Fall</p>
                            <p class="subtitle is-6">Raid</p>
                        </div>
                    </div>

                    <div class="content">
                       <small>Hunter: <progress class="progress is-primary" value="30" max="100">30%</progress></small>
      <small>Warlock: <progress class="progress is-warning" value="75" max="100">75%</progress></small>
      <small>Titan: <progress class="progress is-info" value="45" max="100">45%</progress></small>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>




                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>




                </footer>
            </div></div>
  <div><div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/800443_93a4a02f080f47e680c2b0a5fc1aba6f.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603010_882a18b213fd28804f5637349b57323a.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Wrath of the Machine</p>
                            <p class="subtitle is-6">Raid</p>
                        </div>
                    </div>

                    <div class="content">
                       <small>Hunter: <progress class="progress is-primary" value="30" max="100">30%</progress></small>
      <small>Warlock: <progress class="progress is-warning" value="75" max="100">75%</progress></small>
      <small>Titan: <progress class="progress is-info" value="45" max="100">45%</progress></small>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>


                </footer>
            </div></div>
</div>  


  </div>
</div>

  
  
  











<% end %>