<% content_for :head do %>
  <meta charset="UTF-8">
  <meta name="description" content="Kota was here">
<% end %>

<body>
<% if !current_user %>
    <%= link_to "Sign in with Bungie", user_bungie_omniauth_authorize_path %>

    
<% else %>
    <body data-gr-c-s-loaded="true">





<div class="container profile center">
    <div class="profile-options">
      <div class="tabs is-fullwidth white-text">
        <ul>
          <li class="link is-active"><%= link_to "Home",    root_path, class: "nav-item is-tab" %></li>
          <li class="link"><%= link_to "Trials Team Look-up",    new_player_stat_path, class: "nav-item is-tab" %></li>
          <li class="link"><%= link_to "LFG",    microposts_path, class: "nav-item is-tab" %></li>
          
          

          
        </ul>
      </div>
    </div>










  

<div class="columns">
  <div class="column min-card-size">
      <br/>
<br/>
      
      <div class="card card-extender">
  <div class="card-image card-image-fix">
    <figure class="image is-4by3">
      <img src="http://cdn.images.express.co.uk/img/dynamic/143/590x/Destiny-Update-637995.jpg" alt="Image">
    </figure>
  </div>
  <div class="card-content">
   
      
      

    <div class="content content-fix">
      <div class="box box-fix">
      <strong>PVP LFG Post</strong>
      <!-- Main container -->
      <nav class="level">
        <!-- Left side -->
        <div class="level-left">
          <div class="level-item">
            <p class="subtitle is-5">
              
            </p>
          </div>
          <div class="level-item">
            
    <div class="block">
      <div class="field has-addons">
        <p class="control">
          <span class="select">
            <select>
              <option>Hunter</option>
              <option>Warlock</option>
              <option>Titan</option>
            </select>
          </span>
        </p>
        <p class="control">
          <input type="text" class="input" placeholder="Looking for...">
        </p>
        <p class="control">
          <a href="" class="button is-primary">Post</a>
        </p>
      </div>
      </div>
      </div>
      </div>
      </div>

      <div class="box box-fix">
      <strong>Guardian Lookup</strong>
      <div class="level-left">
          <div class="level-item">
            <div class="block">
                <%= form_for(PlayerStat.new) do |f| %>
                    <div class="field has-addons">
                    <p class="control">
                        <span class="select">
                            <%= f.select :membership_type, [["PS4", "2"], ["XB1", "1"]]%>
                        </span>
                    </p>
                    <p class="control">
                        <%= f.text_field :display_name, class: "input", placeholder: "Gamertag" %>
                    </p>
                    <p class="control">
                        <%= f.submit "Search", class: "button is-primary" %>
                    </p>
                    </div>
                <% end %>
            </div>
        </div>
        </div
        </div>
        </div>
    












    </div>
  </div>
</div>
    
  </div>

<br/>
<br/>
<br/>



    <div class="column is-two-thirds">

    <br/>
<br/>

    
<div class="scroller">
  <div><div class="card card-extender">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://static.wixstatic.com/media/e155d7_4e26763b873945a18112781a3a01a816.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Trials of Osiris</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">

                                <hr>
                                    <table class="center full-width">
                                    <tbody class="center">
                                    <tr class="center red-text">
                                        <th class="center">ELO</th>
                                        <th class="center">Week KD</th>
                                        <th class="center">Flawless</th>
                                        <th class="center">Streak</th>
                                    </tr>   
                                    <tr class="center">
                                        <td class="center">N/A</td>
                                        <td class="center">1.45</td>
                                        <td class="center">2x</td>
                                        <td class="center">4</td>
                                    </tr>
                                    </tbody>
                                    </table>
                                    <hr/>

                            <div class="columns">
                                <div class="column">
                                    <small>Hunter K/D<progress class="progress is-danger" value="30" max="100">30%</progress></small>
                                    <small>Warlock K/D: <progress class="progress is-danger" value="75" max="100">75%</progress></small>
                                    <small>Titan K/D: <progress class="progress is-danger" value="45" max="100">45%</progress></small>
                                </div>
                                <div class="column">
                                    <small>ELO:<progress class="progress is-info" value="30" max="100">30%</progress></small>
                                    <small>Week K/D: <progress class="progress is-info" value="75" max="100">75%</progress></small>
                                    <small>Year K/D: <progress class="progress is-info" value="45" max="100">45%</progress></small>
                                </div>
                            
                                
                            </div>


                        







                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
            </div>
            
  <div><div class="card card-extender">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://destinyfaq.files.wordpress.com/2014/08/destiny-wallpaper-5.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Skirmish</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
                        <hr>
                                    <table class="center full-width">
                                    <tbody class="center">
                                    <tr class="center red-text">
                                        <th class="center">ELO</th>
                                        <th class="center">Week KD</th>
                                        <th class="center">Flawless</th>
                                        <th class="center">Streak</th>
                                    </tr>   
                                    <tr class="center">
                                        <td class="center">N/A</td>
                                        <td class="center">1.45</td>
                                        <td class="center">2x</td>
                                        <td class="center">4</td>
                                    </tr>
                                    </tbody>
                                    </table>
                                    <hr/>

                            <div class="columns">
                                <div class="column">
                                    <small>Hunter K/D<progress class="progress is-danger" value="30" max="100">30%</progress></small>
                                    <small>Warlock K/D: <progress class="progress is-danger" value="75" max="100">75%</progress></small>
                                    <small>Titan K/D: <progress class="progress is-danger" value="45" max="100">45%</progress></small>
                                </div>
                                <div class="column">
                                    <small>ELO:<progress class="progress is-info" value="30" max="100">30%</progress></small>
                                    <small>Week K/D: <progress class="progress is-info" value="75" max="100">75%</progress></small>
                                    <small>Year K/D: <progress class="progress is-info" value="45" max="100">45%</progress></small>
                                </div>
                            
                                
                            </div>


                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div></div>
  <div><div class="card card-extender">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="http://i.imgur.com/EEcR5zh.png" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Clash</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">

                        <hr>
                                    <table class="center full-width">
                                    <tbody class="center">
                                    <tr class="center red-text">
                                        <th class="center">ELO</th>
                                        <th class="center">Week KD</th>
                                        <th class="center">Flawless</th>
                                        <th class="center">Streak</th>
                                    </tr>   
                                    <tr class="center">
                                        <td class="center">N/A</td>
                                        <td class="center">1.45</td>
                                        <td class="center">2x</td>
                                        <td class="center">4</td>
                                    </tr>
                                    </tbody>
                                    </table>
                                    <hr/>

                            <div class="columns">
                                <div class="column">
                                    <small>Hunter K/D<progress class="progress is-danger" value="30" max="100">30%</progress></small>
                                    <small>Warlock K/D: <progress class="progress is-danger" value="75" max="100">75%</progress></small>
                                    <small>Titan K/D: <progress class="progress is-danger" value="45" max="100">45%</progress></small>
                                </div>
                                <div class="column">
                                    <small>ELO:<progress class="progress is-info" value="30" max="100">30%</progress></small>
                                    <small>Week K/D: <progress class="progress is-info" value="75" max="100">75%</progress></small>
                                    <small>Year K/D: <progress class="progress is-info" value="45" max="100">45%</progress></small>
                                </div>
                            
                                
                            </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div></div>
  <div><div class="card card-extender">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="http://i.imgur.com/oHteZCa.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Control</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
                       <hr>
                                    <table class="center full-width">
                                    <tbody class="center">
                                    <tr class="center red-text">
                                        <th class="center">ELO</th>
                                        <th class="center">Week KD</th>
                                        <th class="center">Flawless</th>
                                        <th class="center">Streak</th>
                                    </tr>   
                                    <tr class="center">
                                        <td class="center">N/A</td>
                                        <td class="center">1.45</td>
                                        <td class="center">2x</td>
                                        <td class="center">4</td>
                                    </tr>
                                    </tbody>
                                    </table>
                                    <hr/>

                            <div class="columns">
                                <div class="column">
                                    <small>Hunter K/D<progress class="progress is-danger" value="30" max="100">30%</progress></small>
                                    <small>Warlock K/D: <progress class="progress is-danger" value="75" max="100">75%</progress></small>
                                    <small>Titan K/D: <progress class="progress is-danger" value="45" max="100">45%</progress></small>
                                </div>
                                <div class="column">
                                    <small>ELO:<progress class="progress is-info" value="30" max="100">30%</progress></small>
                                    <small>Week K/D: <progress class="progress is-info" value="75" max="100">75%</progress></small>
                                    <small>Year K/D: <progress class="progress is-info" value="45" max="100">45%</progress></small>
                                </div>
                            
                                
                            </div>

                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div></div>
  <div><div class="card card-extender">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="http://i.imgur.com/ry2j6gy.png" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Rumble</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">

                        <hr>
                                    <table class="center full-width">
                                    <tbody class="center">
                                    <tr class="center red-text">
                                        <th class="center">ELO</th>
                                        <th class="center">Week KD</th>
                                        <th class="center">Flawless</th>
                                        <th class="center">Streak</th>
                                    </tr>   
                                    <tr class="center">
                                        <td class="center">N/A</td>
                                        <td class="center">1.45</td>
                                        <td class="center">2x</td>
                                        <td class="center">4</td>
                                    </tr>
                                    </tbody>
                                    </table>
                                    <hr/>

                            <div class="columns">
                                <div class="column">
                                    <small>Hunter K/D<progress class="progress is-danger" value="30" max="100">30%</progress></small>
                                    <small>Warlock K/D: <progress class="progress is-danger" value="75" max="100">75%</progress></small>
                                    <small>Titan K/D: <progress class="progress is-danger" value="45" max="100">45%</progress></small>
                                </div>
                                <div class="column">
                                    <small>ELO:<progress class="progress is-info" value="30" max="100">30%</progress></small>
                                    <small>Week K/D: <progress class="progress is-info" value="75" max="100">75%</progress></small>
                                    <small>Year K/D: <progress class="progress is-info" value="45" max="100">45%</progress></small>
                                </div>
                            
                                
                            </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div>
            </div>
  <div><div class="card card-extender">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="http://pm1.narvii.com/5865/3f5d0880e6dad8ce85b5c05098387002a6e86a28_hq.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Salvage</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
                        <hr>
                                    <table class="center full-width">
                                    <tbody class="center">
                                    <tr class="center red-text">
                                        <th class="center">ELO</th>
                                        <th class="center">Week KD</th>
                                        <th class="center">Flawless</th>
                                        <th class="center">Streak</th>
                                    </tr>   
                                    <tr class="center">
                                        <td class="center">N/A</td>
                                        <td class="center">1.45</td>
                                        <td class="center">2x</td>
                                        <td class="center">4</td>
                                    </tr>
                                    </tbody>
                                    </table>
                                    <hr/>

                            <div class="columns">
                                <div class="column">
                                    <small>Hunter K/D<progress class="progress is-danger" value="30" max="100">30%</progress></small>
                                    <small>Warlock K/D: <progress class="progress is-danger" value="75" max="100">75%</progress></small>
                                    <small>Titan K/D: <progress class="progress is-danger" value="45" max="100">45%</progress></small>
                                </div>
                                <div class="column">
                                    <small>ELO:<progress class="progress is-info" value="30" max="100">30%</progress></small>
                                    <small>Week K/D: <progress class="progress is-info" value="75" max="100">75%</progress></small>
                                    <small>Year K/D: <progress class="progress is-info" value="45" max="100">45%</progress></small>
                                </div>
                            
                                
                            </div>

                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div></div>
  <div><div class="card card-extender">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="http://www.ingame.de/wp-content/blogs.dir/1/files/2015/02/Destiny-Liste-aller-Waffen-und-ihrer-Stats-fuer-PvP.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Rift</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
<hr>
                                    <table class="center full-width">
                                    <tbody class="center">
                                    <tr class="center red-text">
                                        <th class="center">ELO</th>
                                        <th class="center">Week KD</th>
                                        <th class="center">Flawless</th>
                                        <th class="center">Streak</th>
                                    </tr>   
                                    <tr class="center">
                                        <td class="center">N/A</td>
                                        <td class="center">1.45</td>
                                        <td class="center">2x</td>
                                        <td class="center">4</td>
                                    </tr>
                                    </tbody>
                                    </table>
                                    <hr/>

                            <div class="columns">
                                <div class="column">
                                    <small>Hunter K/D<progress class="progress is-danger" value="30" max="100">30%</progress></small>
                                    <small>Warlock K/D: <progress class="progress is-danger" value="75" max="100">75%</progress></small>
                                    <small>Titan K/D: <progress class="progress is-danger" value="45" max="100">45%</progress></small>
                                </div>
                                <div class="column">
                                    <small>ELO:<progress class="progress is-info" value="30" max="100">30%</progress></small>
                                    <small>Week K/D: <progress class="progress is-info" value="75" max="100">75%</progress></small>
                                    <small>Year K/D: <progress class="progress is-info" value="45" max="100">45%</progress></small>
                                </div>
                            
                                
                            </div>


                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div></div>
  <div><div class="card card-extender">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="http://assets.vg247.com/current//2015/02/destiny_doubles_skirmish.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://media.services.zam.com/v1/media/byName/common/destiny_content/icons/361235bb0cd9ae75ba98e77c1971db0f.jpg"
                                    alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Doubles</p>
                            <p class="subtitle is-6">Crucible</p>
                        </div>
                    </div>

                    <div class="content">
                        <hr>
                                    <table class="center full-width">
                                    <tbody class="center">
                                    <tr class="center red-text">
                                        <th class="center">ELO</th>
                                        <th class="center">Week KD</th>
                                        <th class="center">Flawless</th>
                                        <th class="center">Streak</th>
                                    </tr>   
                                    <tr class="center">
                                        <td class="center">N/A</td>
                                        <td class="center">1.45</td>
                                        <td class="center">2x</td>
                                        <td class="center">4</td>
                                    </tr>
                                    </tbody>
                                    </table>
                                    <hr/>

                            <div class="columns">
                                <div class="column">
                                    <small>Hunter K/D<progress class="progress is-danger" value="30" max="100">30%</progress></small>
                                    <small>Warlock K/D: <progress class="progress is-danger" value="75" max="100">75%</progress></small>
                                    <small>Titan K/D: <progress class="progress is-danger" value="45" max="100">45%</progress></small>
                                </div>
                                <div class="column">
                                    <small>ELO:<progress class="progress is-info" value="30" max="100">30%</progress></small>
                                    <small>Week K/D: <progress class="progress is-info" value="75" max="100">75%</progress></small>
                                    <small>Year K/D: <progress class="progress is-info" value="45" max="100">45%</progress></small>
                                </div>
                            
                                
                            </div>

                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div></div>
</div>  


  </div>
</div>







<hr/>






<div class="columns">
  <div class="column min-card-size">
      <br/>
<br/>
      
      <div class="card card-extender">
  <div class="card-image card-image-fix">
    <figure class="image is-4by3">
      <img src="http://cdn.ipetitions.com/user-images/petitions/destiny-matchmaking-for-raids/DdZIbBi2TnqN0tgj4qMP_destiny___raid_icon_by_overwatchgraphics-d7og5cu-1024x1024.png" alt="Image">
    </figure>
  </div>
  <div class="card-content">
   
      
      

    <div class="content content-fix">
      <div class="box box-fix">
      <strong>Raid LFG Post</strong>
      <!-- Main container -->
      <nav class="level">
        <!-- Left side -->
        <div class="level-left">
          <div class="level-item">
            <p class="subtitle is-5">
              
            </p>
          </div>
          <div class="level-item">
            
    <div class="block">
      <div class="field has-addons">
        <p class="control">
          <span class="select">
            <select>
              <option>Hunter</option>
              <option>Warlock</option>
              <option>Titan</option>
            </select>
          </span>
        </p>
        <p class="control">
          <input type="text" class="input" placeholder="Looking for...">
        </p>
        <p class="control">
          <a href="" class="button is-primary">Post</a>
        </p>
      </div>
      </div>
      </div>
      </div>
      </div>

      <div class="box box-fix">
      <strong>Guardian Lookup</strong>
      <div class="level-left">
          <div class="level-item">
            <p class="subtitle is-5">
              
            </p>
          </div>
          <div class="level-item">
            <div class="block">
                <%= form_for(PlayerStat.new) do |f| %>
                    <div class="field has-addons">
                    <p class="control">
                        <span class="select">
                            <%= f.select :membership_type, [["PS4", "2"], ["XB1", "1"]]%>
                        </span>
                    </p>
                    <p class="control">
                        <%= f.text_field :display_name, class: "input", placeholder: "Gamertag" %>
                    </p>
                    <p class="control">
                        <%= f.submit "Search", class: "button is-primary" %>
                    </p>
                    </div>
                <% end %>
            </div>
        </div>
        </div
        </div>
        </div>
    












    </div>
  </div>
</div>
    
  </div>

<br/>




    <div class="column is-two-thirds">

    <br/>
<br/>

    
<div class="scroller">
  <div><div class="card card-extender">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603020_48f6873d1f28fe3ff5cd4456cbfa4317.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603010_882a18b213fd28804f5637349b57323a.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Vault of Glass</p>
                            <p class="subtitle is-6">Raid</p>
                        </div>
                    </div>

                    <div class="content">
                        <hr>
                                    <table class="center full-width">
                                    <tbody class="center">
                                    <tr class="center red-text">
                                        <th class="center">ELO</th>
                                        <th class="center">Week KD</th>
                                        <th class="center">Flawless</th>
                                        <th class="center">Streak</th>
                                    </tr>   
                                    <tr class="center">
                                        <td class="center">N/A</td>
                                        <td class="center">1.45</td>
                                        <td class="center">2x</td>
                                        <td class="center">4</td>
                                    </tr>
                                    </tbody>
                                    </table>
                                    <hr/>

                            <div class="columns">
                                <div class="column">
                                    <small>Hunter K/D<progress class="progress is-danger" value="30" max="100">30%</progress></small>
                                    <small>Warlock K/D: <progress class="progress is-danger" value="75" max="100">75%</progress></small>
                                    <small>Titan K/D: <progress class="progress is-danger" value="45" max="100">45%</progress></small>
                                </div>
                                <div class="column">
                                    <small>ELO:<progress class="progress is-info" value="30" max="100">30%</progress></small>
                                    <small>Week K/D: <progress class="progress is-info" value="75" max="100">75%</progress></small>
                                    <small>Year K/D: <progress class="progress is-info" value="45" max="100">45%</progress></small>
                                </div>
                            
                                
                            </div>

                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div></div>
  <div><div class="card card-extender">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603035_fb80c081ae7a6e6896dd16e4ae4b36a6.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603010_882a18b213fd28804f5637349b57323a.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Crota's End</p>
                            <p class="subtitle is-6">Raid</p>
                        </div>
                    </div>

                    <div class="content">
                        <hr>
                                    <table class="center full-width">
                                    <tbody class="center">
                                    <tr class="center red-text">
                                        <th class="center">ELO</th>
                                        <th class="center">Week KD</th>
                                        <th class="center">Flawless</th>
                                        <th class="center">Streak</th>
                                    </tr>   
                                    <tr class="center">
                                        <td class="center">N/A</td>
                                        <td class="center">1.45</td>
                                        <td class="center">2x</td>
                                        <td class="center">4</td>
                                    </tr>
                                    </tbody>
                                    </table>
                                    <hr/>

                            <div class="columns">
                                <div class="column">
                                    <small>Hunter K/D<progress class="progress is-danger" value="30" max="100">30%</progress></small>
                                    <small>Warlock K/D: <progress class="progress is-danger" value="75" max="100">75%</progress></small>
                                    <small>Titan K/D: <progress class="progress is-danger" value="45" max="100">45%</progress></small>
                                </div>
                                <div class="column">
                                    <small>ELO:<progress class="progress is-info" value="30" max="100">30%</progress></small>
                                    <small>Week K/D: <progress class="progress is-info" value="75" max="100">75%</progress></small>
                                    <small>Year K/D: <progress class="progress is-info" value="45" max="100">45%</progress></small>
                                </div>
                            
                                
                            </div>


                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>



                </footer>
            </div></div>
  <div><div class="card card-extender">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/701660_fa0208b0ee741963365484a9cf4b3923.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603010_882a18b213fd28804f5637349b57323a.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">King's Fall</p>
                            <p class="subtitle is-6">Raid</p>
                        </div>
                    </div>

                    <div class="content">
                       <hr>
                                    <table class="center full-width">
                                    <tbody class="center">
                                    <tr class="center red-text">
                                        <th class="center">ELO</th>
                                        <th class="center">Week KD</th>
                                        <th class="center">Flawless</th>
                                        <th class="center">Streak</th>
                                    </tr>   
                                    <tr class="center">
                                        <td class="center">N/A</td>
                                        <td class="center">1.45</td>
                                        <td class="center">2x</td>
                                        <td class="center">4</td>
                                    </tr>
                                    </tbody>
                                    </table>
                                    <hr/>

                            <div class="columns">
                                <div class="column">
                                    <small>Hunter K/D<progress class="progress is-danger" value="30" max="100">30%</progress></small>
                                    <small>Warlock K/D: <progress class="progress is-danger" value="75" max="100">75%</progress></small>
                                    <small>Titan K/D: <progress class="progress is-danger" value="45" max="100">45%</progress></small>
                                </div>
                                <div class="column">
                                    <small>ELO:<progress class="progress is-info" value="30" max="100">30%</progress></small>
                                    <small>Week K/D: <progress class="progress is-info" value="75" max="100">75%</progress></small>
                                    <small>Year K/D: <progress class="progress is-info" value="45" max="100">45%</progress></small>
                                </div>
                            
                                
                            </div>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>




                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>




                </footer>
            </div></div>
  <div><div class="card card-extender">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/800443_93a4a02f080f47e680c2b0a5fc1aba6f.jpg" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://www.bungie.net/common/destiny_content/grimoire/hr_images/603010_882a18b213fd28804f5637349b57323a.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Wrath of the Machine</p>
                            <p class="subtitle is-6">Raid</p>
                        </div>
                    </div>

                    <div class="content">
                       <hr>
                                    <table class="center full-width">
                                    <tbody class="center">
                                    <tr class="center red-text">
                                        <th class="center">ELO</th>
                                        <th class="center">Week KD</th>
                                        <th class="center">Flawless</th>
                                        <th class="center">Streak</th>
                                    </tr>   
                                    <tr class="center">
                                        <td class="center">N/A</td>
                                        <td class="center">1.45</td>
                                        <td class="center">2x</td>
                                        <td class="center">4</td>
                                    </tr>
                                    </tbody>
                                    </table>
                                    <hr/>

                            <div class="columns">
                                <div class="column">
                                    <small>Hunter K/D<progress class="progress is-danger" value="30" max="100">30%</progress></small>
                                    <small>Warlock K/D: <progress class="progress is-danger" value="75" max="100">75%</progress></small>
                                    <small>Titan K/D: <progress class="progress is-danger" value="45" max="100">45%</progress></small>
                                </div>
                                <div class="column">
                                    <small>ELO:<progress class="progress is-info" value="30" max="100">30%</progress></small>
                                    <small>Week K/D: <progress class="progress is-info" value="75" max="100">75%</progress></small>
                                    <small>Year K/D: <progress class="progress is-info" value="45" max="100">45%</progress></small>
                                </div>
                            
                                
                            </div>



                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">Share Stats</a>
                    <a class="openmodal card-footer-item">Post to LFG</a>

                    <!-- The Modal -->
                    <div class="modal myModal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="block">
                                <%= render 'shared/modal_micropost_form' %>
                            </div>
                        </div>
                    </div>


                </footer>
            </div></div>
</div>  


  </div>
</div>

  
  
  











<% end %>