<% content_for :head do %>
<meta charset="UTF-8">
<meta name="description" content="Kota was here">
<% end %>

<body>
<% if !current_user %>
<%= link_to "Sign in with Bungie", user_bungie_omniauth_authorize_path %>
<% else %>


<body data-gr-c-s-loaded="true">

  <div class="container">

<div class="parralax-1 hide-on-small-only">
<div class="logo-name align-right right-align">Destinder<br/><%= image_tag 'destiny-logo.png', class:"nav-logo" %></div>
</div>

<% info = @stats %>

<% username = current_user.display_name %>
<% @character_races = {0 => "Titan", 1 => "Hunter", 2 => "Warlock"} %>


<div class="row"><!--open of main row-->




  <div class="col s12 m3 hide-on-small-only"><!--Open of Character Column-->

    <div id="player-container">

                        <div class="row">
                          <div class="col s12"><img class="emblem-background" src=<%= info[0]["Character Items"]["Emblem Background"] %> alt=""></div>
                        
                        </div>
                          
                      

                      <div class="row">
                          <div class="col s12 gamertag-title center-align valign-wrapper"><%= username %></div>
                          
                      </div>

                      <div class="row">
                          <div class="col s12"><img class="emblem-icon2" src=<%= info[0]["Character Items"]["Emblem"]["Item Icon"] %> alt=""></div>
                        
                    </div>




                      <div class="row"><!--Open Second row-->
            <div class="col s6 center-align valign-wrapper"><img class="gear-icons tooltipped" data-position="right" data-delay="50" data-tooltip="<%= info[0]["Character Items"]["Subclass"]["Item Name"] %>" src=<%= info[0]["Character Items"]["Subclass"]["Item Icon"] %> alt=""></div><!--Close Column-->
            
            <div class="col s6 center-align valign-wrapper"><img class="gear-icons tooltipped" data-position="right" data-delay="50" data-tooltip="<%= info[0]["Character Items"]["Helmet"]["Item Name"] %>" src=<%= info[0]["Character Items"]["Helmet"]["Item Icon"] %> alt=""></div><!--Close Column-->
            
        </div><!--Close Second Row-->
        
         
        <div class="row center-align"><!--Open Fourth row-->
            <div class="col s6 center-align valign-wrapper"><img class="gun-icons tooltipped" data-position="right" data-delay="50" data-tooltip="<%= info[0]["Character Items"]["Primary Weapon"]["Item Name"] %>" src=<%= info[0]["Character Items"]["Primary Weapon"]["Item Icon"] %> alt=""></div><!--Close Column-->
        
            <div class="col s6 center-align valign-wrapper"><img class="gear-icons tooltipped" data-position="right" data-delay="50" data-tooltip="<%= info[0]["Character Items"]["Gauntlets"]["Item Name"] %>" src=<%= info[0]["Character Items"]["Gauntlets"]["Item Icon"] %> alt=""></div><!--Close Column-->
        
       </div><!--Close Fourth Row-->

        <div class="row center-align"><!--Open Fifth row-->
        <div class="col s6 center-align valign-wrapper"><img class="gun-icons tooltipped" data-position="right" data-delay="50" data-tooltip="<%= info[0]["Character Items"]["Secondary Weapon"]["Item Name"] %>" src=<%= info[0]["Character Items"]["Secondary Weapon"]["Item Icon"] %> alt=""></div><!--Close Column-->
       
        <div class="col s6 center-align valign-wrapper"><img class="gear-icons tooltipped" data-position="right" data-delay="50" data-tooltip="<%= info[0]["Character Items"]["Leg Armor"]["Item Name"] %>" src=<%= info[0]["Character Items"]["Leg Armor"]["Item Icon"] %> alt=""></div><!--Close Column-->
       
        </div><!--Close Fifth Row-->

        <div class="row center-align"><!--Open Sixth row-->
            <div class="col s6 center-align valign-wrapper"><img class="gun-icons tooltipped" data-position="right" data-delay="50" data-tooltip="<%= info[0]["Character Items"]["Heavy Weapon"]["Item Name"] %>" src=<%= info[0]["Character Items"]["Heavy Weapon"]["Item Icon"] %> alt=""></div><!--Close Column-->
            
            <div class="col s6 center-align valign-wrapper"><img class="gear-icons tooltipped" data-position="right" data-delay="50" data-tooltip="<%= info[0]["Character Items"]["Artifact"]["Item Name"] %>" src=<%= info[0]["Character Items"]["Artifact"]["Item Icon"] %> alt=""></div><!--Close Column-->
            
        </div><!--Close Sixth Row-->

        <hr/>
                        



    </div>
    
  
  </div><!--close of character column-->
















  <div class="col s12 m9"><!--Open of Index Column-->
    
  <br/>

<div class="row">



<div class="col s12 m6 home-page-padding">

      <div class="row">
          <div class="col s12 center-align">
            <h4 class="center-align">Weekly's</h4>
            <hr>
          </div>
          </div>
          <div class="shadow-effect height-fix">
          <div class="row center-align"> 
              
              <div class="col s6">
                          <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn modal-trigger button-width-fix" href="#trials1">Trials</a>

              <!-- Modal Structure -->
              <div id="trials1" class="modal">
                <div class="modal-content">
                  <h4>Trials Map</h4>
                  
                </div>
              </div>
                      

          </div>

          <div class="col s6">
                          <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn modal-trigger button-width-fix" href="#raid1">Raid</a>

              <!-- Modal Structure -->
              <div id="raid1" class="modal">
                <div class="modal-content">
                  <h4>Featured Raid</h4>
                  
                </div>
              </div>
                      

          </div>

          </div><!--END OF ROW-->




          <div class="row center-align">

          <div class="col s6">
                          <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn modal-trigger button-width-fix" href="#nightfall1">Nightfall</a>

              <!-- Modal Structure -->
              <div id="nightfall1" class="modal">
                <div class="modal-content">
                  <h4>Nightfall Map</h4>
                  
                </div>
              </div>
                      

          </div>

          <div class="col s6">
                          <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn modal-trigger button-width-fix" href="#crucible1">Crucible</a>

              <!-- Modal Structure -->
              <div id="crucible1" class="modal">
                <div class="modal-content">
                  <h4>Featured Playlist</h4>
                  
                </div>
              </div>
                      

          </div>

</div>



   <div class="row">
          <div class="col s12 center-align">
            <h4 class="center-align">Progress</h4>
            <hr>
          </div>
          </div>




<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4"><a class="active" href="#hunter">Hunter</a></li>
        <li class="tab col s4"><a href="#warlock">Warlock</a></li>
        <li class="tab col s4"><a href="#titan">Titan</a></li>
        
      </ul>
    </div>
    <div id="hunter" class="col s12">
<h5 class="center-align sub-title">PVP</h5>
<hr>
      <table class="center-algin">
        <tr class="center-algin">
          <th style="width: 40%;" class="center-algin"></th>
          <th style="width: 20%;" class="center-algin">K/D</th>
          <th style="width: 20%;" class="center-algin">KA/D</th>
          <th style="width: 20%;" class="center-algin">Flawless</th>
        </tr>
        <tr class="center-algin">
          <td class="center-algin">TRIALS</td>
          <td class="center-algin">1.45</td>
          <td class="center-algin">1.79</td>
          <td class="center-algin"><i class="material-icons">ciricle_check</i></td>
        </tr>
      </table>

<h5 class="center-align sub-title">Raids</h5>
<hr>
      <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#vault">Vault</a></li>
        <li class="tab col s3"><a href="#crota">Crota</a></li>
        <li class="tab col s3"><a href="#kf">Kings Fall</a></li>
        <li class="tab col s3"><a href="#wom">WoM</a></li>
      </ul>
    </div>


    <div id="vault" class="col s12">
      <div class="row center-align">
        <div class="col s6 center-align">Cleared?</div>
        <div class="col s6"><i class="material-icons center-align">circle_check</i></div>
      </div>

      <div class="row center-align">
        <div class="col s6 center-align">Progress</div>
        <div class="col s6">
        <div class="progress">
              <div class="indeterminate"></div>
          </div>

        </div>
      </div>
      

    </div>


    <div id="crota" class="col s12">


    </div>


    <div id="kf" class="col s12">


    </div>

    <div id="wom" class="col s12">


    </div>
  </div>





    </div>

    <div id="warlock" class="col s12">


    </div>
    <div id="titan" class="col s12">


    </div>
  </div>
  </div><!--Shadow-effect CLOSE-->




          
      </div><!--CLOSE OF COL-->


<div class="col s12 m6 home-page-padding">

  <div class="row">
      <div class="col s12 center-align">
        <h4 class="center-align">Recent News</h4>
        <hr>
      </div>

  </div>

  <div class="row shadow-effect">
    
    <div class="col s12">

<div class="row">
    <div class="col s12">
      <ul class="tabs button-width-fix">
        <li class="tab col s4"><a class="active" href="#twitter1">Bungie</a></li>
        <li class="tab col s4"><a href="#twitter2">Destiny</a></li>
         <li class="tab col s4"><a href="#twitter3">Destinder</a></li>
        
      </ul>
    </div>
    <div id="twitter1" class="col s12"><a class="twitter-timeline" data-height="600" data-width="100%" href="https://twitter.com/Bungie">Tweets by Bungie</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
    <div id="twitter2" class="col s12"><a class="twitter-timeline" data-height="600" data-theme="dark" href="https://twitter.com/DestinyTheGame">Tweets by DestinyTheGame</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
    <div id="twitter3" class="col s12"><a class="twitter-timeline" data-height="600" href="https://twitter.com/DestinyTheGame">Tweets by DestinyTheGame</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
    

</div>
    </div>
</div>

</div><!--CLOSE COL-->








  </div>

</div><!--CLOSE COL-->

</div><!--CLOSE ROW-->

       <hr/>
 <hr/>
 <br/>



                        <div class="row"><!--OPENING OF Images ROW-->

<div class="col s12 m3"><!--OPENING OF FIRST COLUMN-->
    <div class="row">
      <div class="row center-align"><div class="col s12">Trials Team Stats</div></div>
      <div class="col s12 center-align">

          <img src="https://static.wixstatic.com/media/e155d7_4e26763b873945a18112781a3a01a816.jpg/v1/fill/w_1600,h_900,al_c,q_85/e155d7_4e26763b873945a18112781a3a01a816.webp" alt="" class="homepage-images" >
          <div class="row center-align"><!--open buttom row-->
            <br/>
            <div class="col s4">
              <a class="btn-floating waves-effect waves-light amber lighten-1 modal-trigger"><i class="material-icons" href="#modal1">info</i></a>

                  <div id="modal1" class="modal">
                        <div class="modal-content">
                        <h3 class="center-align">Trials Team Search</h3>
                        <h6 class="Center-align">What Makes Us Different</h6>
                        <p>A bunch of text Explaining why we are cooler than everyone else</p>
                        </div>
                        <div class="modal-footer">
                        <a class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
                        </div>
                    </div><!--CLOSE MODAL-->
          
                      
            </div>
            <div class="col s4">
              <a class="btn-floating waves-effect waves-light amber lighten-1 modal-trigger"><i class="material-icons" href="#modal2">search</i></a>

                  <div id="modal2" class="modal">
                        <div class="modal-content">
                        <h3 class="center-align">Destiny LFG</h3>
                        <h6 class="Center-align">What Makes Us Different</h6>
                        <p>A bunch of text Explaining why we are cooler than everyone else</p>
                        </div>
                        <div class="modal-footer">
                        <a class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
                        </div>
                    </div><!--CLOSE MODAL-->
            </div>
            <div class="col s4">
             <a class="btn-floating waves-effect waves-light amber lighten-1 modal-trigger"><i class="material-icons" href="#modal3">list</i></a>

                  <div id="modal3" class="modal">
                        <div class="modal-content">
                        <h3 class="center-align">Profile Search</h3>
                        <h6 class="Center-align">What Makes Us Different</h6>
                        <p>A bunch of text Explaining why we are cooler than everyone else</p>
                        </div>
                        <div class="modal-footer">
                        <a class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
                        </div>
                    </div><!--CLOSE MODAL-->
            </div>
          </div><!--Close Button Row-->


  
   
      </div>
      </div>
      </div>






<div class="col s12 m3"><!--OPENING OF FIRST COLUMN-->
  <div class="row center-align"><div class="col s12">Destiny LFG</div></div>
    <div class="row">
      <div class="col s12">

          <img src="http://www.criticalhit.net/images/2017/05/Destiny-2-PvP-1.jpg" alt="" class="homepage-images">


          <div class="row center-align"><!--open buttom row-->
            <br/>
            <div class="col s4">
              <a class="btn-floating waves-effect waves-light deep-orange darken-3 modal-trigger"><i class="material-icons" href="#modal4">info</i></a>

                  <div id="modal4" class="modal">
                        <div class="modal-content">
                        <h3 class="center-align">Trials Team Search</h3>
                        <h6 class="Center-align">What Makes Us Different</h6>
                        <p>A bunch of text Explaining why we are cooler than everyone else</p>
                        </div>
                        <div class="modal-footer">
                        <a class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
                        </div>
                    </div><!--CLOSE MODAL-->
          
                      
            </div>
            <div class="col s4">
              <a class="btn-floating waves-effect waves-light deep-orange darken-3 modal-trigger"><i class="material-icons" href="#modal5">search</i></a>

                  <div id="modal5" class="modal">
                        <div class="modal-content">
                        <h3 class="center-align">Destiny LFG</h3>
                        <h6 class="Center-align">What Makes Us Different</h6>
                        <p>A bunch of text Explaining why we are cooler than everyone else</p>
                        </div>
                        <div class="modal-footer">
                        <a class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
                        </div>
                    </div><!--CLOSE MODAL-->
            </div>
            <div class="col s4">
             <a class="btn-floating waves-effect waves-light deep-orange darken-3 modal-trigger"><i class="material-icons" href="#modal6">list</i></a>

                  <div id="modal6" class="modal">
                        <div class="modal-content">
                        <h3 class="center-align">Profile Search</h3>
                        <h6 class="Center-align">What Makes Us Different</h6>
                        <p>A bunch of text Explaining why we are cooler than everyone else</p>
                        </div>
                        <div class="modal-footer">
                        <a class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
                        </div>
                    </div><!--CLOSE MODAL-->
            </div>
          </div><!--Close Button Row-->


      </div>
    </div><!--CLOSE OF NESTED ROW 1-->
    
</div><!--CLOSE OF FIRST COLUMN-->
















<div class="col s12 m3"><!--OPENING OF FIRST COLUMN-->
    <div class="row">
      <div class="row center-align"><div class="col s12">Profile Search</div></div>
      <div class="col s12">

          <img src="https://images4.alphacoders.com/666/thumb-1920-666407.png" alt="" class="homepage-images">

          <div class="row center-align"><!--open buttom row-->
            <br/>
            <div class="col s4">
              <a class="btn-floating waves-effect waves-light teal lighten-1 modal-trigger"><i class="material-icons" href="#modal4">info</i></a>

                  <div id="modal4" class="modal">
                        <div class="modal-content">
                        <h3 class="center-align">Trials Team Search</h3>
                        <h6 class="Center-align">What Makes Us Different</h6>
                        <p>A bunch of text Explaining why we are cooler than everyone else</p>
                        </div>
                        <div class="modal-footer">
                        <a class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
                        </div>
                    </div><!--CLOSE MODAL-->
          
                      
            </div>
            <div class="col s4">
              <a class="btn-floating waves-effect waves-light teal lighten-1 modal-trigger"><i class="material-icons" href="#modal5">search</i></a>

                  <div id="modal5" class="modal">
                        <div class="modal-content">
                        <h3 class="center-align">Destiny LFG</h3>
                        <h6 class="Center-align">What Makes Us Different</h6>
                        <p>A bunch of text Explaining why we are cooler than everyone else</p>
                        </div>
                        <div class="modal-footer">
                        <a class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
                        </div>
                    </div><!--CLOSE MODAL-->
            </div>
            <div class="col s4">
             <a class="btn-floating waves-effect waves-light teal lighten-1 modal-trigger"><i class="material-icons" href="#modal6">list</i></a>

                  <div id="modal6" class="modal">
                        <div class="modal-content">
                        <h3 class="center-align">Profile Search</h3>
                        <h6 class="Center-align">What Makes Us Different</h6>
                        <p>A bunch of text Explaining why we are cooler than everyone else</p>
                        </div>
                        <div class="modal-footer">
                        <a class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
                        </div>
                    </div><!--CLOSE MODAL-->
            </div>
          </div><!--Close Button Row-->


      </div>
    </div><!--CLOSE OF NESTED ROW 1-->
    
</div><!--CLOSE OF FIRST COLUMN-->




<div class="col s12 m3"><!--OPENING OF FIRST COLUMN-->
    <div class="row">
      <div class="row center-align"><div class="col s12">Clan Recruitment</div></div>
      <div class="col s12">

          <img src="http://gameranx.com/wp-content/uploads/2017/03/Destiny-2-1080P-Wallpaper-1024x576.jpg" alt="" class="homepage-images">

<div class="row center-align"><!--open buttom row-->
            <br/>
            <div class="col s4">
              <a class="btn-floating waves-effect waves-light grey darken-3 modal-trigger"><i class="material-icons" href="#modal4">info</i></a>

                  <div id="modal4" class="modal">
                        <div class="modal-content">
                        <h3 class="center-align">Trials Team Search</h3>
                        <h6 class="Center-align">What Makes Us Different</h6>
                        <p>A bunch of text Explaining why we are cooler than everyone else</p>
                        </div>
                        <div class="modal-footer">
                        <a class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
                        </div>
                    </div><!--CLOSE MODAL-->
          
                      
            </div>
            <div class="col s4">
              <a class="btn-floating waves-effect waves-light grey darken-3 modal-trigger"><i class="material-icons" href="#modal5">search</i></a>

                  <div id="modal5" class="modal">
                        <div class="modal-content">
                        <h3 class="center-align">Destiny LFG</h3>
                        <h6 class="Center-align">What Makes Us Different</h6>
                        <p>A bunch of text Explaining why we are cooler than everyone else</p>
                        </div>
                        <div class="modal-footer">
                        <a class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
                        </div>
                    </div><!--CLOSE MODAL-->
            </div>
            <div class="col s4">
             <a class="btn-floating waves-effect waves-light teal grey darken-3 modal-trigger"><i class="material-icons" href="#modal6">list</i></a>

                  <div id="modal6" class="modal">
                        <div class="modal-content">
                        <h3 class="center-align">Profile Search</h3>
                        <h6 class="Center-align">What Makes Us Different</h6>
                        <p>A bunch of text Explaining why we are cooler than everyone else</p>
                        </div>
                        <div class="modal-footer">
                        <a class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
                        </div>
                    </div><!--CLOSE MODAL-->
            </div>
          </div><!--Close Button Row-->


      </div>
    </div><!--CLOSE OF NESTED ROW 1-->
    
</div><!--CLOSE OF FIRST COLUMN-->



  </div><!--CLOSE OF MAIN ROW-->











  </div><!--close of Index column-->




</div><!--close of main row-->


<div class="parralax-2 hide-on-small-only"></div>
</div><!--end of container-->



<pre>
    <code><%= JSON.pretty_generate(info) %></code>
</pre> 

<% end %>