
    <% user_id = User.find_by(:display_name => micropost.user["display_name"]).id %>
    <% character_races = {0 => "Titan", 1 => "Hunter", 2 => "Warlock"} %>
    <% if micropost.user_stats.nil? %>
        <% case micropost.game_type 
           when "Trials of Osiris" %>
            <% stats = get_stats(micropost.user, "too")[0] %>
        <% when "Wrath of the Machine" %>
            <% puts "wrath" %>
            <% stats = get_stats(micropost.user, "wrath")[0] %>
        <% when "King's Fall" %>
            <% stats = get_stats(micropost.user, "kings")[0] %>
        <% when "Crota's End" %>
            <% stats = get_stats(micropost.user, "Crota's End")[0] %>
        <% when "Vault of Glass" %>
            <% stats = get_stats(micropost.user, "vog")[0] %>
        <% when "Nightfall" %>
            <% stats = get_stats(micropost.user, "night")[0] %>
        <% end %>
    <% else %>
        <% stats = micropost.user_stats %>
    <% end %>


    <% case stats["Character Stats"]["Subclass Name"] 
        when "Nightstalker", "Voidwalker", "Defender" %>
        <% subclass =  "background-image: url(#{image_path "void.png"});" %>
        <% text_color =  "color: #f5f5f5; font-size: 14px; text-shadow: none;" %>
    <% when "Sunsinger", "Gunslinger", "Sunbreaker" %>
        <% subclass =  "background-image: url(#{image_path "solar.png"});" %>
        <% text_color =  "color: #3a3a3a; font-size: 14px;" %>
    <% when "Bladedancer", "Striker", "Stormcaller" %>
        <% subclass =  "background-image: url(#{image_path "arc.png"});" %>
        <% text_color =  "color: #3a3a3a; font-size: 14px;" %>
    <% end %>

    <div class="col s12 m6 l4">
        <div id="<%= micropost.id %>">
            <div class="card-panel grey lighten-5 z-depth-1 hoverable" style="max-height: 400px;">
                <% bg = "background-image: url(#{stats['Character Stats']['Background']});" %>
                    <div class="post-header" style="<%= bg %>">
                        <div class="row" style="overflow: hidden; max-height: 65px; ">
                            <div class="col s3 left-align" style="padding: 0; height: 65px;"><%= image_tag stats["Character Stats"]["Emblem"], style:"max-width: calc(100% - 2.6em); min-width: 65px; position: relative; right: 3%; height: auto;" %></div>
                            <div class="col s6 center-align" style="height: 65px; color: white;"><%= link_to micropost.user["display_name"], user_path(user_id), style: "font-size: 1.5em; text-overflow: ellipsis; color: #f5f5f5; position: relative; top: 25%; font-weight: 400;" %></div>
                            <div class="col s3 center-align" style="height: 65px; color: white;">
                                <span style="color: gold; position: relative; top: 10%; line-height: 2.5em; font-weight: 300; font-size: 0.9em;">✦ <%= stats["Character Stats"]["Light Level"] %> </span>
                                <span style ="font-weight: 300; font-size: 0.9em;"><%= character_races[stats["Character Type"]] %></span>
                            </div>
                        </div>
                    </div>
                <div class="card-content" style="padding-top: 25px;">
                    <br>
                     
                    <span>
                        <b><%= micropost.game_type %> <%= micropost.raid_difficulty %></b>
                        <br><small> <%= time_ago_in_words(micropost.created_at) %> ago</small>
                    </span>
                


                <br><br>    
                <div class="row valign-wrapper">
                    <!-- <div class="col s2">
                        <%= image_tag micropost.user.profile_picture, class: "circle responsive-img", style: "margin-left: -50%;" %>
                    </div> -->
                    <div class="col s12">
                        <% if micropost.content.length > 34 %>
                            <span class="black-text tooltipped" style="margin-left: -6%;white-space: nowrap; display: block;" data-position="top" data-delay="50" data-tooltip="<%= micropost.content %>">
                                <%= micropost.content %>
                            </span>
                        <% else %>
                            <span class="black-text truncate" style="margin-left: -6%;">
                                <%= micropost.content %>
                            </span>
                        <% end %> 
                    </div>
                </div>
                <% if micropost.game_type == "Trials of Osiris" %>
                    <div class="card-tabs">
                        <ul class="tabs post post-tabs" style='<%= subclass %>'>
                            <li class="tab post" ><a href="#<%= micropost.id %>-yearly" class="tab-card-link" style='<%= text_color %>'>Year</a></li>
                            <li class="tab post disabled tooltipped" data-position="top" data-delay="50" data-tooltip="Coming soon!"><a href="#<%= micropost.id %>-weekly" class="tab-card-link" style='<%= text_color %>'>Week</a></li>
                            <li class="tab post disabled tooltipped" data-position="top" data-delay="50" data-tooltip="Coming soon!"><a href="#<%= micropost.id %>-map" class="tab-card-link" style='<%= text_color %>'>Map</a></li>
                        </ul>
                    </div>
                    <div class="card-content grey lighten-4">
                        <div id="<%= micropost.id %>-yearly">

                                <table class="table centered highlight">
                                    <thead>
                                        <tr>
                                            <th>K/D</th>
                                            <th>KA/D</th>
                                            <th>Win Rate</th>
                                            <th class= "tooltipped" data-position="top" data-delay="50" data-tooltip="Based on guardian.gg's ELO ranking system" >
                                                ELO  <i class="fa fa-question-circle"></i>
                                            </th>
                                        </tr>
                                    </thead>
                            
                                    <tbody>
                                        <tr>
                                            <td><%= stats["Character Stats"]["K/D Ratio"] %></td>
                                            <td><%= stats["Character Stats"]["KA/D Ratio"] %></td>
                                            <td><%= stats["Character Stats"]["Win Rate"] %>%</td>
                                            <td >
                                                <%= stats["Character Stats"]["ELO"] %>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>

                        <div id="<%= micropost.id %>-weekly">
                                <table class="table centered highlight">
                                    <thead>
                                        <tr>
                                            <th>K/D</th>
                                            <th>KA/D</th>
                                            <th>Win Rate</th>
                                            <th class= "tooltipped" data-position="top" data-delay="50" data-tooltip="Based on guardian.gg's ELO ranking system" >
                                                ELO  <i class="fa fa-question-circle"></i>
                                            </th>
                                        </tr>
                                    </thead>
                            
                                    <tbody>
                                        <tr>
                                        <td><%= stats["Character Stats"]["K/D Ratio"] %> W</td>
                                        <td><%= stats["Character Stats"]["KA/D Ratio"] %> W</td>
                                        <td><%= stats["Character Stats"]["Win Rate"] %>% W</td>
                                        <td><%= stats["Character Stats"]["ELO"] %> W</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                        <div id="<%= micropost.id %>-map">
                                <table class="table centered highlight">
                                    <thead>
                                        <tr>
                                            <th>K/D</th>
                                            <th>KA/D</th>
                                            <th>Win Rate</th>
                                            <th class= "tooltipped" data-position="top" data-delay="50" data-tooltip="Based on guardian.gg's ELO ranking system" >
                                                ELO  <i class="fa fa-question-circle"></i>
                                            </th>
                                        </tr>
                                    </thead>
                            
                                    <tbody>
                                        <tr>
                                        <td><%= stats["Character Stats"]["K/D Ratio"] %> M</td>
                                        <td><%= stats["Character Stats"]["KA/D Ratio"] %> M</td>
                                        <td><%= stats["Character Stats"]["Win Rate"] %>% M</td>
                                        <td><%= stats["Character Stats"]["ELO"] %> M</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                <% else %>
                    <div class="card-tabs" >
                        <ul class="tabs post tabs-fixed-width post-tabs" style='<%= subclass %>'>
                            <li class="tab post" ><a href="#<%= micropost.id %>-yearly" class="tab-card-link" style='<%= text_color %>'>Stats</a></li>
                        </ul>
                    </div>
                    <div class="card-content grey lighten-4">
                        <div id="<%= micropost.id %>-yearly">
                            <table class="table centered highlight">
                                <thead>
                                    <tr>
                                        <th>Completions</th>
                                        <th>Kills</th>
                                        <th>Deaths</th>
                                    </tr>
                                </thead>
                        
                                <tbody>
                                    <tr>
                                        <td class= "tooltipped" data-position="top" data-delay="50" data-tooltip="Coming Soon!" ><%= stats["Character Stats"]["Completions"] %></td>
                                        <td class= "tooltipped" data-position="top" data-delay="50" data-tooltip="Coming Soon!"><%= stats["Character Stats"]["Kills"] %></td>
                                        <td class= "tooltipped" data-position="top" data-delay="50" data-tooltip="Coming Soon!"><%= stats["Character Stats"]["Deaths"] %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                <% end %>
                <br>    
                <div class="row">
                        <div class="col s4 left-align">
                            <%= link_to @message, target: "_blank" do %>
                            <span class="icon">
                                <i class="fa fa-envelope"></i>
                            </span>
                        <% end %>
                    </div>
                    <% total = micropost.user.votes_for + micropost.user.votes_against %> 
                    <% tip = "Player Reputation Score (#{total} votes)" %>    
                    <div class="col s4 center-align tooltipped" data-position="top" data-delay="50" data-tooltip="<%= tip %>" >
                            
                            <% rep =  total != 0  ? ((micropost.user.votes_for / total).round(1) * 100) : "0" %>
                            <%= rep %>%
                    </div>
                    <div class="col s4 right-align">
                        <% if current_user == micropost.user %>
                            <%=  link_to  micropost, method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
                                <span class="icon">
                                <i class="fa fa-trash"></i>
                                </span>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
