
    <% user_id = User.find_by(:display_name => micropost.user["display_name"]).id %>
    <% character_races = {0 => "Titan", 1 => "Hunter", 2 => "Warlock"} %>
    <% if micropost.destiny_version == "1" %>
        <% modes = {
            0 => "Any (D1)",
            1 => "Other (D1)",
            2 => "Story (D1)",
            3 => "Strike Playlist (D1)",
            4 => "Nightfall (D1)",
            5 => "Crucible Playlist (D1)",
            6 => "Trials of Osiris (D1)",
            7 => "Vault of Glass",
            8 => "Crota's End",
            9 => "King's Fall",
            10 => "Wrath of the Machine",
            11 => "Iron Banner (D1)"
        }%>
    <% else %>
        <% modes = {
            0 => "Any",
            1 => "Other",
            2 => "Story",
            3 => "Strike Playlist",
            4 => "Nightfall",
            5 => "Crucible Playlist",
            6 => "Trials of Osiris",
            7 => "RAID",
            8 => "RAID",
            9 => "RAID",
            10 => "RAID",
            11 => "Iron Banner"
        }%>
        <% end %>
<!-- =begin
0 - any
1 - other
2 - story
3 - strikes
4 - nightfall
5 - crucible playlist
6 - trials of osiris
7 - raid 1 
8 - raid 2
9 - raid 3
10 - raid 4 
11 - iron banner
=end -->
    <% if micropost.user_stats.nil? %>
        <% if micropost.destiny_version == "1" %>
            <% case micropost.game_type.to_i 
            when 6 %>
                <% stats = get_stats_d1(micropost.user, 6)[0] %>
            <% when 10 %> 
                <% stats = get_stats_d1(micropost.user, 10)[0] %>
            <% when 9 %>
                <% stats = get_stats_d1(micropost.user, 9)[0] %>
            <% when 8 %>
                <% stats = get_stats_d1(micropost.user, 8)[0] %>
            <% when 7 %>
                <% stats = get_stats_d1(micropost.user, 7)[0] %>
            <% when 4 %>
                <% stats = get_stats_d1(micropost.user, 4)[0] %>
            <% else %>
                <% stats = get_stats_d1(micropost.user, 1)[0] %>
            <% end %>
        <% else %>
            <% case micropost.game_type.to_i 
                when 2 %>
                <% stats = get_stats_d2(micropost.user, 2)[0] %>
            <% when 4 %> 
                <% stats = get_stats_d2(micropost.user, 4)[0] %>
            <% when 3 %>
                <% stats = get_stats_d2(micropost.user, 3)[0] %>
            <% when 0 %>
                <% stats = get_stats_d2(micropost.user, 0)[0] %>
            <% when 1 %>
                <% stats = get_stats_d2(micropost.user, 0)[0] %>
            <% when 5 %>
                <% stats = get_stats_d2(micropost.user, 5)[0] %>
            <% else %>
                <% stats = get_stats_d2(micropost.user, 1)[0] %>
            <% end %>
        <% end %>
    <% else %>
        <% stats = micropost.user_stats %>
    <% end %>

    


    <% case micropost.mic_required
        when  true %>
            <% mic = '<div class="col s4 right-align"><i class="fa fa-microphone tooltip" title="I have a mic!" style="color: #f5f5f5;"></i></div>'.html_safe %>
    <%  when false %>
            <% mic = '<div class="col s4 right-align"><i class="fa fa-microphone-slash tooltip" title="No mic." style="color: #f5f5f5;"></i></div>'.html_safe %>
    <%  end %> 

    <% case micropost.looking_for
        when  "Any" %>
            <% look_for = '<div class="col s4 center-align"><i class="fa fa-circle-o tooltip" title="Looking for Any" style="color: #f5f5f5;"></i></div>'.html_safe %>
    <%  when "Sherpa" %>
            <% look_for = '<div class="col s4 center-align"><i class="fa fa-exclamation-triangle tooltip" title="Looking to be carried" style="color: #f5f5f5;"></i></div>'.html_safe %>
    <%  when "Sherpee" %>
            <% look_for = '<div class="col s4 center-align"><i class="fa fa-diamond tooltip" title="Looking to Sherpa" style="color: #f5f5f5;"></i></div>'.html_safe %>
    <%  when "Similar" %>
            <% look_for = '<div class="col s4 center-align"><i class="fa fa-handshake-o tooltip" title="Looking for Similar" style="color: #f5f5f5;"></i></div>'.html_safe %>
    <%  end %> 
    

    <div class="col s12 m6 l4">
        <div id="<%= micropost.id %>">
            <div class="card-panel grey lighten-5 z-depth-1 hoverable" style="max-height: 400px;">
                <% bg = "background-image: url(#{stats['Character Stats']['Background']});" %>
                    <div class="post-header" style='<%= "#{bg} margin-bottom: 0px;" %>'>
                        <div class="row" style="overflow: hidden; max-height: 65px; ">
                            <div class="col s3 left-align" style="padding: 0; height: 65px;"><%= image_tag stats["Character Stats"]["Emblem"], style:"max-width: calc(100% - 2.6em); min-width: 65px; position: relative; right: 3%; height: auto;" %></div>
                            <% if micropost.user["display_name"].length >= 11 %>
                                <div class="col s6 center-align" style="height: 65px; color: white;"><%= link_to micropost.user["display_name"], user_path(user_id), style: "white-space: nowrap; font-size: 15px; color: #f5f5f5; position: relative; top: 34%; font-weight: 400;"%></div>
                            <% else %>
                                <div class="col s6 center-align" style="height: 65px; color: white;"><%= link_to micropost.user["display_name"], user_path(user_id), style: "white-space: nowrap; font-size: 17px; text-overflow: ellipsis; color: #f5f5f5; position: relative; top: 34%; font-weight: 400;"%></div>
                            <% end %>
                            <div class="col s3 center-align" style="height: 65px; color: white;">
                                <span style="color: gold; position: relative; top: 10%; line-height: 2.5em; font-weight: 300; font-size: 0.9em;">✦ <%= stats["Character Stats"]["Light Level"] %> </span>
                                <span style ="font-weight: 300; font-size: 0.9em;"><%= character_races[stats["Character Type"]] %></span>
                            </div>
                        </div>
                    </div>
                  
                    <div class="post-subheader" style='background: #2c2c2c; height: 30px; margin-bottom: -40px; margin-left: -9.1%; margin-right: -9.1%;'>
                            <div class="row" style="overflow: hidden; max-height: 30px;">
                                <div class="container" style="padding-top: 1%; width: 80%;">
                                    <div class="col s4 left-align "><i class="fa fa-shield tooltip" data-tooltip-content='<%= "#badge_content#{micropost.id}" %>' style="color: #f5f5f5;"></i></div>
                                    <%= look_for %>
                                    <%= mic %>
                                </div>
                            </div>
                    </div>
                    <div class="tooltip_templates">
                            <span id='<%= "badge_content#{micropost.id}"%>'>
                                <hr>
                                <% micropost.user.badges.each do |badge| %>   
                                <div class="row" style="margin-bottom: -5%">
                                    <div class="col s2"></div>                                
                                    <div class="col s8 center-align">                              
                                        <div class="chip" style='<%= badge.custom_fields[:color] %>' data-position="bottom">
                                        <%= badge.name %>
                                        <%= badge.custom_fields[:icon].html_safe %>
                                        </div>
                                    </div>  
                                    <div class="col s2"></div>                                      
                                </div>
                                <p class="center-align"><small><%= badge.description %></small></p>
                                <hr>
                                    
                                <% end %>
                            </span>
                        <% if micropost.game_type.to_i == 6 %>
                            <span id='<%= "diamond_elo_content#{micropost.id}"%>'>
                                <div class="row center-align">
                                    Diamond
                                </div>
                                <div class="row center-align">
                                    # <%= stats['Character Stats']['ELO']['Rank'] %>
                                </div>
                            </span>
                            <span id='<%= "platinum_elo_content#{micropost.id}"%>'>
                                <div class="row center-align">
                                    Platinum
                                </div>
                                <div class="row center-align">
                                   # <%= stats['Character Stats']['ELO']['Rank'] %>
                                </div>
                            </span>
                            <span id='<%= "gold_elo_content#{micropost.id}"%>'>
                                <div class="row center-align">
                                    Gold
                                </div>
                                <div class="row center-align">
                                   # <%= stats['Character Stats']['ELO']['Rank'] %>
                                </div>
                            </span>
                            <span id='<%= "silver_elo_content#{micropost.id}"%>'>
                                <div class="row center-align">
                                    Silver
                                </div>
                                <div class="row center-align">
                                   # <%= stats['Character Stats']['ELO']['Rank'] %>
                                </div>
                            </span>
                            <span id='<%= "bronze_elo_content#{micropost.id}"%>'>
                                <div class="row center-align">
                                    Bronze
                                </div>
                                <div class="row center-align">
                                   # <%= stats['Character Stats']['ELO']['Rank'] %>
                                </div>
                            </span>
                        <% end %>
                    </div>

                <div class="card-content" style="padding-top: 25px;">
                    <br>
                     
                    <span>
                        <b><%= modes[micropost.game_type.to_i] %></b>
                        <% if micropost.raid_difficulty != "" %>
                            <br><small> <%= micropost.raid_difficulty %> - <%= time_ago_in_words(micropost.created_at) %> ago</small>
                        <% else %>
                            <br><small><%= time_ago_in_words(micropost.created_at) %> ago</small>
                        <% end %>
                    </span>
                


                <br><br>    
                <div class="row valign-wrapper">
                    <!-- <div class="col s2">
                        <%= image_tag micropost.user.profile_picture, class: "circle responsive-img", style: "margin-left: -50%;" %>
                    </div> -->
                    <div class="col s12" style="height: 32px; margin-top: -10px;">
                            <span class="black-text truncate" style="margin-left: -7%; white-space: inherit;">
                                <%= micropost.content %>
                            </span>
                    </div>
                </div>
                <% if micropost.game_type.to_i == 6 %>
                    <%= render partial: 'trials_data', locals: {micropost: @micropost, stats: stats} %>
                <% elsif ["7", "8", "9", "10"]. include? micropost.game_type %>
                    <%= render partial: 'raid_data', locals: {micropost: @micropost, stats: stats} %>
                <% else %>
                    <%= render partial: 'other_data', locals: {micropost: @micropost, stats: stats} %>
                <% end %>
                <br> 
                <!-- <div class="row" style="margin-bottom: 5px;">
                    <% micropost.user.badges.each do |badge| %>                
                        <div class="chip tooltipped" style='<%= badge.custom_fields[:color] %> padding: 0 0px 0 8px;' data-position="top" data-delay="50" data-tooltip="<%= badge.description %>">
                          <%= badge.custom_fields[:icon].html_safe %>
                        </div>                
                    <% end %>
                </div> -->
                
                <div class="row">
                    <div class="col s4 left-align">
                        <% if micropost.user.api_membership_type == "1" %>
                            <%= link_to "https://account.xbox.com/en-US/SkypeMessages?gamerTag=#{micropost.user.display_name}", target: "_blank" do %>
                                <span class="icon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            <% end %>
                        <% end %>
                    </div>
                    <% total = micropost.user.votes_for + micropost.user.votes_against %> 
                    <% tip = "Player Reputation Score (#{total} votes)" %>    
                    <div class="col s4 center-align tooltipped" data-position="top" data-delay="50" data-tooltip="<%= tip %>" >                            
                        <% rep =  total != 0  ? ((micropost.user.votes_for / total).round(1) * 100) : "0" %>
                        <%= rep %>%
                    </div>
                    <div class="col s4 right-align">
                        <% if current_user == micropost.user %>
                            <%=  link_to  micropost, method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
                                <span class="icon">
                                <i class="fa fa-trash"></i>
                                </span>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
