<div class="box" id="<%= micropost.id %>">
  <article class="media">

    <!--Profile Image-->
    <div class="media-left">
      <figure class="image is-64x64">
        <%= image_tag( micropost.user["profile_picture"] ) %>
      </figure>
    </div>

    <!--Post Content -->
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to micropost.user["display_name"], user_path(micropost.user["id"]) %></strong>
          <small><%= time_ago_in_words(micropost.created_at) %> ago</small>
          <br><br>
          <%= micropost.content %>
          <br><br><br>
        </p>
      </div>
    </div>

    <!--Badges and Contact-->
    <div class="media-right">
      <nav class="level is-mobile">
        <div class="level-right">
          <% if micropost.user["display_name"] =~ /\A(?:Luminusss|ii WALZ ii|KURTO13|Putin Pudding)\z/ %>
            <a class="level-item">
             <span class="tag is-dark">Architect</span>
            </a>
          <% end %>
        </div>
      </nav>
    </div>
  </article>

  <!--Stats-->
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">ELO</p>
        <p>
          <%= micropost.user["elo"] %>
        </p>
      </div>
    </div>


<% character_races = {"0" => "Titan", "1" => "Hunter", "2" => "Warlock"} %>
    
    
      <% get_stats[0]["Character Stats"].each do |k,v| %>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading"><%= k %></p>
            <p><%= v %></p>
          </div>
        </div>
      <% end %>




  </nav>

  <!--Mod buttons-->
  <nav class="level is-mobile">
 
    <div class="level-left">
      <div class="level-item">
        <% if current_user == micropost.user %>
          <%=  link_to  micropost, method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
            <span class="icon">
              <i class="fa fa-trash"></i>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="level-right">
      <div class="level-item">        
          <div class="media-left">
            <%= link_to @message, target: "_blank" do %>
              <span class="icon">
                <i class="fa fa-envelope"></i>
              </span>
            <% end %>
          </div>
      </div>
    </div>

</nav>

</div>


