<% d1_options = { 
    "All" => [["All Modes", ""]],
    "PVE" => [["Nightfall", 4], ["Wrath of the Machine", 10], ["King's Fall", 9], ["Crota's End", 8], ["Vault of Glass", 7], ["Challenge of the Elders", 1], ["Heroic Strikes", 3], ["Story", 2], ["Other", 1]],
    "PVP" => [["Trials of Osiris", 6], ["Iron Banner", 11], ["Crucible Playlist", 5], ["Other", 1]]
} %>
<% d2_options = { 
    "All" => [["All Modes", ""]],
    "PVE" => [["Leviathan Raid", 7], ["Story", 2], ["Nightfall", 4],  ["Strike Playlist", 3], ["Any", 0], ["Other", 1]],
    "PVP" => [["Trials of the Nine", 6], ["Crucible Playlist", 5], ["Other", 1]]
} %>

<div class="container" style="width: 100%">
    <section class="hero is-medium is-dark is-bold post-header-background hide-on-med-and-down" style="height: 150px;">
        <div class="hero-body">
            <div class="container" style="width: 80%">
            <h1 class="title hero" style="margin-top: 4%; margin-left: -5%;">
                Find a Team
            </h1>
            <h2 class="subtitle" id="game-type" style="margin-left: -5%;">
                All Game Modes
            </h2>
            </div>
        </div>
    </section>

</div>
    <div class="container" style="width: 80%">
            <ul class="collapsible popout mobile-fix" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">message</i>New Post</div>
                    <div class="collapsible-body" style="background: white;">
                        <div class="col s12">
                            <ul class="tabs tabs-fixed-width post-form-tabs" style="background-color: #5085a5; width: 107%; margin: -3.5%;" >
                                <li class="tab col s6"><a href="#d2" class="post-form-tabs active">Destiny 2</a></li>
                                <li class="tab col s6"><a href="#d1" class="post-form-tabs">Destiny 1</a></li>
                            </ul>
                        </div>
                        <% users = User.where(:api_membership_type => current_user.api_membership_type).all %>
                        <div id="d1">
                            Sorry, this is temporarily unavailable.
                        </div>
                        <div id="d2">
                            <%= render partial: 'shared/micropost_form2', locals: {users: users} %>
                        </div>
                                        
                    </div>
                </li>                
            </ul>



            <ol class="microposts">
                    <div class="row posts" style="margin-left: -4%;">

                        <div id="posts-container" >
                            <div style="display: none !important"> <%=  link_to "", microposts_path, remote: true, id: "load-link" %></div>
                            <div id="posts-data">
                                <div class="row">
                                    <div class="col s12 center-align" style="margin-top: 10%;">
                                        <%= image_tag  "ajax-loader.gif" %>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </ol>
            <div id="post-fire" style="display: none;"></div>
            <br>    
            <center><%= will_paginate @microposts, renderer: MaterializePagination::Rails,  :page_links => false  %></center>
</div>


    <div class="fixed-action-btn hide-on-small-only" style="margin-bottom: 70px;">
        <a class="btn-floating btn-large pulse modal-trigger" href="#lfgmodal">
            <i class="large material-icons hide-on-small-only" style="border-radius: 100%;">info</i>
        </a>
    </div>

    <div id="lfgmodal" class="modal">
        <div class="modal-content" style="color: black;">
        <h2 class="center-align">LFG Posts</h2>
        <br>
        <p>Welcome to our LFG section.  Here is where you will be able to find other players that are interested in the same game types as you.  Don't worry about putting your stats in (KD/ ELO or Raid Completions.  We'll take care of that for you!</p>
        <br>
        <h4 style="color: #88BBD6;">Stats</h4>
        <hr>
        <p>The biggest issue that we found with other sites, is that people often lie about their stats.  We've all been there.  Frustrating, we know.  When you make your post, depending on what playlist, your stats will automatically be brought in.  Things like your KD, ELO, Raid Completions etc. will be automatically compiled.  Your stats are character based, so that will change depending on what character you are posting on<p>
        <br>
        <h4 style="color: #88BBD6;">Filtering</h4>
        <hr>
        <p>Filtering the post section is obviously an important feature.  We took it one step further.  Since your stats are automatically being compiled, we thought it would be cool to use that in our filtering section. Looking for someone to ELO boost with?  Filter for users under 1000 ELO.  Looking for someone on your same skill level?  Great!  Just selecting "Looking for Similar" and only those within 200 ELO points and .2kd will show up!</p>
        </div>
    </div>


<!-- Filter Icon -->
    <div class="fixed-action-btn hide-on-mobile-only">
        <a class="btn-floating btn-large teal lighten-1 modal-trigger"  href="#post-filter-modal">
            <i class="fa fa-filter" aria-hidden="true"></i>
        </a>
    </div>
      
      
<!-- Post Modal Structure -->
<div id="post-filter-modal" class="modal filter-model" style=" height: 75%; width: 80%">
    <div class="modal-content">
        <%= form_tag microposts_path, method: :get, remote: true, id: 'filter_game_form' do %>
        <div class="row">
            <div class="col s12 left-align">
                <label class="version-label" style="top: -25px;">Version</label>
                <div class="switch" id="version">
                    <label style="color: #212155;">
                        Destiny 1
                        <input type="checkbox" class="checkbox" value='2' name="destiny_version" id="micropost_game_version" checked>
                        <span class="lever"></span>
                        Destiny 2
                    </label>
                </div>
            </div>
        </div>
        <div class="row">

            
            <div id="d2-options">
                <div class="col s12 m6">
                    <label>Game Mode</label><br> 
                    <%= select_tag :game_type, grouped_options_for_select(d2_options), class: 'game_type_select2' %>
                </div>
            </div>
            <div id="d1-options">
                <div class="col s12 m6">
                    <label>Game Mode</label><br> 
                    <%= select_tag :game_type, grouped_options_for_select(d1_options), class: 'game_type_select' %>
                </div>
            </div>

            <div class="col s12 m6">
                <label>Mic Required?</label><br>   
                <%= select_tag :mic_required, options_for_select([['No', ''], ['Yes', true]]), class: 'microphone_select' %>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <label>Player Looking For</label><br>   
                <%= select_tag :looking_for, options_for_select([ ['Any', ''], ['Sherpa', 'Sherpa'],['Sherpee', 'Sherpee'],["Similar", "Similar"]]), class: 'looking_for_select' %>
            </div>
        </div>
        <div id="filter-sliders">
            <div class="row">
                <div class="col s12 m6 hide-on-small-only" >
                    <div class="row">
                        <div class="col s12"><label>ELO</label><br><br></div>
                        <div class="col s12"><div id="elo-slider"></div></div>
                        <div class="col s6 left-align"><label>Min: <span id="elo-field-min">1000</span></label></div>                        
                        <div class="col s6 right-align"><label>Max: <span id="elo-field-max">2000</span></label></div>
                    </div>                
                </div>
                <div class="col s12 m6 hide-on-small-only">
                    <div class="row">
                        <div class="col s12"><label>K/D</label><br><br></div>
                        <div class="col s12"><div id="kd-slider"></div></div>
                        <div class="col s6 left-align"><label>Min: <span id="kd-field-min">1.0</span></label></div>                        
                        <div class="col s6 right-align"><label>Max: <span id="kd-field-max">2.0</span></label></div>
                    </div>                
                </div>
                <div class="col s12 m6 hide-on-med-and-up">
                    <label>MIN ELO</label><br> 
                    <%= text_field_tag :elo_min, nil%>
                </div>
                <div class="col s12 m6 hide-on-med-and-up">
                    <label>MAX ELO</label><br>   
                    <%= text_field_tag :elo_max, nil%>
                </div>
            </div>       
            <div class="row">
                <div class="col s12 m6 hide-on-med-and-up" >
                    <label>MIN K/D</label><br> 
                    <%= text_field_tag :kd_min, nil%>
                </div>
                <div class="col s12 m6 hide-on-med-and-up">
                    <label>MAX K/D</label><br> 
                    <%= text_field_tag :kd_max, nil %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">                
                <a class="waves-effect waves-light btn" id="update-form">Update</a>
            </div>
        </div>

        <%= hidden_field_tag(:game_type, "" , :id => "game-type-filter") %>
    <% end %>
    </div>
</div>