<section class="hero is-medium is-dark is-bold" style="background-image: linear-gradient(141deg, #009e6c 0%, #00d1b2 71%, #00e7eb 100%);">
        <div class="hero-body">
            <div class="container" >
            <h1 class="title hero">
                Find a Team
            </h1>
            <h2 class="subtitle" id="game-type">
                All Game Modes
            </h2>
            </div>
        </div>
    </section>

        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">add_circle</i>Post an ad</div>
                <div class="collapsible-body">
                    <%= render 'shared/micropost_form' %>
                </div>
            </li>                
        </ul>


        <label>Game Mode</label><br>
        <%= form_tag microposts_path, method: :get, remote: true, id: 'filter_game_form' do %>
            <%= select_tag :game_type, options_for_select([['All Modes', ''],['Trials of Osiris', 'Trials of Osiris'], ['Wrath of the Machine', 'Wrath of the Machine'], ["King's Fall", "King's Fall"], ["Crota's End", "Crota's End"], ['Vault of Glass', 'Vault of Glass'], ['Nightfall', 'Nightfall']]), class: 'game_type_select' %>
        <% end %>


          <ol class="microposts">
                <div class="row posts" style="margin-left: -4%;">
                    <%= render @microposts %>
                </div>
            </ol>
        
        <br>    
        <center><%= will_paginate @microposts, renderer: MaterializePagination::Rails,  :page_links => false  %></center>




