
<ul id="slide-out" class="side-nav">
  <% if user_signed_in? %>
    <li class="center-align round-image">
      <%= image_tag( current_user["profile_picture"], class:"round-image" ) %>
    </li>
    <li class="center-align gamertag-name">
      <%=link_to current_user["display_name"], profile_path, class: "gamertag-name" %>
    </li>
    <li>
      <div class="nav-wrapper">
        <%= form_tag(users_path, :method => "get", id: "search-form") do %>
          <div class="input-field">
            <%= search_field :search, params[:search], placeholder: "Guardian Lookup", class: "input" %>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        <% end %>
      </div>
    </li>
    <li>
      <div class="divider"></div>
    </li>
    <li>
      <%= link_to "Home",    root_path, class: "navbar-item" %>
    </li>
    <li>
      <%= link_to "Posts",   microposts_path, class: "navbar-item" %>
    </li>
    <li>
      <%= link_to "Logout", destroy_user_session_path, class: "navbar-item" %>
    </li>
    <% else %>
      <li>
        <%= link_to "Login", new_user_session_path, :class => 'navbar-item'  %>
      </li>
    
      <% end %>
</ul>

<link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?rd5re8">



<div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large teal lighten-1">
      <i class="large material-icons">info</i>
    </a>

    
    <ul>
      <li class="waves-effect waves-light"><a href="#faq-modal"><i class="fa fa-question-circle fa-3x"></i></a></li>
      <li class="waves-effect waves-light"><a href="#!"><i class="socicon-facebook"></i></a></li>
      <li class="waves-effect waves-light"><a href="https://github.com/destiny-aviato/destinder"><i class="socicon-github"></i></a></li>
      <li class="waves-effect waves-light"><a href="#!"><i class="socicon-paypal"></i></a></li>
    </ul>
  </div>

  <% if user_signed_in? %>
    <div class="fixed-action-btn toolbar action-button-fix">
      <a class="btn-floating btn-large teal lighten-1" href="#modal5">
        <i class="large material-icons">search</i>
      </a>
  <% end %>

</div>


    
  

  <!-- Modal Structure -->
  <div id="modal5" class="modal bottom-sheet">
    <div class="modal-content">
      <p>Trials Team Lookup</p>
      <form>
          <div class="input-field">
            <input id="search" type="search" required placeholder="Enter Gamertag">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>

        <p>PVP Team Lookup</p>
      <form>
          <div class="input-field">
            <input id="search" type="search" required placeholder="Enter Gamertag">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>

    </div>
  </div>

  <!-- FAQ Modal -->
  <div id="faq-modal" class="modal">
    <div class="modal-content">
      <%= render 'home/faq'%>
    </div>
  </div>

  

 

  


<a href="" data-activates="slide-out" class="button-collapse"><i class="material-icons slide-fix">menu</i></a>