<nav class="navbar">
  <div class="navbar-brand">
    <!--<a class="navbar-item" href="http://bulma.io">
      <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>-->

    <!--<a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-github"></i>
      </span>
    </a>-->

    <!--<a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-twitter"></i>
      </span>
    </a>-->

    <div id="navbar-burger" class="navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id='navbar-menu' class="navbar-menu">
    <% if user_signed_in? %>
      <div class="navbar-start">



        <%= form_tag(users_path, :method => "get", id: "search-form") do %>
         <div class="field has-addons has-addons-right" style="position: absolute; top: 15%; left: 1%;">
            <p class="control">
                <span class="select">
                  </span>
            </p>
            <p class="control is-expanded has-icons-left">
                <span class="icon is-small is-left">
                    <i class="fa fa-search"></i>
                  </span>
                  <%= text_field_tag :search, params[:search], placeholder: "Find a player", class: "input" %>
                </p>
              <p class="control">
                  <%= submit_tag "Search", :name => nil, class: "button is-primary" %>
                </p> 
         </div>
      <% end %>
      </div>
      <% end %> 

    <div class="navbar-end">
      <% if user_signed_in? %> 
        <%= link_to "Home",    root_path, class: "navbar-item" %>

        <a href="/profile" class="navbar-item">
          <figure class="image is-16x16" style="margin-right: 8px;">
            <%= image_tag( current_user["profile_picture"] ) %>
          </figure>
            <%= current_user["display_name"] %>
        </a>

        <%= link_to "Logout", destroy_user_session_path, class: "navbar-item" %>
      <% else %> 
          <%= link_to "Login", new_user_session_path, :class => 'navbar-item'  %>
      <% end %>
    </div>
  </div>
</nav>