<!--<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="/">Intense Spire</a>
    <nav>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",    root_path %></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">Trials <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Stats",    "/" %></li>
              <li><%= link_to "LFG",    "/" %></li>
            </ul>
          </li>



            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">Raids <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Stats",    "#" %></li>
                <li><%= link_to "LFG",    "#" %></li>
              </ul>
            </li>
            
           
           <li><%= link_to "Help",    "#" %></li>

           <% if user_signed_in? %> 
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <strong>
                            <% if !current_user["xbox_display_name"].nil? %>
                                <%= current_user["xbox_display_name"] %> 
                            <% elsif !current_user["psn_display_name"].nil? %>
                                <%= current_user["psn_display_name"] %> 
                            <% end %>
                            
                        </strong>                       
                        <span class="caret"></span>
                    </a>
              <ul class="dropdown-menu">
                <li>
                    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                </li>
              </ul>
            </li>
        <% else %> 
            <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %> 
            
                
        </ul>
      </div>
    </nav>
  </div>
</header>-->


<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      <!--<img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">-->
      
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle">
    <span></span>
  <span></span>
  <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu">
    <%= link_to "Home",    root_path, class: "nav-item is-tab" %>
    <% if user_signed_in? %> 
      <a class="nav-item">
        <figure class="image is-16x16" style="margin-right: 8px;">
          <%= image_tag( current_user["profile_picture"] ) %>
        </figure>
        <% if !current_user["xbox_display_name"].nil? %>
          <%= current_user["xbox_display_name"] %>
        <% elsif !current_user["psn_display_name"].nil? %>
          <%= current_user["psn_display_name"] %>
        <% end %>
      </a>

      <% else %> 
          <%= link_to "Login", new_user_session_path, :class => 'nav-item is-tab'  %>
      <% end %>
    
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-item is-tab'  %>
    <% end %>

      <div class="nav-item is-tab">
        <div class="field is-grouped">
          <p class="control">
            <a class="button">
            <span class="icon">
              <i class="fa fa-paypal"></i>
            </span>
            <span>Donate</span>
          </a>
          </p>
        </div>
      </div>
  </div>
</nav>



