<!-- Slide out Nav -->
<ul id="slide-out" class="side-nav" style="background-color: #212121;">
  <% if user_signed_in? %>
    <li class="center-align round-image" style="width: 100%;">
    <%= image_tag( current_user["profile_picture"], class:"round-image2" ) %>
    </li>
    <li class="center-align gamertag-name">
      <%= current_user["display_name"] %>
    </li>
    <li>
      <div class="row" style="width: 80%;">
        <div class="col s3">
            <a class="modal-trigger" href="#faq-modal" data-turbolinks="false"><i class="fa fa-question-circle fa-2x" style="color: #D1D1D1;"></i></a>
        </div>
        <div class="col s3">
            <a href="#!"><i class="fa fa-twitter fa-2x" style="color: #D1D1D1;"></i></a>
        </div>
        <div class="col s3">
            <a href="https://github.com/destiny-aviato/destinder"><i class="fa fa-github fa-2x" style="color: #D1D1D1;"></i></a>
        </div>
        <div class="col s3">
            <a href="#!"><i class="fa fa-paypal fa-2x" style="color: #D1D1D1;"></i></a>
        </div>
      </div>
    </li>
    <li>
      <div class="nav-wrapper">
        <%= form_tag(users_path, :method => "get", id: "search-form") do %>
          <div class="input-field">
            <%= search_field :search, params[:search], placeholder: "Guardian Lookup", class: "input" %>
            <label class="label-icon" for="search"><i class="material-icons" style="color: #D1D1D1;">search</i></label>
            <i class="material-icons">close</i>
          </div>
        <% end %>
      </div>
    </li>
    <li>
      <div class="divider"></div>
    </li>
    <br>
    <li>
      <%= link_to root_path, class: "navbar-item" do %>
        <i class="material-icons" style="color: #D1D1D1;">home</i> HOME
      <% end %>
    </li>
    <li>
      <%= link_to microposts_path, class: "navbar-item" do %>
        <i class="material-icons" style="color: #D1D1D1;">message</i> LFG POSTS
      <% end %>
    </li>
    <li>
      <%= link_to profile_path, class: "navbar-item" do %>
        <i class="material-icons" style="color: #D1D1D1;">person</i> PROFILE
      <% end %>
    </li>
    <li>
      <%= link_to "#rewards-modal", class: "navbar-item modal-trigger" do %>
        <i class="material-icons" style="color: #D1D1D1;">card_giftcard</i> EARN STUFF!
      <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path, class: "navbar-item" do %>
        <i class="material-icons" style="color: #D1D1D1;">power_settings_new</i> LOGOUT
      <% end %>
    </li>
    <% else %>
      <li>
        <%= link_to new_user_session_path, class: "navbar-item" do %>
          <i class="material-icons" style="color: #D1D1D1;">power_settings_new</i> LOGIN
        <% end %>
      </li>
    <% end %>
</ul>

<!-- Search bar icon -->
<% if user_signed_in? %>
  <div class="fixed-action-btn toolbar hide-on-mobile-only">
    <a class="btn-floating btn-large teal lighten-1 modal-trigger"  href="#team-search-modal">
      <i class="large material-icons">search</i>
    </a>
  </div>
<% end %>


  <!-- Team lookup Modal Structure -->
<div id="team-search-modal" class="modal bottom-sheet">
  <div class="modal-content">
    <p>Trials Team Lookup</p>
    <div class="row">
      <%= form_for(TeamStat.new) do |f| %>
        <div class="input-field">
          <div class="row">
            <div class="input-field col s3">
              <%= f.select :membership_type, [["Xbox", "1"], ["Playstation", "2"]]%>
            </div>
            <div class="input-field col s9">
                <%= f.text_field :display_name, class: "input", placeholder: "Enter Gamertag" %>
              </div>
            <div class="hide-on-large-only">
              <%= f.submit "Search" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<!-- FAQ Modal -->
<div id="faq-modal" class="modal">
  <div class="modal-content">
    <%= render 'home/faq'%>
  </div>
</div>

<!-- Rewards Modal Structure -->
<div id="rewards-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h3>Help improve the site by donating!</h3>
    <div class="divider"></div>
    <div class="section">
      <h5>Any Amount</h5>
      <p>Get Stuff</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>More than just something</h5>
      <p>Get Stuff and more</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>A lot!</h5>
      <p>Get even more stuff!</p>
    </div>


  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat "><i class="fa fa-paypal fa-2x"></i> Donate</a>
  </div>
</div>

<!-- menu icon -->
<a class="btn-floating teal button-collapse slide-fix" href="" data-activates="slide-out">
  <i class="material-icons" style="color: #D1D1D1;">menu</i>
</a>
