<!--OLD NAV BAR >
  <!--<div id='navbar-menu' class="navbar-menu">
    <% if user_signed_in? %>
      <div class="navbar-start">



        <%= form_tag(users_path, :method => "get", id: "search-form") do %>
         <div class="field has-addons has-addons-right" style="position: absolute; top: 15%; left: 1%;">
            <p class="control">
                <span class="select">
                  </span>
            </p>
            <p class="control is-expanded has-icons-left">
                <span class="icon is-small is-left">
                    <i class="fa fa-search"></i>
                  </span>
                  <%= text_field_tag :search, params[:search], placeholder: "Find a player", class: "input" %>
                </p>
              <p class="control">
                  <%= submit_tag "Search", :name => nil, class: "button is-primary" %>
                </p> 
         </div>
      <% end %>
      </div>
      <% end %> 

    <div class="navbar-end">
      <% if user_signed_in? %> 
        <%= link_to "Home",    root_path, class: "navbar-item" %>

        <a href="/profile" class="navbar-item">
          <figure class="image is-16x16 is-hidden-mobile" style="margin-right: 8px;">
            <%= image_tag( current_user["profile_picture"] ) %>
          </figure>
            <%= current_user["display_name"] %>
        </a>

        <%= link_to "Logout", destroy_user_session_path, class: "navbar-item" %>
      <% else %> 
          <%= link_to "Login", new_user_session_path, :class => 'navbar-item'  %>
      <% end %>
    </div>
  </div>
</nav>-->
<nav>
  <div style="background-color: #F44336;" class="nav-wrapper">
    <a href="#" class="brand-logo center">Destinder</a>
  </div>

</nav>
<ul id="slide-out" class="side-nav">
  <% if user_signed_in? %>
    <li class="center-align round-image">
      <%= image_tag( current_user["profile_picture"], class:"round-image" ) %>
    </li>
    <li class="center-align gamertag-name">
      <%=link_to current_user["display_name"], profile_path %>
    </li>
    <li>
      <div class="nav-wrapper">
        <form>
          <div class="input-field">
            <input id="search" type="search" required placeholder="Guardian Lookup">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </li>
    <li>
      <div class="divider"></div>
    </li>
    <li>
      <%= link_to "Home",    root_path, class: "navbar-item" %>
    </li>
    <li>
      <%= link_to "Logout", destroy_user_session_path, class: "navbar-item" %>
    </li>
    <% else %>
      <li>
        <%= link_to "Login", new_user_session_path, :class => 'navbar-item'  %>
      </li>
    
      <% end %>
</ul>


<a href="" data-activates="slide-out" class="button-collapse"><i class="material-icons slide-fix">menu</i></a>