<!DOCTYPE html>
<html>
  <head>
    <title>Destinder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- 

    <link rel="apple-touch-icon" sizes="57x57" href="logo-57x57.jpg" />
    <link rel="apple-touch-icon" sizes="72x72" href="logo-72x72.jpg" />
    <link rel="apple-touch-icon" sizes="114x114" href="logo-114x114.jpg" />
    <link rel="apple-touch-icon" sizes="144x144" href="logo-144x144.jpg" />
    <link rel="apple-touch-startup-image" href="hunter.gif"> -->

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2757454986564342",
        enable_page_level_ads: true
      });
    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>
  <body class="<%= params[:controller] %> <%= params[:action] %>">
    <header>
        <%= render 'layouts/header' %>
        <%= flash_messages %>
    </header>
    <main>
      <div class="container" style="width: 100%; ">
        <%= yield %>
      </div>
    </main>
    <footer class="page-footer">
      <%= render 'layouts/footer' %>
    </footer>
    <% if Rails.env.development? %>
      <div class="container" style="background-color: #e6e6e6; padding: 0px 0px 0 100px; border-radius: 5px;">
        <code>
          <pre>
            <%= debug(params)%>
          </pre>
        </code>
      </div>
      <% end %>

  </body>
  <div class="se-pre-con"></div>
</html> 